branches/CFBranch/org.ncpdp.uml.functions/schemas/specialized.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
== Generated by hyperModel (www.XMLmodeling.com) Wed Feb 15 16:46:11 EST 2012
== Model: org.ncpdp.uml.functions
== Package: specialized
--><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ncpdp.org/schema/specialized" version="NCPDPv2011NovemberBallot" xmlns:datatypes="http://www.ncpdp.org/schema/datatypes" xmlns:ecl="http://www.ncpdp.org/schema/ecl" xmlns:specialized="http://www.ncpdp.org/schema/specialized" xmlns:structures="http://www.ncpdp.org/schema/structures" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.ncpdp.org/schema/datatypes" schemaLocation="datatypes.xsd"/>
  <xsd:import namespace="http://www.ncpdp.org/schema/ecl" schemaLocation="ecl.xsd"/>
  <xsd:import namespace="http://www.ncpdp.org/schema/structures" schemaLocation="structures.xsd"/>
  <!-- ================================================== -->
  <!-- =====  Complex Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ApprovedType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ApprovedType">
    <xsd:sequence>
      <xsd:element maxOccurs="10" minOccurs="0" name="ReasonCode" type="ecl:ReasonCode">
        <xsd:annotation>
          <xsd:documentation>Approved may contain a ReasonCode.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ReferenceNumber" type="datatypes:an1..35">
        <xsd:annotation>
          <xsd:documentation>Transaction Key. Used in conjunction with same field described above in the RequestReferenceNumber. The Mailbox may return the positional key of the specific piece of mail within their files.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Note" type="datatypes:an1..70"/>
      <xsd:element minOccurs="0" name="AdditionalMessageIndicator" type="xsd:boolean"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="MessageToFollowMessageIdentifier" type="datatypes:an1..35"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="NoKnown" type="ecl:NoKnownType"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ApprovedWithChangesType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ApprovedWithChangesType">
    <xsd:sequence>
      <xsd:element maxOccurs="10" minOccurs="0" name="ReasonCode" type="ecl:ReasonCode">
        <xsd:annotation>
          <xsd:documentation>ApprovedWithChanges may be accompanied by a ReasonCode.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ReferenceNumber" type="datatypes:an1..35">
        <xsd:annotation>
          <xsd:documentation>Transaction Key. Used in conjunction with same field described above in the RequestReferenceNumber. The Mailbox may return the positional key of the specific piece of mail within their files.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Note" type="datatypes:an1..70"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  BasicApprovedType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="BasicApprovedType">
    <xsd:complexContent>
      <xsd:restriction base="specialized:ApprovedType">
        <xsd:sequence>
          <xsd:element maxOccurs="10" minOccurs="0" name="ReasonCode" type="ecl:ReasonCode">
            <xsd:annotation>
              <xsd:documentation>Approved may contain a ReasonCode.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ReferenceNumber" type="datatypes:an1..35">
            <xsd:annotation>
              <xsd:documentation>Transaction Key. Used in conjunction with same field described above in the RequestReferenceNumber. The Mailbox may return the positional key of the specific piece of mail within their files.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Note" type="datatypes:an1..70"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="AdditionalMessageIndicator" type="xsd:boolean"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MessageToFollowMessageIdentifier" type="datatypes:an1..35"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NoKnown" type="ecl:NoKnownType"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Census  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Census">
    <xsd:annotation>
      <xsd:documentation>This transaction is sent from the resident source system to parties that need to be aware of these census changes.  

Designates type and description of census message – Admit, Discharge, Change. Used when a ReturnReceipt is requested.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="specialized:SpecializedRequest">
        <xsd:sequence>
          <xsd:element name="MessageRequestCode" type="ecl:MessageFunctionCode">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an1..3">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an1..35">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="FollowUpRequest" type="datatypes:n1..1">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="ClinicalInfoAttachment" type="structures:Attachment">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Allergy" type="structures:Allergy">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="3" minOccurs="0" name="BenefitsCoordination" type="structures:BenefitsCoordination">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="DiagnosisGeneral" type="structures:DiagnosisGeneral">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Facility" type="datatypes:Facility">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Patient" type="structures:Patient">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="Pharmacist" type="structures:Pharmacist">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="Pharmacy" type="structures:Pharmacy">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Prescriber" type="structures:PrescriberGeneral">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="Provider" type="structures:Provider">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="Service" type="specialized:ServiceType">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="AnticipatedReturnDate" type="datatypes:SimpleDateType">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="CensusEffectiveDate" type="datatypes:SimpleDateType">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="TimeZone" type="datatypes:TimeZone">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="DispensingRequestCode" type="ecl:DispensingRequestCode">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="Consent" type="ecl:ConsentCode">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="ClinicalInfoTypesRequested" type="ecl:ClinicalInfoRequestType">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="ClinicalInfoFormatsSupported" type="structures:ClinicalInformationFormatSupported">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="Note" type="datatypes:an1..210">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ClinicalInfoApprovedType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ClinicalInfoApprovedType">
    <xsd:complexContent>
      <xsd:restriction base="specialized:ApprovedType">
        <xsd:sequence>
          <xsd:element maxOccurs="10" minOccurs="0" name="ReasonCode" type="ecl:ReasonCode">
            <xsd:annotation>
              <xsd:documentation>Approved may contain a ReasonCode.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ReferenceNumber" type="datatypes:an1..35">
            <xsd:annotation>
              <xsd:documentation>Transaction Key. Used in conjunction with same field described above in the RequestReferenceNumber. The Mailbox may return the positional key of the specific piece of mail within their files.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Note" type="datatypes:an1..70"/>
          <xsd:element name="AdditionalMessageIndicator" type="xsd:boolean"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="MessageToFollowMessageIdentifier" type="datatypes:an1..35"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="NoKnown" type="ecl:NoKnownType"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ClinicalInfoRequest  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ClinicalInfoRequest">
    <xsd:annotation>
      <xsd:documentation>Query transactions are used for the exchange of patient-centric clinical health information.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="specialized:SpecializedRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="0" minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctionCode">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an1..3">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an1..35">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="FollowUpRequest" type="datatypes:n1..1">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="ClinicalInfoAttachment" type="structures:Attachment">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="Allergy" type="structures:Allergy">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="BenefitsCoordination" type="structures:BaseBenefitsCoordination">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="structures:DiagnosisGeneral">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Facility" type="datatypes:Facility">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Patient" type="structures:Patient">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="Pharmacist" type="structures:Pharmacist">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Pharmacy" type="structures:MandatoryAddressPharmacy">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Prescriber" type="structures:MandatoryPrescriber">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="Provider" type="structures:Provider">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="Service" type="specialized:GlobalServiceType">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="AnticipatedReturnDate" type="datatypes:SimpleDateType">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="CensusEffectiveDate" type="datatypes:SimpleDateType">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="TimeZone" type="datatypes:TimeZone">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="DispensingRequestCode" type="ecl:DispensingRequestCode">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Consent" type="ecl:ConsentCode">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" name="ClinicalInfoTypesRequested" type="ecl:ClinicalInfoRequestType">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ClinicalInfoFormatsSupported" type="structures:ClinicalInformationFormatSupported">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Note" type="datatypes:an1..210">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ClinicalInfoResponse  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ClinicalInfoResponse">
    <xsd:annotation>
      <xsd:documentation>The QueryResponse will indicate if the request is denied or approved and how the information will be sent.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="specialized:SpecializedResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="0" minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctionCode">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an1..3">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an1..35">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="FollowUpRequest" type="datatypes:n1..1">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Facility" type="datatypes:Facility">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Patient" type="structures:Patient">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="Pharmacist" type="structures:Pharmacist">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Pharmacy" type="structures:MandatoryAddressPharmacy">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Prescriber" type="structures:MandatoryPrescriber">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="Provider" type="structures:Provider">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="Service" type="specialized:ServiceType">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Response" type="specialized:ClinicalInformationResponseType">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Consent" type="ecl:ConsentCode">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ClinicalInfoFormatsSupported" type="structures:ClinicalInformationFormatSupported">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" name="ClinicalInfoTypesRequested" type="ecl:ClinicalInfoRequestType">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ClinicalInfoAttachment" type="structures:Attachment">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Note" type="datatypes:an1..210">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ClinicalInformationResponseType  <<choice>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ClinicalInformationResponseType">
    <xsd:complexContent>
      <xsd:restriction base="specialized:ResponseType">
        <xsd:choice>
          <xsd:element name="Denied" type="specialized:DeniedType"/>
          <xsd:element name="Approved" type="specialized:ClinicalInfoApprovedType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ApprovedWithChanges" type="specialized:ApprovedWithChangesType"/>
        </xsd:choice>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  DeniedType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DeniedType">
    <xsd:sequence>
      <xsd:element maxOccurs="10" name="ReasonCode" type="ecl:ReasonCode"/>
      <xsd:element minOccurs="0" name="ReferenceNumber" type="datatypes:an1..35">
        <xsd:annotation>
          <xsd:documentation>Transaction Key. Used in conjunction with same field described above in the RequestReferenceNumber. The Mailbox may return the positional key of the specific piece of mail within their files.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="DenialReason" type="datatypes:an">
        <xsd:annotation>
          <xsd:documentation>A DenialReason or DeniedNewRxToFollow response must be accompanied by the ReasonCode or DenialReason explanation, or both.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  GlobalServiceType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="GlobalServiceType">
    <xsd:annotation>
      <xsd:documentation>Used in MTMServiceRequest, MTMServiceResponse</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="MTMPayerCaseIdentifier" type="datatypes:an">
        <xsd:annotation>
          <xsd:documentation>Unique identifier assigned by the payer to this case. MTMPayerCaseIdentifier is subservient to the patient identifier. (A patient may have multiple cases, distinguished by multiple case identifiers.)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:choice>
        <xsd:element name="TypeOfServiceFreeText" type="datatypes:an">
          <xsd:annotation>
            <xsd:documentation>Can send FreeText or Code/Qualifier/Text - but not both. If a code list exists, the Code/Qualifier/Text are used, where Text must be from the Code Source, not free text.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="TypeOfService" type="datatypes:QualifiedCodeWithText">
          <xsd:annotation>
            <xsd:documentation>Note: The codification for MTM services is underway. At this point, to exchange the Service, the industry will exchange free text (TypeOfServiceFreeText) until services are codified. TypeOfServiceFreeText may be used or (TypeOfServiceCodeQualifier, TypeOfServiceCode and TypeOfServiceCodeText) – but not both. Once codified, TypeOfServiceCodeText, TypeOfServiceCode, TypeOfServiceCodeQualifier will be used and TypeOfServiceFreeText will be sunsetted.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
      <xsd:choice minOccurs="0">
        <xsd:element name="TargetedTypeOfServiceFreeText" type="datatypes:an">
          <xsd:annotation>
            <xsd:documentation>Can send FreeText or Code/Qualifier/Text - but not both. If a code list exists, the Code/Qualifier/Text are used, where Text must be from the Code Source, not free text</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="TargetedTypeOfService" type="datatypes:QualifiedCodeWithText">
          <xsd:annotation>
            <xsd:documentation>Note: The TargetedTypeOfServiceCodeQualifier contains code lists from which a codified TargetedTypeOfServiceCode and TargetedTypeOfServiceCodeText are to be populated. However, if a code does not exist for the target, free text may be used in the TargetedTypeOfServiceFreeText. TargetedTypeOfServiceFreeText may be used or (TargetedTypeOfServiceCodeQualifier, TargetedTypeOfServiceCode and TargetedTypeOfServiceCodeText) – but not both.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
      <xsd:element minOccurs="0" name="EffectiveDate" type="datatypes:DateType"/>
      <xsd:element minOccurs="0" name="ExpirationDate" type="datatypes:DateType"/>
      <xsd:element minOccurs="0" name="TotalNumberOfEncountersApproved" type="datatypes:n1..4"/>
      <xsd:element minOccurs="0" name="FrequencyOfEncountersApproved" type="datatypes:QualifiedCodeWithText"/>
      <xsd:element minOccurs="0" name="DateOfService" type="datatypes:SimpleDateType"/>
      <xsd:choice minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Can send FreeText or Code/Qualifier/Text - but not both. If a code list exists, the Code/Qualifier/Text are used, where Text must be from the Code Source, not free text. Note: The codification for MTM services is underway. At this point, to exchange the Result, the industry will exchange free text (ResultOfActionFreeText) until actions are codified. ResultOfActionFreeText may be used or (ResultOfActionQualifier, ResultOfActionText and ResultOfActionCode); but not both. Once codified, ResultOfActionText, ResultOfActionCode, ResultOfActionQualifier will be used and ResultOfActionFreeText will be sunsetted.</xsd:documentation>
        </xsd:annotation>
        <xsd:element name="ResultOfActionFreeText" type="datatypes:an"/>
        <xsd:element name="ResultOfAction" type="datatypes:QualifiedCodeWithText"/>
      </xsd:choice>
      <xsd:choice maxOccurs="unbounded" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Can send FreeText or Code/Qualifier/Text - but not both. If a code list exists, the Code/Qualifier/Text are used, where Text must be from the Code Source, not free text. Note: The codification for MTM services is underway. At this point, to exchange the Reason, the industry will exchange free text (ReasonForMTMServiceFreeText) until actions are codified. ReasonForMTMServiceFreeText may be used or (ReasonForMTMServiceQualifier, ReasonForMTMServiceText and ReasonForMTMServiceCode) but not both. Once codified, ReasonForMTMServiceText, ReasonForMTMServiceCode, ReasonForMTMServiceQualifier will be used and ReasonForMTMServiceFreeText will be sunsetted.</xsd:documentation>
        </xsd:annotation>
        <xsd:element name="ReasonForMTMServiceFreeText" type="datatypes:an"/>
        <xsd:element name="ReasonForMTMService" type="datatypes:QualifiedCodeWithText"/>
      </xsd:choice>
      <xsd:choice maxOccurs="unbounded" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Can send FreeText or Code/Qualifier/Text - but not both. If a code list exists, the Code/Qualifier/Text are used, where Text must be from the Code Source, not free text. Note: The codification for MTM services is underway. At this point, to exchange the Action, the industry will exchange free text (ResultActionFreeText) until actions are codified. MTMActionFreeText may be used or (MTMActionQualifier, MTMActionText and MTMActionCode) but not both. Once codified, MTMActionText, MTMActionCode, MTMActionQualifier will be used and MTMActionFreeText will be sunsetted.</xsd:documentation>
        </xsd:annotation>
        <xsd:element name="MTMActionFreeText" type="datatypes:an"/>
        <xsd:element name="MTMAction" type="datatypes:QualifiedCodeWithText"/>
      </xsd:choice>
      <xsd:element default="Y" minOccurs="0" name="TypeOfServiceGroupSetting" type="datatypes:an"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  MTMResponseType  <<choice>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MTMResponseType">
    <xsd:complexContent>
      <xsd:restriction base="specialized:ResponseType">
        <xsd:choice>
          <xsd:element name="Denied" type="specialized:DeniedType"/>
          <xsd:element name="Approved" type="specialized:BasicApprovedType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ApprovedWithChanges" type="specialized:ApprovedWithChangesType"/>
        </xsd:choice>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  MTMServiceDocumentation  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MTMServiceDocumentation">
    <xsd:annotation>
      <xsd:documentation>The MedicationTherapy Management (MTM) Service Documentation transaction (MTMServiceDocumentation) is a description of services rendered, which may include clinical information.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="specialized:SpecializedRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="0" minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctionCode">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an1..3">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an1..35">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="FollowUpRequest" type="datatypes:n1..1">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ClinicalInfoAttachment" type="structures:Attachment">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="Allergy" type="structures:Allergy">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="3" name="BenefitsCoordination" type="structures:BenefitsCoordination">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="structures:DiagnosisGeneral">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Facility" type="datatypes:Facility">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Patient" type="structures:PatientFull">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Pharmacist" type="structures:Pharmacist">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Pharmacy" type="structures:Pharmacy">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Prescriber" type="structures:PrescriberGeneral">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Provider" type="structures:Provider">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Service" type="specialized:MTMServiceDocumentationType">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="AnticipatedReturnDate" type="datatypes:SimpleDateType">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="CensusEffectiveDate" type="datatypes:SimpleDateType">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="TimeZone" type="datatypes:TimeZone">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="DispensingRequestCode" type="ecl:DispensingRequestCode">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="Consent" type="ecl:ConsentCode">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="ClinicalInfoTypesRequested" type="ecl:ClinicalInfoRequestType">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="ClinicalInfoFormatsSupported" type="structures:ClinicalInformationFormatSupported">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="Note" type="datatypes:an1..210">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  MTMServiceDocumentationType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MTMServiceDocumentationType">
    <xsd:annotation>
      <xsd:documentation>Used in MTMServiceRequest, MTMServiceResponse</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="specialized:GlobalServiceType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="MTMPayerCaseIdentifier" type="datatypes:an">
            <xsd:annotation>
              <xsd:documentation>Unique identifier assigned by the payer to this case. MTMPayerCaseidentifier is subservient to the patient identifier. (A patient may have multiple cases, distinguished by multiple case identifiers.)</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:choice>
            <xsd:element name="TypeOfServiceFreeText" type="datatypes:an">
              <xsd:annotation>
                <xsd:documentation>Can send FreeText or Code/Qualifier/Text - but not both. If a code list exists, the Code/Qualifier/Text are used, where Text must be from the Code Source, not free text.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="TypeOfService" type="datatypes:QualifiedCodeWithText">
              <xsd:annotation>
                <xsd:documentation>Note: The codification for MTM services is underway. At this point, to exchange the Service, the industry will exchange free text (TypeOfServiceFreeText) until services are codified. TypeOfServiceFreeText may be used or (TypeOfServiceCodeQualifier, TypeOfServiceCode and TypeOfServiceCodeText) – but not both. Once codified, TypeOfServiceCodeText, TypeOfServiceCode, TypeOfServiceCodeQualifier will be used and TypeOfServiceFreeText will be sunsetted.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:choice>
          <xsd:choice minOccurs="0">
            <xsd:element name="TargetedTypeOfServiceFreeText" type="datatypes:an">
              <xsd:annotation>
                <xsd:documentation>Can send FreeText or Code/Qualifier/Text - but not both. If a code list exists, the Code/Qualifier/Text are used, where Text must be from the Code Source, not free text</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="TargetedTypeOfService" type="datatypes:QualifiedCodeWithText">
              <xsd:annotation>
                <xsd:documentation>Note: The TargetedTypeOfServiceCodeQualifier contains code lists from which a codified TargetedTypeOfServiceCode and TargetedTypeOfServiceCodeText are to be populated. However, if a code does not exist for the target, free text may be used in the TargetedTypeOfServiceFreeText. TargetedTypeOfServiceFreeText may be used or (TargetedTypeOfServiceCodeQualifier, TargetedTypeOfServiceCode and TargetedTypeOfServiceCodeText) – but not both.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:choice>
          <xsd:element minOccurs="0" name="EffectiveDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="ExpirationDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="TotalNumberOfEncountersApproved" type="datatypes:n1..4"/>
          <xsd:element minOccurs="0" name="FrequencyOfEncountersApproved" type="datatypes:QualifiedCodeWithText"/>
          <xsd:element name="DateOfService" type="datatypes:SimpleDateType"/>
          <xsd:choice>
            <xsd:annotation>
              <xsd:documentation>Can send FreeText or Code/Qualifier/Text - but not both. If a code list exists, the Code/Qualifier/Text are used, where Text must be from the Code Source, not free text. Note: The codification for MTM services is underway. At this point, to exchange the Result, the industry will exchange free text (ResultOfActionFreeText) until actions are codified. ResultOfActionFreeText may be used or (ResultOfActionQualifier, ResultOfActionText and ResultOfActionCode); but not both. Once codified, ResultOfActionText, ResultOfActionCode, ResultOfActionQualifier will be used and ResultOfActionFreeText will be sunsetted.</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="ResultOfActionFreeText" type="datatypes:an"/>
            <xsd:element name="ResultOfAction" type="datatypes:QualifiedCodeWithText"/>
          </xsd:choice>
          <xsd:choice maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>Can send FreeText or Code/Qualifier/Text - but not both. If a code list exists, the Code/Qualifier/Text are used, where Text must be from the Code Source, not free text. Note: The codification for MTM services is underway. At this point, to exchange the Reason, the industry will exchange free text (ReasonForMTMServiceFreeText) until actions are codified. ReasonForMTMServiceFreeText may be used or (ReasonForMTMServiceQualifier, ReasonForMTMServiceText and ReasonForMTMServiceCode) but not both. Once codified, ReasonForMTMServiceText, ReasonForMTMServiceCode, ReasonForMTMServiceQualifier will be used and ReasonForMTMServiceFreeText will be sunsetted.</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="ReasonForMTMServiceFreeText" type="datatypes:an"/>
            <xsd:element name="ReasonForMTMService" type="datatypes:QualifiedCodeWithText"/>
          </xsd:choice>
          <xsd:choice maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>Can send FreeText or Code/Qualifier/Text - but not both. If a code list exists, the Code/Qualifier/Text are used, where Text must be from the Code Source, not free text. Note: The codification for MTM services is underway. At this point, to exchange the Action, the industry will exchange free text (MTMActionFreeText) until actions are codified. MTMActionFreeText may be used or (MTMActionQualifier, MTMActionText and MTMActionCode); but not both. Once codified, MTMActionText, MTMActionCode, MTMActionQualifier will be used and MTMActionFreeText will be sunsetted.</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="MTMActionFreeText" type="datatypes:an"/>
            <xsd:element name="MTMAction" type="datatypes:QualifiedCodeWithText"/>
          </xsd:choice>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  MTMServiceRequest  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MTMServiceRequest">
    <xsd:annotation>
      <xsd:documentation>This message is sent by the Payer to the Pharmacy or the Prescriber. The Payer is requesting the Pharmacy or Prescriber accept the patient and perform the service.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="specialized:SpecializedRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="0" minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctionCode">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an1..3">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an1..35">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="FollowUpRequest" type="datatypes:n1..1">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ClinicalInfoAttachment" type="structures:Attachment">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="Allergy" type="structures:Allergy">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="3" name="BenefitsCoordination" type="structures:BenefitsCoordination">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="structures:DiagnosisGeneral">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Facility" type="datatypes:Facility">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Patient" type="structures:PatientFull">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Pharmacist" type="structures:Pharmacist">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Pharmacy" type="structures:Pharmacy">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Prescriber" type="structures:PrescriberGeneral">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Provider" type="structures:Provider">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Service" type="specialized:ServiceType">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="AnticipatedReturnDate" type="datatypes:SimpleDateType">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="CensusEffectiveDate" type="datatypes:SimpleDateType">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="TimeZone" type="datatypes:TimeZone">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="DispensingRequestCode" type="ecl:DispensingRequestCode">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="Consent" type="ecl:ConsentCode">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="ClinicalInfoTypesRequested" type="ecl:ClinicalInfoRequestType">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="ClinicalInfoFormatsSupported" type="structures:ClinicalInformationFormatSupported">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="Note" type="datatypes:an1..210">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  MTMServiceResponse  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MTMServiceResponse">
    <xsd:annotation>
      <xsd:documentation>This message is sent by the Pharmacy or Prescriber to the Payer. It is the response to an MTMServiceRequest. The Pharmacy or Prescriber either accepts the patient and service, or rejects the patient and service.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="specialized:SpecializedResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="0" minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctionCode">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an1..3">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an1..35">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="FollowUpRequest" type="datatypes:n1..1">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Facility" type="datatypes:Facility">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Patient" type="structures:PatientFull">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Pharmacist" type="structures:Pharmacist">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Pharmacy" type="structures:Pharmacy">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Prescriber" type="structures:PrescriberGeneral">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Provider" type="structures:Provider">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Service" type="specialized:ServiceType">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Response" type="specialized:MTMResponseType">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="Consent" type="ecl:ConsentCode">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="ClinicalInfoFormatsSupported" type="structures:ClinicalInformationFormatSupported">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="ClinicalInfoTypesRequested" type="ecl:ClinicalInfoRequestType">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="ClinicalInfoAttachment" type="structures:Attachment">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="Note" type="datatypes:an1..210">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ResponseType  <<choice>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ResponseType">
    <xsd:choice>
      <xsd:element minOccurs="0" name="Denied" type="specialized:DeniedType"/>
      <xsd:element minOccurs="0" name="Approved" type="specialized:ApprovedType"/>
      <xsd:element minOccurs="0" name="ApprovedWithChanges" type="specialized:ApprovedWithChangesType"/>
    </xsd:choice>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ServiceType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ServiceType">
    <xsd:annotation>
      <xsd:documentation>Used in MTMServiceRequest, MTMServiceResponse</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="specialized:GlobalServiceType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="MTMPayerCaseIdentifier" type="datatypes:an">
            <xsd:annotation>
              <xsd:documentation>Unique identifier assigned by the payer to this case. MTMPayerCaseidentifier is subservient to the patient identifier. (A patient may have multiple cases, distinguished by multiple case identifiers.)</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:choice>
            <xsd:element name="TypeOfServiceFreeText" type="datatypes:an">
              <xsd:annotation>
                <xsd:documentation>Can send FreeText or Code/Qualifier/Text - but not both. If a code list exists, the Code/Qualifier/Text are used, where Text must be from the Code Source, not free text.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="TypeOfService" type="datatypes:QualifiedCodeWithText">
              <xsd:annotation>
                <xsd:documentation>Note: The codification for MTM services is underway. At this point, to exchange the Service, the industry will exchange free text (TypeOfServiceFreeText) until services are codified. TypeOfServiceFreeText may be used or (TypeOfServiceCodeQualifier, TypeOfServiceCode and TypeOfServiceCodeText) – but not both. Once codified, TypeOfServiceCodeText, TypeOfServiceCode, TypeOfServiceCodeQualifier will be used and TypeOfServiceFreeText will be sunsetted.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:choice>
          <xsd:choice minOccurs="0">
            <xsd:element name="TargetedTypeOfServiceFreeText" type="datatypes:an">
              <xsd:annotation>
                <xsd:documentation>Can send FreeText or Code/Qualifier/Text - but not both. If a code list exists, the Code/Qualifier/Text are used, where Text must be from the Code Source, not free text</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="TargetedTypeOfService" type="datatypes:QualifiedCodeWithText">
              <xsd:annotation>
                <xsd:documentation>Note: The TargetedTypeOfServiceCodeQualifier contains code lists from which a codified TargetedTypeOfServiceCode and TargetedTypeOfServiceCodeText are to be populated. However, if a code does not exist for the target, free text may be used in the TargetedTypeOfServiceFreeText. TargetedTypeOfServiceFreeText may be used or (TargetedTypeOfServiceCodeQualifier, TargetedTypeOfServiceCode and TargetedTypeOfServiceCodeText) – but not both.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:choice>
          <xsd:element minOccurs="0" name="EffectiveDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="ExpirationDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="TotalNumberOfEncountersApproved" type="datatypes:n1..4"/>
          <xsd:element minOccurs="0" name="FrequencyOfEncountersApproved" type="datatypes:QualifiedCodeWithText"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DateOfService" type="datatypes:SimpleDateType"/>
          <xsd:choice maxOccurs="0" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Can send FreeText or Code/Qualifier/Text - but not both. If a code list exists, the Code/Qualifier/Text are used, where Text must be from the Code Source, not free text. Note: The codification for MTM services is underway. At this point, to exchange the Result, the industry will exchange free text (ResultOfActionFreeText) until actions are codified. ResultOfActionFreeText may be used or (ResultOfActionQualifier, ResultOfActionText and ResultOfActionCode); but not both. Once codified, ResultOfActionText, ResultOfActionCode, ResultOfActionQualifier will be used and ResultOfActionFreeText will be sunsetted.</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="ResultOfActionFreeText" type="datatypes:an"/>
            <xsd:element name="ResultOfAction" type="datatypes:QualifiedCodeWithText"/>
          </xsd:choice>
          <xsd:choice minOccurs="0">
            <xsd:annotation>
              <xsd:documentation> Can send FreeText or Code/Qualifier/Text - but not both. If a code list exists, the Code/Qualifier/Text are used, where Text must be from the Code Source, not free text. Note: The codification for MTM services is underway. At this point, to exchange the Reason, the industry will exchange free text (ReasonForMTMServiceFreeText) until actions are codified. ReasonForMTMServiceFreeText may be used or (ReasonForMTMServiceQualifier, ReasonForMTMServiceText and ReasonForMTMServiceCode) but not both. Once codified, ReasonForMTMServiceText, ReasonForMTMServiceCode, ReasonForMTMServiceQualifier will be used and ReasonForMTMServiceFreeText will be sunsetted.</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="ReasonForMTMServiceFreeText" type="datatypes:an"/>
            <xsd:element name="ReasonForMTMService" type="datatypes:QualifiedCodeWithText"/>
          </xsd:choice>
          <xsd:choice maxOccurs="0" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Can send FreeText or Code/Qualifier/Text - but not both. If a code list exists, the Code/Qualifier/Text are used, where Text must be from the Code Source, not free text. Note: The codification for MTM services is underway. At this point, to exchange the Action, the industry will exchange free text (MTMActionFreeText) until actions are codified. MTMActionFreeText may be used or (MTMActionQualifier, MTMActionText and MTMActionCode); but not both. Once codified, MTMActionText, MTMActionCode, MTMActionQualifier will be used and MTMActionFreeText will be sunsetted.</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="MTMActionFreeText" type="datatypes:an"/>
            <xsd:element name="MTMAction" type="datatypes:QualifiedCodeWithText"/>
          </xsd:choice>
          <xsd:element default="Y" minOccurs="0" name="TypeOfServiceGroupSetting" type="datatypes:an"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SpecializedRequest  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType abstract="true" name="SpecializedRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctionCode"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ReturnReceipt" type="datatypes:an1..3">
        <xsd:annotation>
          <xsd:documentation>If this field is submitted with 1 in the request, a Verify transaction is to be sent from the recipient at some time.
1 = Return Receipt Requested
all other values = no return receipt requested.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="RequestReferenceNumber" type="datatypes:an1..35"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="FollowUpRequest" type="datatypes:n1..1">
        <xsd:annotation>
          <xsd:documentation>Indicator that this message is a follow-up </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ClinicalInfoAttachment" type="structures:Attachment">
        <xsd:annotation>
          <xsd:documentation>Provides patient summary information when applicable</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Allergy" type="structures:Allergy">
        <xsd:annotation>
          <xsd:documentation>The Allergy element enables the sender to inform the recipient of all known patient allergies. The element is intended to provide this patient allergy profile information to the recipient. If the Allergy element is sent, it must include all known patient allergies. Responder can send back an Allergy element, but should not echo back the Allergy element received on the request. 
Note: The Allergy element is not to be used to replace or add to the transfer of drug use evaluation information, which is instead communicated using the existing DUE composite in the medication information. This is a comprehensive list of allergies that the sender is aware of at the time the transaction is sent.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="BenefitsCoordination" type="structures:BaseBenefitsCoordination">
        <xsd:annotation>
          <xsd:documentation>Indicates coverage’s known to the sending system.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DiagnosisGeneral" type="structures:DiagnosisGeneral">
        <xsd:annotation>
          <xsd:documentation>Element may be used only in the long-term care setting, where there are established processes supporting the sharing of diagnosis information between a resident’s facility and pharmacy. Note: The medication information enables communication of prescription-specific diagnosis information only—appropriate for use in new prescription messaging, but insufficient to support management of a resident’s full drug regimen. The intent is to convey the diagnosis that the prescribed medication is for.  There is also a need to convey diagnosis information in the Census event.  The difference here is that there is no related drug.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Facility" type="datatypes:Facility">
        <xsd:annotation>
          <xsd:documentation>One loop mandatory for the skilled nursing facility.
Given that a new long term care resident may not yet have an assigned physician, it is more appropriate to require the facility information, and physician if that information is available.

 In long-term care settings, if the recipient is a facility, Facility is required.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Patient" type="structures:PatientFull">
        <xsd:annotation>
          <xsd:documentation>Designated Patient for transaction</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Pharmacist" type="structures:Pharmacist">
        <xsd:annotation>
          <xsd:documentation>Designated Pharmacist for transaction</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Pharmacy" type="structures:Pharmacy">
        <xsd:annotation>
          <xsd:documentation>Designated Pharmacy for transaction

If recipient is a pharmacy, Pharmacy is required.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Prescriber" type="structures:HistoryPrescriber">
        <xsd:annotation>
          <xsd:documentation>Attending Physician</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Provider" type="structures:Provider">
        <xsd:annotation>
          <xsd:documentation>Designated Provider for transaction</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Service" type="specialized:GlobalServiceType">
        <xsd:annotation>
          <xsd:documentation>Designates the service information to be exchanged.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="AnticipatedReturnDate" type="datatypes:SimpleDateType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="CensusEffectiveDate" type="datatypes:SimpleDateType">
        <xsd:annotation>
          <xsd:documentation>For Census, ChangeRequestType values D3 (Discharge – Return Anticipated), D4 (Discharge Other), LT (Therapeutic Leave of Absence) and LG (Hospital Leave of Absence), - value AR (Anticipated Patient Return Date/Time) is used in the second Date loop. When populated, the second date loop indicates the date and time of the resident’s anticipated return to the facility, using value “AR”.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="TimeZone" type="datatypes:TimeZone">
        <xsd:annotation>
          <xsd:documentation>Defines the time zone used by the sender.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DispensingRequestCode" type="ecl:DispensingRequestCode">
        <xsd:annotation>
          <xsd:documentation>Only allowed in the Census message, when the AnticipatedReturn date (AR) and the ChangeRequestType is Hospital Leave of Absence (LG) or Therapeutic Leave of Absence (LT)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Consent" type="ecl:ConsentCode"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ClinicalInfoTypesRequested" type="ecl:ClinicalInfoRequestType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ClinicalInfoFormatsSupported" type="structures:ClinicalInformationFormatSupported"/>
      <xsd:element minOccurs="0" name="Note" type="datatypes:an1..210">
        <xsd:annotation>
          <xsd:documentation>Used to provide extra information about the request as desired. Note should never be used as a simple email communication between parties. It must be relevant to the purpose of the initial request.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SpecializedResponse  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType abstract="true" name="SpecializedResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctionCode"/>
      <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an1..3">
        <xsd:annotation>
          <xsd:documentation>If this field is submitted with 1 in the request, a Verify transaction is to be sent from the recipient at some time.
1 = Return Receipt Requested
all other values = no return receipt requested.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an1..35"/>
      <xsd:element minOccurs="0" name="FollowUpRequest" type="datatypes:n1..1"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Facility" type="datatypes:Facility">
        <xsd:annotation>
          <xsd:documentation>One loop mandatory for the skilled nursing facility.
Given that a new long term care resident may not yet have an assigned physician, it is more appropriate to require the facility information, and physician if that information is available.

 In long-term care settings, if the recipient is a facility, Facility is required.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Patient" type="structures:PatientFull">
        <xsd:annotation>
          <xsd:documentation>Designated Patient for transaction</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Pharmacist" type="structures:Pharmacist">
        <xsd:annotation>
          <xsd:documentation>Designated Pharmacist for transaction</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Pharmacy" type="structures:Pharmacy">
        <xsd:annotation>
          <xsd:documentation>Designated Pharmacy for transaction

If recipient is a pharmacy, Pharmacy is required.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Prescriber" type="structures:HistoryPrescriber">
        <xsd:annotation>
          <xsd:documentation>Attending Physician</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Provider" type="structures:Provider">
        <xsd:annotation>
          <xsd:documentation>Designated Provider for transaction</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Service" type="specialized:ServiceType">
        <xsd:annotation>
          <xsd:documentation>Designates the service information to be exchanged.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="specialized:ResponseType"/>
      <xsd:element minOccurs="0" name="Consent" type="ecl:ConsentCode"/>
      <xsd:element minOccurs="0" name="ClinicalInfoFormatsSupported" type="structures:ClinicalInformationFormatSupported"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ClinicalInfoTypesRequested" type="ecl:ClinicalInfoRequestType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ClinicalInfoAttachment" type="structures:Attachment">
        <xsd:annotation>
          <xsd:documentation>Provides patient summary information when applicable</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Note" type="datatypes:an1..210">
        <xsd:annotation>
          <xsd:documentation>Used to provide extra information about the request as desired. Note should never be used as a simple email communication between parties. It must be relevant to the purpose of the initial request.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:annotation>
    <xsd:documentation>The NCPDP specialized.xsd defines Business Domain Transactions.</xsd:documentation>
  </xsd:annotation>
</xsd:schema>