branch-8-16-11/org.ncpdp.uml.ecl/schemas/script.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ncpdp.org/schema/SCRIPT" version="10.11" xmlns:datatypes="http://www.ncpdp.org/schema/datatypes" xmlns:ecl="http://www.ncpdp.org/schema/ECL" xmlns:ncpdp="http://www.ncpdp.org/schema/ncpdp" xmlns:original="original" xmlns:script="http://www.ncpdp.org/schema/SCRIPT" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.ncpdp.org/schema/ncpdp" schemaLocation="ncpdp.xsd"/>
  <xsd:import namespace="http://www.ncpdp.org/schema/datatypes" schemaLocation="datatypes.xsd"/>
  <xsd:import namespace="original" schemaLocation="originalrequests.xsd"/>
  <xsd:import namespace="http://www.ncpdp.org/schema/ECL" schemaLocation="ecl.xsd"/>
  <xsd:complexType name="ApprovedType">
    <xsd:sequence>
      <xsd:element maxOccurs="10" name="ReasonCode" type="datatypes:ReasonCode"/>
      <xsd:element minOccurs="0" name="ReferenceNumber" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="Note" type="datatypes:an..70"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ApprovedWithChangesType">
    <xsd:sequence>
      <xsd:element maxOccurs="10" name="ReasonCode" type="datatypes:ReasonCode"/>
      <xsd:element minOccurs="0" name="ReferenceNumber" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="Note" type="datatypes:an..70"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CancelRequestType">
    <xsd:complexContent>
      <xsd:restriction base="ncpdp:Request">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ChangeRequestType">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="C1|C2|C3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="ChangeofPrescriptionStatusFlag">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="D|C"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="CancelRx">
    <xsd:complexContent>
      <xsd:restriction base="script:RXRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Request" type="script:CancelRequestType"/>
          <xsd:element minOccurs="0" name="Pharmacy" type="ncpdp:Pharmacy"/>
          <xsd:element name="Prescriber" type="ncpdp:Prescriber"/>
          <xsd:element minOccurs="0" name="Supervisor" type="ncpdp:Supervisor"/>
          <xsd:element minOccurs="0" name="Facility" type="ncpdp:Facilty"/>
          <xsd:element name="Patient" type="ncpdp:Patient"/>
          <xsd:element name="MedicationPrescribed" type="ncpdp:Medication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Observation" type="ncpdp:Observation"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="BenefitsCoordination" type="ncpdp:BenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationDispensed" type="ncpdp:Medication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationRequested" type="ncpdp:Medication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Allergy" type="ncpdp:Allergy"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="ncpdp:DiagnosisGeneral"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FillStatus" type="ncpdp:FillStatusType"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CancelRxResponse">
    <xsd:complexContent>
      <xsd:restriction base="script:RXResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Request" type="ncpdp:Request"/>
          <xsd:element name="Response" type="script:ResponseType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Pharmacy" type="ncpdp:Pharmacy"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Prescriber" type="ncpdp:Prescriber"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Supervisor" type="ncpdp:Supervisor"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Facility" type="ncpdp:Facilty"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Patient" type="ncpdp:Patient"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationPrescribed" type="ncpdp:Medication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationDispensed" type="ncpdp:Medication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Observation" type="ncpdp:Observation"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="BenefitsCoordination" type="ncpdp:BenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationDispensedAdministered" type="ncpdp:Medication"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CancelSuspensionType"/>
  <xsd:complexType name="CensusRequestType">
    <xsd:complexContent>
      <xsd:extension base="ncpdp:Request">
        <xsd:sequence>
          <xsd:element name="ChangeRequestType">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="A|AC|C|CT|D1|D2|D3|D4|DC|IO|LC|LH|LR|LT|OI|PA|PC|RC|RO|TC"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="CensusEffectiveDate" type="datatypes:SimpleDateType"/>
          <xsd:element minOccurs="0" name="AnticipatedReturnDate" type="datatypes:SimpleDateType"/>
          <xsd:element minOccurs="0" ref="TimeZone"/>
          <xsd:element minOccurs="0" name="DispensingRequestCode">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="LOA"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Cenus">
    <xsd:complexContent>
      <xsd:restriction base="script:RXRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="script:CensusRequestType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Pharmacy" type="ncpdp:Pharmacy"/>
          <xsd:element minOccurs="0" name="Prescriber" type="ncpdp:Prescriber"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Supervisor" type="ncpdp:Supervisor"/>
          <xsd:element name="Facility" type="ncpdp:Facilty"/>
          <xsd:element name="Patient" type="ncpdp:Patient"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationPrescribed" type="ncpdp:Medication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Observation" type="ncpdp:Observation"/>
          <xsd:element maxOccurs="3" name="BenefitsCoordination" type="ncpdp:BenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationDispensed" type="ncpdp:Medication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationRequested" type="ncpdp:Medication"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Allergy" type="ncpdp:Allergy"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="DiagnosisGeneral" type="ncpdp:DiagnosisGeneral"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FillStatus" type="ncpdp:FillStatusType"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ChangeResponseType">
    <xsd:sequence>
      <xsd:element name="Approved" type="script:ApprovedType"/>
      <xsd:element name="Denied" type="script:DeniedType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DeniedNewRxToFollowType">
    <xsd:sequence>
      <xsd:element maxOccurs="10" name="ReasonCode" type="datatypes:ReasonCode"/>
      <xsd:element minOccurs="0" name="ReferenceNumber" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="DenialReason" type="datatypes:an..70"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DeniedType">
    <xsd:sequence>
      <xsd:element maxOccurs="10" name="ReasonCode" type="datatypes:ReasonCode"/>
      <xsd:element minOccurs="0" name="ReferenceNumber" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="DenialReason" type="datatypes:an..70"/>
      <xsd:element minOccurs="0" name="Pharmacy" type="original:MandatoryPharmacyType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DrugAdminRequestType">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="IndefiniteSuspension" type="script:IndefiniteSuspensionType"/>
        <xsd:element name="FixedLengthSuspension" type="script:FixedLengthSuspensionType"/>
        <xsd:element name="ResumeAdministration" type="script:ResumeAdministrationType"/>
        <xsd:element name="CancelSuspension" type="xsd:anyType"/>
      </xsd:choice>
      <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
      <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="DrugAdminReasonCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="01|02|03|04|05"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="DrugAdminReasonText" type="datatypes:an..100"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="DrugAdministration">
    <xsd:complexContent>
      <xsd:restriction base="script:RXRequest">
        <xsd:sequence>
          <xsd:element name="Request" type="script:DrugAdminRequestType"/>
          <xsd:element minOccurs="0" name="Pharmacy" type="ncpdp:Pharmacy"/>
          <xsd:element name="Prescriber" type="ncpdp:Prescriber"/>
          <xsd:element minOccurs="0" name="Supervisor" type="ncpdp:Supervisor"/>
          <xsd:element minOccurs="0" name="Facility" type="ncpdp:Facilty"/>
          <xsd:element name="Patient" type="ncpdp:Patient"/>
          <xsd:element name="MedicationPrescribed" type="ncpdp:Medication"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Observation" type="ncpdp:Observation"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="BenefitsCoordination" type="ncpdp:BenefitsCoordination"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="MedicationDispensed" type="ncpdp:Medication"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="MedicationRequested" type="ncpdp:Medication"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Allergy" type="ncpdp:Allergy"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="DiagnosisGeneral" type="ncpdp:DiagnosisGeneral"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="FillStatus" type="ncpdp:FillStatusType"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FixedLengthSuspensionType">
    <xsd:sequence>
      <xsd:element name="SuspendDateTime" type="datatypes:UtcDateType"/>
      <xsd:element name="ResumeDateTime" type="datatypes:UtcDateType"/>
      <xsd:element minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HistoryRXResponse">
    <xsd:complexContent>
      <xsd:restriction base="script:RXResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Request" type="ncpdp:Request"/>
          <xsd:element name="Response" type="script:ResponseType"/>
          <xsd:element name="Pharmacy" type="ncpdp:Pharmacy"/>
          <xsd:element name="Prescriber" type="ncpdp:Prescriber"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Supervisor" type="ncpdp:Supervisor"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Facility" type="ncpdp:Facilty"/>
          <xsd:element name="Patient" type="ncpdp:Patient"/>
          <xsd:element maxOccurs="300" name="MedicationPrescribed" type="ncpdp:Medication"/>
          <xsd:element maxOccurs="300" name="MedicationDispensed" type="ncpdp:Medication"/>
          <xsd:element minOccurs="0" name="Observation" type="ncpdp:Observation"/>
          <xsd:element maxOccurs="3" name="BenefitsCoordination" type="ncpdp:BenefitsCoordination"/>
          <xsd:element maxOccurs="300" name="MedicationDispensedAdministered" type="ncpdp:Medication"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="HistoryRXResponse2">
    <xsd:complexContent>
      <xsd:restriction base="script:RXResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="ncpdp:Request"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="script:ResponseType"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Pharmacy" type="ncpdp:Pharmacy"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Prescriber" type="ncpdp:Prescriber"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Supervisor" type="ncpdp:Supervisor"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Facility" type="ncpdp:Facilty"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Patient" type="ncpdp:Patient"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="MedicationPrescribed" type="ncpdp:Medication"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="MedicationDispensed" type="ncpdp:Medication"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Observation" type="ncpdp:Observation"/>
          <xsd:element maxOccurs="3" name="BenefitsCoordination" type="ncpdp:BenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationDispensedAdministered" type="ncpdp:Medication"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="HistoryResponseType">
    <xsd:sequence>
      <xsd:element name="Approved" type="script:ApprovedType"/>
      <xsd:element name="Denied" type="script:DeniedType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndefiniteSuspensionType">
    <xsd:sequence>
      <xsd:element name="SuspendDateTime" type="datatypes:UtcDateType"/>
      <xsd:element minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NewRXRequest">
    <xsd:complexContent>
      <xsd:restriction base="script:RXRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Request" type="script:NewRxRequestType"/>
          <xsd:element minOccurs="0" name="Pharmacy" type="ncpdp:Pharmacy"/>
          <xsd:element name="Prescriber" type="ncpdp:Prescriber"/>
          <xsd:element minOccurs="0" name="Supervisor" type="ncpdp:Supervisor"/>
          <xsd:element minOccurs="0" name="Facility" type="ncpdp:Facilty"/>
          <xsd:element name="Patient" type="ncpdp:Patient"/>
          <xsd:element name="MedicationPrescribed" type="ncpdp:Medication"/>
          <xsd:element minOccurs="0" name="Observation" type="ncpdp:Observation"/>
          <xsd:element maxOccurs="3" minOccurs="0" name="BenefitsCoordination" type="ncpdp:BenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationDispensed" type="ncpdp:Medication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationRequested" type="ncpdp:Medication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Allergy" type="ncpdp:Allergy"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="ncpdp:DiagnosisGeneral"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FillStatus" type="ncpdp:FillStatusType"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="NewRxRequestType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="RequestType" type="ecl:NewRXMessageFunction"/>
      <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
      <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="PasswordChange">
    <xsd:complexContent>
      <xsd:restriction base="script:RXRequest">
        <xsd:sequence>
          <xsd:element name="Request" type="script:PasswordRequestType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Pharmacy" type="ncpdp:Pharmacy"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Prescriber" type="ncpdp:Prescriber"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Supervisor" type="ncpdp:Supervisor"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Facility" type="ncpdp:Facilty"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Patient" type="ncpdp:Patient"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationPrescribed" type="ncpdp:Medication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Observation" type="ncpdp:Observation"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="BenefitsCoordination" type="ncpdp:BenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationDispensed" type="ncpdp:Medication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationRequested" type="ncpdp:Medication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Allergy" type="ncpdp:Allergy"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="ncpdp:DiagnosisGeneral"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FillStatus" type="ncpdp:FillStatusType"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PasswordRequestType">
    <xsd:complexContent>
      <xsd:restriction base="ncpdp:Request">
        <xsd:choice>
          <xsd:element name="OldPassword" type="xsd:anyType"/>
          <xsd:element name="NewPassword" type="xsd:anyType"/>
        </xsd:choice>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="RXChangeRequest">
    <xsd:complexContent>
      <xsd:restriction base="script:RXRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Request" type="ncpdp:Request"/>
          <xsd:element name="Pharmacy" type="ncpdp:Pharmacy"/>
          <xsd:element name="Prescriber" type="ncpdp:Prescriber"/>
          <xsd:element minOccurs="0" name="Supervisor" type="ncpdp:Supervisor"/>
          <xsd:element minOccurs="0" name="Facility" type="ncpdp:Facilty"/>
          <xsd:element name="Patient" type="ncpdp:Patient"/>
          <xsd:element name="MedicationPrescribed" type="ncpdp:Medication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Observation" type="ncpdp:Observation"/>
          <xsd:element maxOccurs="3" minOccurs="0" name="BenefitsCoordination" type="ncpdp:BenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationDispensed" type="ncpdp:Medication"/>
          <xsd:element maxOccurs="9" minOccurs="0" name="MedicationRequested" type="ncpdp:Medication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Allergy" type="ncpdp:Allergy"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="ncpdp:DiagnosisGeneral"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FillStatus" type="ncpdp:FillStatusType"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="RXFillRequest">
    <xsd:complexContent>
      <xsd:restriction base="script:RXRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Request" type="ncpdp:Request"/>
          <xsd:element name="Pharmacy" type="ncpdp:Pharmacy"/>
          <xsd:element name="Prescriber" type="ncpdp:Prescriber"/>
          <xsd:element minOccurs="0" name="Supervisor" type="ncpdp:Supervisor"/>
          <xsd:element minOccurs="0" name="Facility" type="ncpdp:Facilty"/>
          <xsd:element name="Patient" type="ncpdp:Patient"/>
          <xsd:element minOccurs="0" name="MedicationPrescribed" type="ncpdp:Medication"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Observation" type="ncpdp:Observation"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="BenefitsCoordination" type="ncpdp:BenefitsCoordination"/>
          <xsd:element minOccurs="0" name="MedicationDispensed" type="ncpdp:Medication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationRequested" type="ncpdp:Medication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Allergy" type="ncpdp:Allergy"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="ncpdp:DiagnosisGeneral"/>
          <xsd:element name="FillStatus" type="ncpdp:FillStatusType"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="RXRequest">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="ncpdp:Request"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Pharmacy" type="ncpdp:Pharmacy"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Prescriber" type="ncpdp:Prescriber"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Supervisor" type="ncpdp:Supervisor"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Facility" type="ncpdp:Facilty"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Patient" type="ncpdp:Patient"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="MedicationPrescribed" type="ncpdp:Medication"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Observation" type="ncpdp:Observation"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="BenefitsCoordination" type="ncpdp:BenefitsCoordination"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="MedicationDispensed" type="ncpdp:Medication"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="MedicationRequested" type="ncpdp:Medication"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Allergy" type="ncpdp:Allergy"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DiagnosisGeneral" type="ncpdp:DiagnosisGeneral"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="FillStatus" type="ncpdp:FillStatusType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="RXResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request" type="ncpdp:Request"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="script:ResponseType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Pharmacy" type="ncpdp:Pharmacy"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Prescriber" type="ncpdp:Prescriber"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Supervisor" type="ncpdp:Supervisor"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Facility" type="ncpdp:Facilty"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Patient" type="ncpdp:Patient"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="MedicationPrescribed" type="ncpdp:Medication"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="MedicationDispensed" type="ncpdp:Medication"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Observation" type="ncpdp:Observation"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="BenefitsCoordination" type="ncpdp:BenefitsCoordination"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="MedicationDispensedAdministered" type="ncpdp:Medication"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="RefillRequest">
    <xsd:complexContent>
      <xsd:restriction base="script:RXRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Request" type="ncpdp:Request"/>
          <xsd:element name="Pharmacy" type="ncpdp:Pharmacy"/>
          <xsd:element name="Prescriber" type="ncpdp:Prescriber"/>
          <xsd:element minOccurs="0" name="Supervisor" type="ncpdp:Supervisor"/>
          <xsd:element minOccurs="0" name="Facility" type="ncpdp:Facilty"/>
          <xsd:element name="Patient" type="ncpdp:Patient"/>
          <xsd:element minOccurs="0" name="MedicationPrescribed" type="ncpdp:Medication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Observation" type="ncpdp:Observation"/>
          <xsd:element maxOccurs="3" minOccurs="0" name="BenefitsCoordination" type="ncpdp:BenefitsCoordination"/>
          <xsd:element name="MedicationDispensed" type="ncpdp:Medication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationRequested" type="ncpdp:Medication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Allergy" type="ncpdp:Allergy"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="ncpdp:DiagnosisGeneral"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FillStatus" type="ncpdp:FillStatusType"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="RefillResponse">
    <xsd:complexContent>
      <xsd:restriction base="script:RXResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Request" type="ncpdp:Request"/>
          <xsd:element name="Response" type="script:ResponseType"/>
          <xsd:element name="Pharmacy" type="ncpdp:Pharmacy"/>
          <xsd:element name="Prescriber" type="ncpdp:Prescriber"/>
          <xsd:element minOccurs="0" name="Supervisor" type="ncpdp:Supervisor"/>
          <xsd:element minOccurs="0" name="Facility" type="ncpdp:Facilty"/>
          <xsd:element name="Patient" type="ncpdp:Patient"/>
          <xsd:element minOccurs="0" name="MedicationPrescribed" type="ncpdp:Medication"/>
          <xsd:element name="MedicationDispensed" type="ncpdp:Medication"/>
          <xsd:element minOccurs="0" name="Observation" type="ncpdp:Observation"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="BenefitsCoordination" type="ncpdp:BenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationDispensedAdministered" type="ncpdp:Medication"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ResponseType">
    <xsd:sequence>
      <xsd:element name="Approved" type="script:ApprovedType"/>
      <xsd:element name="Denied" type="script:DeniedType"/>
      <xsd:element name="DeniedNewPrescriptionToFollow" type="script:DeniedNewRxToFollowType"/>
      <xsd:element name="ApprovedWithChanges" type="script:ApprovedWithChangesType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResumeAdministrationType">
    <xsd:sequence>
      <xsd:element name="ResumeDateTime" type="datatypes:UtcDateType"/>
      <xsd:element minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="ResupplyRXRequest">
    <xsd:complexContent>
      <xsd:restriction base="script:RXRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Request" type="ncpdp:Request"/>
          <xsd:element name="Pharmacy" type="ncpdp:Pharmacy"/>
          <xsd:element name="Prescriber" type="ncpdp:Prescriber"/>
          <xsd:element minOccurs="0" name="Supervisor" type="ncpdp:Supervisor"/>
          <xsd:element minOccurs="0" name="Facility" type="ncpdp:Facilty"/>
          <xsd:element name="Patient" type="ncpdp:Patient"/>
          <xsd:element name="MedicationPrescribed" type="ncpdp:Medication"/>
          <xsd:element minOccurs="0" name="Observation" type="ncpdp:Observation"/>
          <xsd:element maxOccurs="3" minOccurs="0" name="BenefitsCoordination" type="ncpdp:BenefitsCoordination"/>
          <xsd:element minOccurs="0" name="MedicationDispensed" type="ncpdp:Medication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationRequested" type="ncpdp:Medication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Allergy" type="ncpdp:Allergy"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="ncpdp:DiagnosisGeneral"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FillStatus" type="ncpdp:FillStatusType"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="RxChangeResponse">
    <xsd:complexContent>
      <xsd:restriction base="script:RXResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Request" type="ncpdp:Request"/>
          <xsd:element name="Response" type="script:ResponseType"/>
          <xsd:element name="Pharmacy" type="ncpdp:Pharmacy"/>
          <xsd:element name="Prescriber" type="ncpdp:Prescriber"/>
          <xsd:element minOccurs="0" name="Supervisor" type="ncpdp:Supervisor"/>
          <xsd:element minOccurs="0" name="Facility" type="ncpdp:Facilty"/>
          <xsd:element name="Patient" type="ncpdp:Patient"/>
          <xsd:element minOccurs="0" name="MedicationPrescribed" type="ncpdp:Medication"/>
          <xsd:element name="MedicationDispensed" type="ncpdp:Medication"/>
          <xsd:element minOccurs="0" name="Observation" type="ncpdp:Observation"/>
          <xsd:element maxOccurs="3" name="BenefitsCoordination" type="ncpdp:BenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationDispensedAdministered" type="ncpdp:Medication"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="RxHistoryRequest">
    <xsd:complexContent>
      <xsd:restriction base="script:RXRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="0" minOccurs="0" name="Request" type="ncpdp:Request"/>
          <xsd:element minOccurs="0" name="Pharmacy" type="ncpdp:Pharmacy"/>
          <xsd:element name="Prescriber" type="ncpdp:Prescriber"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Supervisor" type="ncpdp:Supervisor"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Facility" type="ncpdp:Facilty"/>
          <xsd:element name="Patient" type="ncpdp:Patient"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationPrescribed" type="ncpdp:Medication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Observation" type="ncpdp:Observation"/>
          <xsd:element maxOccurs="3" name="BenefitsCoordination" type="ncpdp:BenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationDispensed" type="ncpdp:Medication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationRequested" type="ncpdp:Medication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Allergy" type="ncpdp:Allergy"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="ncpdp:DiagnosisGeneral"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FillStatus" type="ncpdp:FillStatusType"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ShortRequestType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
      <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ShortRequestTypeFollowUp">
    <xsd:complexContent>
      <xsd:restriction base="ncpdp:Request">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>