ncpdp/models/org.ncpdp.uml.functions/schemas/script.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ncpdp.org/schema/SCRIPT" xmlns:SCRIPT="http://www.ncpdp.org/schema/SCRIPT" xmlns:datatypes="http://www.ncpdp.org/schema/datatypes" xmlns:dictionary="http://www.ncpdp.org/schema/dictionary" xmlns:ecl="http://www.ncpdp.org/schema/ecl" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.ncpdp.org/schema/ecl" schemaLocation="ecl.xsd"/>
  <xsd:import namespace="http://www.ncpdp.org/schema/datatypes" schemaLocation="datatypes.xsd"/>
  <xsd:import namespace="http://www.ncpdp.org/schema/dictionary" schemaLocation="dictionary.xsd"/>
  <xsd:element name="CancelRx" type="SCRIPT:CancelRx"/>
  <xsd:element name="CancelRxResponse" type="SCRIPT:CancelRxResponse"/>
  <xsd:element name="DrugAdminstration" type="SCRIPT:DrugAdminstration"/>
  <xsd:element name="NewRx" type="SCRIPT:NewRx"/>
  <xsd:element name="RefillRequest" type="SCRIPT:RefillRequest"/>
  <xsd:element name="RefillResponse" type="SCRIPT:RefillResponse"/>
  <xsd:element name="Resupply" type="SCRIPT:Resupply"/>
  <xsd:element name="RxChangeRequest" type="SCRIPT:RxChangeRequest"/>
  <xsd:element name="RxChangeResponse" type="SCRIPT:RxChangeResponse"/>
  <xsd:element name="RxFill" type="SCRIPT:RxFill"/>
  <xsd:element name="RxHistoryRequest" type="SCRIPT:RxHistoryRequest"/>
  <xsd:element name="RxHistoryResponse" type="SCRIPT:RxHistoryResponse"/>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ApprovedType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ApprovedType">
    <xsd:sequence>
      <xsd:element maxOccurs="10" minOccurs="0" name="ApprovalReasonCode" type="ecl:ApprovedCode">
        <xsd:annotation>
          <xsd:documentation>RES-020</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ReferenceNumber" type="datatypes:an..35">
        <xsd:annotation>
          <xsd:documentation>RES-030</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Note" type="datatypes:an..70">
        <xsd:annotation>
          <xsd:documentation>RES-040</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ApprovedWithChangesType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ApprovedWithChangesType">
    <xsd:sequence>
      <xsd:element maxOccurs="10" minOccurs="0" name="DenialReasonCode" type="ecl:DeniedCode">
        <xsd:annotation>
          <xsd:documentation>RES-020</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ReferenceNumber" type="datatypes:an..35">
        <xsd:annotation>
          <xsd:documentation>RES-030</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Note" type="datatypes:an..70">
        <xsd:annotation>
          <xsd:documentation>RES-040</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  BasicResponseType  <<choice>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="BasicResponseType">
    <xsd:annotation>
      <xsd:documentation>Used in REFRES</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:ResponseType">
        <xsd:choice>
          <xsd:element name="Approved" type="SCRIPT:ApprovedType"/>
          <xsd:element name="Denied" type="SCRIPT:DeniedType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DeniedNewPrescriptionToFollow" type="SCRIPT:DeniedNewRxToFollowType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ApprovedWithChanges" type="SCRIPT:ApprovedWithChangesType"/>
        </xsd:choice>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CancelRx  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CancelRx">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:SCRIPTRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="MessageRequestCode" type="ecl:LTCLevelOfChange"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
          <xsd:element minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeofPrescriptionStatusFlag"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="BenefitsCoordination" type="dictionary:OptionalBenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="dictionary:DiagnosisGeneral"/>
          <xsd:element minOccurs="0" name="Facility" type="dictionary:Facilty"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FillStatus" type="dictionary:FillStatus"/>
          <xsd:element name="Patient" type="dictionary:Patient"/>
          <xsd:element minOccurs="0" name="Pharmacy" type="dictionary:MandatoryPharmacy"/>
          <xsd:element name="Prescriber" type="dictionary:Prescriber"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DrugAdministrationRequest" type="SCRIPT:DrugAdministrationRequest"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Observation" type="dictionary:Observation"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationDispensed" type="dictionary:PrescribedMedication"/>
          <xsd:element name="MedicationPrescribed" type="dictionary:PrescribedMedication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationRequested" type="dictionary:PrescribedMedication"/>
          <xsd:element minOccurs="0" name="Supervisor" type="dictionary:Supervisor"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CancelRxResponse  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CancelRxResponse">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:SCRIPTResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="MessageRequestCode" type="ecl:LTCLevelOfChange"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeofPrescriptionStatusFlag"/>
          <xsd:element name="Response" type="SCRIPT:BasicResponseType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="BenefitsCoordination" type="dictionary:OptionalBenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Facility" type="dictionary:Facilty"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Patient" type="dictionary:PatientFulll"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Pharmacy" type="dictionary:Pharmacy"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Prescriber" type="dictionary:PrescriberGeneral"/>
          <xsd:element name="Observation" type="dictionary:Observation"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Supervisor" type="dictionary:Supervisor"/>
          <xsd:choice maxOccurs="0" minOccurs="0">
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="MedicationDispensed" type="dictionary:Medication"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="MedicationDispensedAdministered" type="dictionary:Medication"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="MedicationPrescribed" type="dictionary:Medication"/>
          </xsd:choice>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  DeniedNewRxToFollowType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DeniedNewRxToFollowType">
    <xsd:sequence>
      <xsd:element maxOccurs="10" minOccurs="0" name="DenialReasonCode" type="ecl:DeniedCode">
        <xsd:annotation>
          <xsd:documentation>RES-020</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ReferenceNumber" type="datatypes:an..35">
        <xsd:annotation>
          <xsd:documentation>RES-030</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="DenialReason" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>RES-040</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  DeniedType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DeniedType">
    <xsd:sequence>
      <xsd:element maxOccurs="10" minOccurs="0" name="DenialReasonCode" type="ecl:ApprovedCode">
        <xsd:annotation>
          <xsd:documentation>RES-020</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ReferenceNumber" type="datatypes:an..35">
        <xsd:annotation>
          <xsd:documentation>RES-030</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="DenialReason" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>RES-040</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  DrugAdministrationRequest  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DrugAdministrationRequest">
    <xsd:sequence>
      <xsd:choice>
        <xsd:annotation>
          <xsd:documentation>REQ-010</xsd:documentation>
        </xsd:annotation>
        <xsd:element name="IndefiniteSuspension" type="SCRIPT:IndefiniteSuspension">
          <xsd:annotation>
            <xsd:documentation>REQ-010 value IS</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="FixedLengthSuspension" type="SCRIPT:FixedLengthSuspension">
          <xsd:annotation>
            <xsd:documentation>REQ-010 value FS</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="ResumeAdministration" type="SCRIPT:ResumeAdministration">
          <xsd:annotation>
            <xsd:documentation>REQ-010 value RA</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="CancelSuspension" type="xsd:anySimpleType">
          <xsd:annotation>
            <xsd:documentation>REQ-010 value CS</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
      <xsd:element minOccurs="0" name="DrugAdminReasonCode" type="ecl:DrugAdminReasonCode">
        <xsd:annotation>
          <xsd:documentation>REQ-090</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="DrugAdminReasonText" type="datatypes:an..100">
        <xsd:annotation>
          <xsd:documentation>REQ-100</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  DrugAdminstration  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DrugAdminstration">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:SCRIPTRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctioncodeda"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeofPrescriptionStatusFlag"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="BenefitsCoordination" type="dictionary:OptionalBenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="dictionary:DiagnosisGeneral"/>
          <xsd:element minOccurs="0" name="Facility" type="dictionary:Facilty"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FillStatus" type="dictionary:FillStatus"/>
          <xsd:element name="Patient" type="dictionary:Patient"/>
          <xsd:element minOccurs="0" name="Pharmacy" type="dictionary:MandatoryPharmacy"/>
          <xsd:element name="Prescriber" type="dictionary:PrescriberGeneral"/>
          <xsd:element name="DrugAdministrationRequest" type="SCRIPT:DrugAdministrationRequest"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Observation" type="dictionary:Observation"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationDispensed" type="dictionary:PrescribedMedication"/>
          <xsd:element name="MedicationPrescribed" type="dictionary:DrugAdministrationMedication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationRequested" type="dictionary:PrescribedMedication"/>
          <xsd:element minOccurs="0" name="Supervisor" type="dictionary:Supervisor"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  FixedLengthSuspension  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="FixedLengthSuspension">
    <xsd:sequence>
      <xsd:element name="SuspendDateTime" type="datatypes:UtcDateType"/>
      <xsd:element name="ResumeDateTime" type="datatypes:UtcDateType"/>
      <xsd:element minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  IndefiniteSuspension  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="IndefiniteSuspension">
    <xsd:sequence>
      <xsd:element name="SuspendDateTime" type="datatypes:UtcDateType"/>
      <xsd:element minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  NewRx  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="NewRx">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:SCRIPTRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="MessageRequestCode" type="ecl:LTCLevelOfChange"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeofPrescriptionStatusFlag"/>
          <xsd:element maxOccurs="3" minOccurs="0" name="BenefitsCoordination" type="dictionary:OptionalBenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="dictionary:DiagnosisGeneral"/>
          <xsd:element minOccurs="0" name="Facility" type="dictionary:Facilty"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FillStatus" type="dictionary:FillStatus"/>
          <xsd:element name="Patient" type="dictionary:PatientFulll"/>
          <xsd:element minOccurs="0" name="Pharmacy" type="dictionary:Pharmacy"/>
          <xsd:element name="Prescriber" type="dictionary:PrescriberGeneral"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DispensingRequestCode" type="ecl:DispensingRequestCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DrugAdministrationRequest" type="SCRIPT:DrugAdministrationRequest"/>
          <xsd:element minOccurs="0" name="Observation" type="dictionary:Observation"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationDispensed" type="dictionary:PrescribedMedication"/>
          <xsd:element name="MedicationPrescribed" type="dictionary:PrescribedMedication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationRequested" type="dictionary:PrescribedMedication"/>
          <xsd:element minOccurs="0" name="Supervisor" type="dictionary:Supervisor"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RefillRequest  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RefillRequest">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:SCRIPTRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="0" minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctioncodeda"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeofPrescriptionStatusFlag"/>
          <xsd:element maxOccurs="3" minOccurs="0" name="BenefitsCoordination" type="dictionary:BenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="dictionary:DiagnosisGeneral"/>
          <xsd:element minOccurs="0" name="Facility" type="dictionary:Facilty"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FillStatus" type="dictionary:FillStatus"/>
          <xsd:element name="Patient" type="dictionary:Patient"/>
          <xsd:element name="Pharmacy" type="dictionary:MandatoryAddressPharmacy"/>
          <xsd:element name="Prescriber" type="dictionary:Prescriber"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DispensingRequestCode" type="ecl:DispensingRequestCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DrugAdministrationRequest" type="SCRIPT:DrugAdministrationRequest"/>
          <xsd:element minOccurs="0" name="Observation" type="dictionary:Observation"/>
          <xsd:element name="MedicationDispensed" type="dictionary:RefillRequestDispensedMedication"/>
          <xsd:element minOccurs="0" name="MedicationPrescribed" type="dictionary:PrescribedMedication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationRequested" type="dictionary:PrescribedMedication"/>
          <xsd:element minOccurs="0" name="Supervisor" type="dictionary:Supervisor"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RefillResponse  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RefillResponse">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:SCRIPTResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="0" minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctioncodeda"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeofPrescriptionStatusFlag"/>
          <xsd:element name="Response" type="SCRIPT:RefillResponseType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="BenefitsCoordination" type="dictionary:OptionalBenefitsCoordination"/>
          <xsd:element minOccurs="0" name="Facility" type="dictionary:Facilty"/>
          <xsd:element name="Patient" type="dictionary:Patient"/>
          <xsd:element name="Pharmacy" type="dictionary:Pharmacy"/>
          <xsd:element name="Prescriber" type="dictionary:PrescriberGeneral"/>
          <xsd:element minOccurs="0" name="Observation" type="dictionary:Observation"/>
          <xsd:element minOccurs="0" name="Supervisor" type="dictionary:Supervisor"/>
          <xsd:choice maxOccurs="0" minOccurs="0">
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="MedicationDispensed" type="dictionary:RefillResponseDispensedMedication"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="MedicationDispensedAdministered" type="dictionary:Medication"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="MedicationPrescribed" type="dictionary:PrescribedMedication"/>
          </xsd:choice>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RefillResponseType  <<choice>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RefillResponseType">
    <xsd:annotation>
      <xsd:documentation>Used in REFRES</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:ResponseType">
        <xsd:choice>
          <xsd:element name="Approved" type="SCRIPT:ApprovedType"/>
          <xsd:element name="Denied" type="SCRIPT:DeniedType"/>
          <xsd:element name="DeniedNewPrescriptionToFollow" type="SCRIPT:DeniedNewRxToFollowType"/>
          <xsd:element name="ApprovedWithChanges" type="SCRIPT:ApprovedWithChangesType"/>
        </xsd:choice>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ResponseType  <<choice>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ResponseType">
    <xsd:annotation>
      <xsd:documentation>Used in REFRES</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element minOccurs="0" name="Approved" type="SCRIPT:ApprovedType">
        <xsd:annotation>
          <xsd:documentation>RES-010</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Denied" type="SCRIPT:DeniedType">
        <xsd:annotation>
          <xsd:documentation>RES-010</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="DeniedNewPrescriptionToFollow" type="SCRIPT:DeniedNewRxToFollowType">
        <xsd:annotation>
          <xsd:documentation>RES-010</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ApprovedWithChanges" type="SCRIPT:ApprovedWithChangesType">
        <xsd:annotation>
          <xsd:documentation>RES-010</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ResumeAdministration  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ResumeAdministration">
    <xsd:sequence>
      <xsd:element name="ResumeDateTime" type="datatypes:UtcDateType"/>
      <xsd:element minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Resupply  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Resupply">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:SCRIPTRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="0" minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctioncodeda"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeofPrescriptionStatusFlag"/>
          <xsd:element maxOccurs="3" minOccurs="0" name="BenefitsCoordination" type="dictionary:BenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="dictionary:DiagnosisGeneral"/>
          <xsd:element minOccurs="0" name="Facility" type="dictionary:Facilty"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FillStatus" type="dictionary:FillStatus"/>
          <xsd:element name="Patient" type="dictionary:Patient"/>
          <xsd:element name="Pharmacy" type="dictionary:MandatoryAddressPharmacy"/>
          <xsd:element name="Prescriber" type="dictionary:Prescriber"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DrugAdministrationRequest" type="SCRIPT:DrugAdministrationRequest"/>
          <xsd:element minOccurs="0" name="Observation" type="dictionary:Observation"/>
          <xsd:element minOccurs="0" name="MedicationDispensed" type="dictionary:ResupplyMedication"/>
          <xsd:element name="MedicationPrescribed" type="dictionary:ResupplyMedication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationRequested" type="dictionary:ResupplyMedication"/>
          <xsd:element minOccurs="0" name="Supervisor" type="dictionary:Supervisor"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RxChangeRequest  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RxChangeRequest">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:SCRIPTRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctioncodeda"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeofPrescriptionStatusFlag"/>
          <xsd:element maxOccurs="3" minOccurs="0" name="BenefitsCoordination" type="dictionary:BenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="dictionary:DiagnosisGeneral"/>
          <xsd:element minOccurs="0" name="Facility" type="dictionary:Facilty"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FillStatus" type="dictionary:FillStatus"/>
          <xsd:element name="Patient" type="dictionary:Patient"/>
          <xsd:element name="Pharmacy" type="dictionary:MandatoryPharmacy"/>
          <xsd:element name="Prescriber" type="dictionary:Prescriber"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DispensingRequestCode" type="ecl:DispensingRequestCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DrugAdministrationRequest" type="SCRIPT:DrugAdministrationRequest"/>
          <xsd:element minOccurs="0" name="Observation" type="dictionary:Observation"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationDispensed" type="dictionary:PrescribedMedication"/>
          <xsd:element name="MedicationPrescribed" type="dictionary:PrescribedMedication"/>
          <xsd:element maxOccurs="9" minOccurs="0" name="MedicationRequested" type="dictionary:RequestedMedication"/>
          <xsd:element minOccurs="0" name="Supervisor" type="dictionary:Supervisor"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RxChangeResponse  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RxChangeResponse">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:SCRIPTResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctioncodeda"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeofPrescriptionStatusFlag"/>
          <xsd:element name="Response" type="SCRIPT:RxChangeResponseType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="BenefitsCoordination" type="dictionary:OptionalBenefitsCoordination"/>
          <xsd:element minOccurs="0" name="Facility" type="dictionary:Facilty"/>
          <xsd:element name="Patient" type="dictionary:Patient"/>
          <xsd:element name="Pharmacy" type="dictionary:MandatoryPharmacy"/>
          <xsd:element name="Prescriber" type="dictionary:Prescriber"/>
          <xsd:element minOccurs="0" name="Observation" type="dictionary:Observation"/>
          <xsd:element minOccurs="0" name="Supervisor" type="dictionary:Supervisor"/>
          <xsd:choice maxOccurs="0" minOccurs="0">
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="MedicationDispensed" type="dictionary:Medication"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="MedicationDispensedAdministered" type="dictionary:Medication"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="MedicationPrescribed" type="dictionary:Medication"/>
          </xsd:choice>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RxChangeResponseType  <<choice>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RxChangeResponseType">
    <xsd:annotation>
      <xsd:documentation>Used in REFRES</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:ResponseType">
        <xsd:choice>
          <xsd:element name="Approved" type="SCRIPT:ApprovedType"/>
          <xsd:element name="Denied" type="SCRIPT:DeniedType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DeniedNewPrescriptionToFollow" type="SCRIPT:DeniedNewRxToFollowType"/>
          <xsd:element name="ApprovedWithChanges" type="SCRIPT:ApprovedWithChangesType"/>
        </xsd:choice>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RxFill  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RxFill">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:SCRIPTRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="0" minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctioncodeda"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeofPrescriptionStatusFlag"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="BenefitsCoordination" type="dictionary:OptionalBenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="dictionary:DiagnosisGeneral"/>
          <xsd:element minOccurs="0" name="Facility" type="dictionary:Facilty"/>
          <xsd:element name="FillStatus" type="dictionary:FillStatus"/>
          <xsd:element name="Patient" type="dictionary:Patient"/>
          <xsd:element name="Pharmacy" type="dictionary:MandatoryAddressPharmacy"/>
          <xsd:element name="Prescriber" type="dictionary:PrescriberGeneral"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DispensingRequestCode" type="ecl:DispensingRequestCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DrugAdministrationRequest" type="SCRIPT:DrugAdministrationRequest"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Observation" type="dictionary:Observation"/>
          <xsd:element minOccurs="0" name="MedicationDispensed" type="dictionary:RxFillDispensedMedication"/>
          <xsd:element minOccurs="0" name="MedicationPrescribed" type="dictionary:PrescribedMedication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationRequested" type="dictionary:PrescribedMedication"/>
          <xsd:element minOccurs="0" name="Supervisor" type="dictionary:SupervisorOptional"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RxHistoryRequest  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RxHistoryRequest">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:SCRIPTRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="0" minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctioncodeda"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeofPrescriptionStatusFlag"/>
          <xsd:element maxOccurs="3" name="BenefitsCoordination" type="dictionary:BenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="dictionary:DiagnosisGeneral"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Facility" type="dictionary:Facilty"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FillStatus" type="dictionary:FillStatus"/>
          <xsd:element name="Patient" type="dictionary:Patient"/>
          <xsd:element minOccurs="0" name="Pharmacy" type="dictionary:OptionalPharmacy"/>
          <xsd:element name="Prescriber" type="dictionary:OptionalPresciber"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DrugAdministrationRequest" type="SCRIPT:DrugAdministrationRequest"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Observation" type="dictionary:Observation"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationDispensed" type="dictionary:PrescribedMedication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationPrescribed" type="dictionary:PrescribedMedication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationRequested" type="dictionary:PrescribedMedication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Supervisor" type="dictionary:Supervisor"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RxHistoryResponse  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RxHistoryResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="0" minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctioncodeda"/>
      <xsd:element maxOccurs="0" minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
      <xsd:element maxOccurs="0" minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
      <xsd:element maxOccurs="0" minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeofPrescriptionStatusFlag"/>
      <xsd:element minOccurs="0" name="Response" type="SCRIPT:BasicResponseType"/>
      <xsd:element maxOccurs="3" name="BenefitsCoordination" type="dictionary:OptionalBenefitsCoordination"/>
      <xsd:element maxOccurs="0" minOccurs="0" name="Facility" type="dictionary:Facilty"/>
      <xsd:element name="Patient" type="dictionary:Patient"/>
      <xsd:element minOccurs="0" name="Pharmacy" type="dictionary:OptionalPharmacy"/>
      <xsd:element name="Prescriber" type="dictionary:HistoryPrescriber"/>
      <xsd:element maxOccurs="0" minOccurs="0" name="Observation" type="dictionary:Observation"/>
      <xsd:element maxOccurs="0" minOccurs="0" name="Supervisor" type="dictionary:Supervisor"/>
      <xsd:choice>
        <xsd:element maxOccurs="300" name="MedicationDispensed" type="dictionary:HistoryDispensedMedication"/>
        <xsd:element maxOccurs="300" name="MedicationDispensedAdministered" type="dictionary:HistoryDispensedMedication"/>
        <xsd:element maxOccurs="300" name="MedicationPrescribed" type="dictionary:HistoryPrescibedMedication"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SCRIPTRequest  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType abstract="true" name="SCRIPTRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="MessageRequestCode" type="ecl:Code"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeofPrescriptionStatusFlag"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="BenefitsCoordination" type="dictionary:OptionalBenefitsCoordination"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DiagnosisGeneral" type="dictionary:DiagnosisGeneral"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Facility" type="dictionary:Facilty"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="FillStatus" type="dictionary:FillStatus"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Patient" type="dictionary:PatientFulll"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Pharmacy" type="dictionary:OptionalPharmacy"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Prescriber" type="dictionary:HistoryPrescriber"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DrugAdministrationRequest" type="SCRIPT:DrugAdministrationRequest"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Observation" type="dictionary:Observation"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="MedicationDispensed" type="dictionary:Medication"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="MedicationPrescribed" type="dictionary:Medication"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="MedicationRequested" type="dictionary:Medication"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Supervisor" type="dictionary:SupervisorOptional"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SCRIPTResponse  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType abstract="true" name="SCRIPTResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="MessageRequestCode" type="ecl:Code"/>
      <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
      <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeofPrescriptionStatusFlag"/>
      <xsd:element minOccurs="0" name="Response" type="SCRIPT:ResponseType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="BenefitsCoordination" type="dictionary:OptionalBenefitsCoordination"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Facility" type="dictionary:Facilty"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Patient" type="dictionary:PatientFulll"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Pharmacy" type="dictionary:Pharmacy"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Prescriber" type="dictionary:HistoryPrescriber"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Observation" type="dictionary:Observation"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Supervisor" type="dictionary:Supervisor"/>
      <xsd:choice maxOccurs="unbounded" minOccurs="0">
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="MedicationDispensed" type="dictionary:Medication"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="MedicationDispensedAdministered" type="dictionary:Medication"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="MedicationPrescribed" type="dictionary:Medication"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>