ncpdp/models/org.ncpdp.uml.functions/schemas/script.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
== Generated by hyperModel (www.XMLmodeling.com) Thu Mar 03 11:37:19 EST 2011
== Model: org.ncpdp.uml.functions
== Package: script
--><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ncpdp.org/schema/SCRIPT" version="2010121" xmlns:SCRIPT="http://www.ncpdp.org/schema/SCRIPT" xmlns:datatypes="http://www.ncpdp.org/schema/datatypes" xmlns:ecl="http://www.ncpdp.org/schema/ecl" xmlns:structures="http://www.ncpdp.org/schema/structures" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.ncpdp.org/schema/datatypes" schemaLocation="datatypes.xsd"/>
  <xsd:import namespace="http://www.ncpdp.org/schema/ecl" schemaLocation="ecl.xsd"/>
  <xsd:import namespace="http://www.ncpdp.org/schema/structures" schemaLocation="structures.xsd"/>
  <!-- ================================================== -->
  <!-- =====  Complex Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ApprovedType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ApprovedType">
    <xsd:sequence>
      <xsd:element maxOccurs="10" minOccurs="0" name="ReasonCode" type="ecl:ReasonCode"/>
      <xsd:element minOccurs="0" name="ReferenceNumber" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="Note" type="datatypes:an..70"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ApprovedWithChangesType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ApprovedWithChangesType">
    <xsd:sequence>
      <xsd:element maxOccurs="10" minOccurs="0" name="DenialReasonCode" type="ecl:ReasonCode"/>
      <xsd:element minOccurs="0" name="ReferenceNumber" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="Note" type="datatypes:an..70"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  BasicResponseType  <<choice>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="BasicResponseType">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:ResponseType">
        <xsd:choice>
          <xsd:element name="Approved" type="SCRIPT:ApprovedType"/>
          <xsd:element name="Denied" type="SCRIPT:DeniedType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DeniedNewPrescriptionToFollow" type="SCRIPT:DeniedNewRxToFollowType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ApprovedWithChanges" type="SCRIPT:ApprovedWithChangesType"/>
        </xsd:choice>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CancelRx  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CancelRx">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:SCRIPTRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="MessageRequestCode" type="ecl:LTCLevelOfChangeCode"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
          <xsd:element minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeOfPrescriptionStatusCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="BenefitsCoordination" type="structures:BaseBenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="structures:DiagnosisGeneral"/>
          <xsd:element minOccurs="0" name="Facility" type="datatypes:Facilty"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FillStatus" type="structures:FillStatus"/>
          <xsd:element name="Patient" type="structures:Patient"/>
          <xsd:element minOccurs="0" name="Pharmacy" type="structures:MandatoryPharmacy"/>
          <xsd:element name="Prescriber" type="structures:Prescriber"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DrugAdministrationRequest" type="SCRIPT:DrugAdministrationRequest"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Observation" type="structures:Observation"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationDispensed" type="structures:PrescribedMedication"/>
          <xsd:element name="MedicationPrescribed" type="structures:PrescribedMedication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationRequested" type="structures:PrescribedMedication"/>
          <xsd:element minOccurs="0" name="Supervisor" type="structures:Supervisor"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="RequestedDates" type="datatypes:DateRange"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ProhibitRefillRequest" type="xsd:boolean"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ChangeReasonText" type="datatypes:an..260"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CancelRxResponse  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CancelRxResponse">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:SCRIPTResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="MessageRequestCode" type="ecl:LTCLevelOfChangeCode"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeOfPrescriptionStatusCode"/>
          <xsd:element name="Response" type="SCRIPT:CancellRxResponseType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="BenefitsCoordination" type="structures:BaseBenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Facility" type="datatypes:Facilty"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Patient" type="structures:PatientFull"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Pharmacy" type="structures:Pharmacy"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Prescriber" type="structures:PrescriberGeneral"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Observation" type="structures:Observation"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Supervisor" type="structures:Supervisor"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationDispensed" type="structures:Medication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationDispensedAdministered" type="structures:Medication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationPrescribed" type="structures:Medication"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CancellRxResponseType  <<choice>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CancellRxResponseType">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:ResponseType">
        <xsd:choice>
          <xsd:element name="Approved" type="SCRIPT:ApprovedType"/>
          <xsd:element name="Denied" type="SCRIPT:DeniedTransferredType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DeniedNewPrescriptionToFollow" type="SCRIPT:DeniedNewRxToFollowType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ApprovedWithChanges" type="SCRIPT:ApprovedWithChangesType"/>
        </xsd:choice>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  DeniedNewRxToFollowType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DeniedNewRxToFollowType">
    <xsd:sequence>
      <xsd:element maxOccurs="10" name="DenialReasonCode" type="ecl:ReasonCode"/>
      <xsd:element minOccurs="0" name="ReferenceNumber" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="DenialReason" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  DeniedTransferredType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DeniedTransferredType">
    <xsd:sequence>
      <xsd:element maxOccurs="10" name="ReasonCode" type="ecl:ReasonCode"/>
      <xsd:element minOccurs="0" name="ReferenceNumber" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="DenialReason" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Pharmacy" type="structures:MandatoryPharmacy"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  DeniedType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DeniedType">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:DeniedTransferredType">
        <xsd:sequence>
          <xsd:element maxOccurs="10" name="ReasonCode" type="ecl:ReasonCode"/>
          <xsd:element minOccurs="0" name="ReferenceNumber" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="DenialReason" type="xsd:string"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Pharmacy" type="structures:MandatoryPharmacy"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  DrugAdministrationRequest  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DrugAdministrationRequest">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="IndefiniteSuspension" type="SCRIPT:IndefiniteSuspension"/>
        <xsd:element name="FixedLengthSuspension" type="SCRIPT:FixedLengthSuspension"/>
        <xsd:element name="ResumeAdministration" type="SCRIPT:ResumeAdministration"/>
        <xsd:element name="CancelSuspension" type="xsd:anySimpleType"/>
      </xsd:choice>
      <xsd:element minOccurs="0" name="DrugAdminReasonCode" type="ecl:DrugAdminReasonCode"/>
      <xsd:element minOccurs="0" name="DrugAdminReasonText" type="datatypes:an..100"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  DrugAdminstration  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DrugAdminstration">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:SCRIPTRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="0" minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctionCode"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeOfPrescriptionStatusCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="BenefitsCoordination" type="structures:BaseBenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="structures:DiagnosisGeneral"/>
          <xsd:element minOccurs="0" name="Facility" type="datatypes:Facilty"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FillStatus" type="structures:FillStatus"/>
          <xsd:element name="Patient" type="structures:Patient"/>
          <xsd:element minOccurs="0" name="Pharmacy" type="structures:MandatoryPharmacy"/>
          <xsd:element name="Prescriber" type="structures:Prescriber"/>
          <xsd:element name="DrugAdministrationRequest" type="SCRIPT:DrugAdministrationRequest"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Observation" type="structures:Observation"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationDispensed" type="structures:PrescribedMedication"/>
          <xsd:element name="MedicationPrescribed" type="structures:DrugAdministrationMedication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationRequested" type="structures:PrescribedMedication"/>
          <xsd:element minOccurs="0" name="Supervisor" type="structures:Supervisor"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="RequestedDates" type="datatypes:DateRange"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ProhibitRefillRequest" type="xsd:boolean"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ChangeReasonText" type="datatypes:an..260"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  FixedLengthSuspension  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="FixedLengthSuspension">
    <xsd:sequence>
      <xsd:element name="SuspendDateTime" type="datatypes:UtcDateType"/>
      <xsd:element name="ResumeDateTime" type="datatypes:UtcDateType"/>
      <xsd:element minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  IndefiniteSuspension  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="IndefiniteSuspension">
    <xsd:sequence>
      <xsd:element name="SuspendDateTime" type="datatypes:UtcDateType"/>
      <xsd:element minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  NewRx  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="NewRx">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:SCRIPTRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="MessageRequestCode" type="ecl:LTCLevelOfChangeCode"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeOfPrescriptionStatusCode"/>
          <xsd:element maxOccurs="3" minOccurs="0" name="BenefitsCoordination" type="structures:BenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="structures:DiagnosisGeneral"/>
          <xsd:element minOccurs="0" name="Facility" type="datatypes:Facilty"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FillStatus" type="structures:FillStatus"/>
          <xsd:element name="Patient" type="structures:PatientMandatoryAddress"/>
          <xsd:element minOccurs="0" name="Pharmacy" type="structures:MandatoryPharmacy"/>
          <xsd:element name="Prescriber" type="structures:MandatoryPresciber"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DispensingRequestCode" type="ecl:DispensingRequestCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DrugAdministrationRequest" type="SCRIPT:DrugAdministrationRequest"/>
          <xsd:element minOccurs="0" name="Observation" type="structures:Observation"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationDispensed" type="structures:PrescribedMedication"/>
          <xsd:element name="MedicationPrescribed" type="structures:NewRxPrescibedMedication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationRequested" type="structures:PrescribedMedication"/>
          <xsd:element minOccurs="0" name="Supervisor" type="structures:Supervisor"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="RequestedDates" type="datatypes:DateRange"/>
          <xsd:element minOccurs="0" name="ProhibitRefillRequest" type="xsd:boolean"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ChangeReasonText" type="datatypes:an..260"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  NewRxRequest  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="NewRxRequest">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:SCRIPTRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctionCode"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeOfPrescriptionStatusCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="BenefitsCoordination" type="structures:BaseBenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="structures:DiagnosisGeneral"/>
          <xsd:element minOccurs="0" name="Facility" type="datatypes:Facilty"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FillStatus" type="structures:FillStatus"/>
          <xsd:element name="Patient" type="structures:PatientFull"/>
          <xsd:element name="Pharmacy" type="structures:MandatoryAddressPharmacy"/>
          <xsd:element name="Prescriber" type="structures:MandatoryPresciber"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DrugAdministrationRequest" type="SCRIPT:DrugAdministrationRequest"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Observation" type="structures:Observation"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationDispensed" type="structures:Medication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationPrescribed" type="structures:Medication"/>
          <xsd:element name="MedicationRequested" type="structures:Medication"/>
          <xsd:element minOccurs="0" name="Supervisor" type="structures:SupervisorOptional"/>
          <xsd:element minOccurs="0" name="RequestedDates" type="datatypes:DateRange"/>
          <xsd:element minOccurs="0" name="ProhibitRefillRequest" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="ChangeReasonText" type="datatypes:an..260"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  NewRxResponseDenied  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="NewRxResponseDenied">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:SCRIPTResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctionCode"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeOfPrescriptionStatusCode"/>
          <xsd:element minOccurs="0" name="Response" type="SCRIPT:ResponseType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="BenefitsCoordination" type="structures:BaseBenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Facility" type="datatypes:Facilty"/>
          <xsd:element name="Patient" type="structures:PatientFull"/>
          <xsd:element name="Pharmacy" type="structures:MandatoryAddressPharmacy"/>
          <xsd:element name="Prescriber" type="structures:MandatoryPresciber"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Observation" type="structures:Observation"/>
          <xsd:element minOccurs="0" name="Supervisor" type="structures:Supervisor"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationDispensed" type="structures:Medication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationDispensedAdministered" type="structures:Medication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationPrescribed" type="structures:Medication"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RefillRequest  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RefillRequest">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:SCRIPTRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="0" minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctionCode"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeOfPrescriptionStatusCode"/>
          <xsd:element maxOccurs="3" minOccurs="0" name="BenefitsCoordination" type="structures:BenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="structures:DiagnosisGeneral"/>
          <xsd:element minOccurs="0" name="Facility" type="datatypes:Facilty"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FillStatus" type="structures:FillStatus"/>
          <xsd:element name="Patient" type="structures:Patient"/>
          <xsd:element name="Pharmacy" type="structures:MandatoryAddressPharmacy"/>
          <xsd:element name="Prescriber" type="structures:Prescriber"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DispensingRequestCode" type="ecl:DispensingRequestCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DrugAdministrationRequest" type="SCRIPT:DrugAdministrationRequest"/>
          <xsd:element minOccurs="0" name="Observation" type="structures:Observation"/>
          <xsd:element name="MedicationDispensed" type="structures:RefillRequestDispensedMedication"/>
          <xsd:element minOccurs="0" name="MedicationPrescribed" type="structures:PrescribedMedication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationRequested" type="structures:PrescribedMedication"/>
          <xsd:element minOccurs="0" name="Supervisor" type="structures:Supervisor"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="RequestedDates" type="datatypes:DateRange"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ProhibitRefillRequest" type="xsd:boolean"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ChangeReasonText" type="datatypes:an..260"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RefillResponse  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RefillResponse">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:SCRIPTResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="0" minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctionCode"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeOfPrescriptionStatusCode"/>
          <xsd:element name="Response" type="SCRIPT:RefillResponseType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="BenefitsCoordination" type="structures:BaseBenefitsCoordination"/>
          <xsd:element minOccurs="0" name="Facility" type="datatypes:Facilty"/>
          <xsd:element name="Patient" type="structures:Patient"/>
          <xsd:element name="Pharmacy" type="structures:Pharmacy"/>
          <xsd:element name="Prescriber" type="structures:Prescriber"/>
          <xsd:element minOccurs="0" name="Observation" type="structures:Observation"/>
          <xsd:element minOccurs="0" name="Supervisor" type="structures:Supervisor"/>
          <xsd:element name="MedicationDispensed" type="structures:RefillResponseDispensedMedication"/>
          <xsd:element minOccurs="0" name="MedicationPrescribed" type="structures:PrescribedMedication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationDispensedAdministered" type="structures:Medication"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RefillResponseType  <<choice>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RefillResponseType">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:ResponseType">
        <xsd:choice>
          <xsd:element name="Approved" type="SCRIPT:ApprovedType"/>
          <xsd:element name="Denied" type="SCRIPT:DeniedType"/>
          <xsd:element name="DeniedNewPrescriptionToFollow" type="SCRIPT:DeniedNewRxToFollowType"/>
          <xsd:element name="ApprovedWithChanges" type="SCRIPT:ApprovedWithChangesType"/>
        </xsd:choice>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ResponseType  <<choice>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ResponseType">
    <xsd:choice>
      <xsd:element minOccurs="0" name="Approved" type="SCRIPT:ApprovedType"/>
      <xsd:element minOccurs="0" name="Denied" type="SCRIPT:DeniedTransferredType"/>
      <xsd:element minOccurs="0" name="DeniedNewPrescriptionToFollow" type="SCRIPT:DeniedNewRxToFollowType"/>
      <xsd:element minOccurs="0" name="ApprovedWithChanges" type="SCRIPT:ApprovedWithChangesType"/>
    </xsd:choice>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ResumeAdministration  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ResumeAdministration">
    <xsd:sequence>
      <xsd:element name="ResumeDateTime" type="datatypes:UtcDateType"/>
      <xsd:element minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Resupply  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Resupply">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:SCRIPTRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="0" minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctionCode"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeOfPrescriptionStatusCode"/>
          <xsd:element maxOccurs="3" minOccurs="0" name="BenefitsCoordination" type="structures:BenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="structures:DiagnosisGeneral"/>
          <xsd:element minOccurs="0" name="Facility" type="datatypes:Facilty"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FillStatus" type="structures:FillStatus"/>
          <xsd:element name="Patient" type="structures:Patient"/>
          <xsd:element name="Pharmacy" type="structures:MandatoryAddressPharmacy"/>
          <xsd:element name="Prescriber" type="structures:Prescriber"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DrugAdministrationRequest" type="SCRIPT:DrugAdministrationRequest"/>
          <xsd:element minOccurs="0" name="Observation" type="structures:Observation"/>
          <xsd:element minOccurs="0" name="MedicationDispensed" type="structures:ResupplyMedication"/>
          <xsd:element name="MedicationPrescribed" type="structures:ResupplyMedication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationRequested" type="structures:ResupplyMedication"/>
          <xsd:element minOccurs="0" name="Supervisor" type="structures:Supervisor"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="RequestedDates" type="datatypes:DateRange"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ProhibitRefillRequest" type="xsd:boolean"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ChangeReasonText" type="datatypes:an..260"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RxChangeRequest  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RxChangeRequest">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:SCRIPTRequest">
        <xsd:sequence>
          <xsd:element name="MessageRequestCode" type="ecl:RxChangeCode"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeOfPrescriptionStatusCode"/>
          <xsd:element maxOccurs="3" minOccurs="0" name="BenefitsCoordination" type="structures:BenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="structures:DiagnosisGeneral"/>
          <xsd:element minOccurs="0" name="Facility" type="datatypes:Facilty"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FillStatus" type="structures:FillStatus"/>
          <xsd:element name="Patient" type="structures:Patient"/>
          <xsd:element name="Pharmacy" type="structures:MandatoryPharmacy"/>
          <xsd:element name="Prescriber" type="structures:Prescriber"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DispensingRequestCode" type="ecl:DispensingRequestCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DrugAdministrationRequest" type="SCRIPT:DrugAdministrationRequest"/>
          <xsd:element minOccurs="0" name="Observation" type="structures:Observation"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationDispensed" type="structures:PrescribedMedication"/>
          <xsd:element name="MedicationPrescribed" type="structures:PrescribedMedication"/>
          <xsd:element maxOccurs="9" minOccurs="0" name="MedicationRequested" type="structures:RequestedMedication"/>
          <xsd:element minOccurs="0" name="Supervisor" type="structures:Supervisor"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="RequestedDates" type="datatypes:DateRange"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ProhibitRefillRequest" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="ChangeReasonText" type="datatypes:an..260"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RxChangeResponse  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RxChangeResponse">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:SCRIPTResponse">
        <xsd:sequence>
          <xsd:element name="MessageRequestCode" type="ecl:RxChangeCode"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeOfPrescriptionStatusCode"/>
          <xsd:element name="Response" type="SCRIPT:RxChangeResponseType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="BenefitsCoordination" type="structures:BaseBenefitsCoordination"/>
          <xsd:element minOccurs="0" name="Facility" type="datatypes:Facilty"/>
          <xsd:element name="Patient" type="structures:Patient"/>
          <xsd:element name="Pharmacy" type="structures:MandatoryPharmacy"/>
          <xsd:element name="Prescriber" type="structures:Prescriber"/>
          <xsd:element minOccurs="0" name="Observation" type="structures:Observation"/>
          <xsd:element minOccurs="0" name="Supervisor" type="structures:Supervisor"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationDispensedAdministered" type="structures:Medication"/>
          <xsd:element minOccurs="0" name="MedicationPrescribed" type="structures:PrescribedMedication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationDispensed" type="structures:Medication"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RxChangeResponseType  <<choice>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RxChangeResponseType">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:ResponseType">
        <xsd:choice>
          <xsd:element name="Approved" type="SCRIPT:ApprovedType"/>
          <xsd:element name="Denied" type="SCRIPT:DeniedType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DeniedNewPrescriptionToFollow" type="SCRIPT:DeniedNewRxToFollowType"/>
          <xsd:element name="ApprovedWithChanges" type="SCRIPT:ApprovedWithChangesType"/>
        </xsd:choice>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RxFill  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RxFill">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:SCRIPTRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="0" minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctionCode"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeOfPrescriptionStatusCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="BenefitsCoordination" type="structures:BaseBenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="structures:DiagnosisGeneral"/>
          <xsd:element minOccurs="0" name="Facility" type="datatypes:Facilty"/>
          <xsd:element name="FillStatus" type="structures:FillStatus"/>
          <xsd:element name="Patient" type="structures:Patient"/>
          <xsd:element name="Pharmacy" type="structures:MandatoryAddressPharmacy"/>
          <xsd:element name="Prescriber" type="structures:PrescriberGeneral"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DispensingRequestCode" type="ecl:DispensingRequestCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DrugAdministrationRequest" type="SCRIPT:DrugAdministrationRequest"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Observation" type="structures:Observation"/>
          <xsd:element minOccurs="0" name="MedicationDispensed" type="structures:RxFillDispensedMedication"/>
          <xsd:element minOccurs="0" name="MedicationPrescribed" type="structures:PrescribedMedication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationRequested" type="structures:PrescribedMedication"/>
          <xsd:element minOccurs="0" name="Supervisor" type="structures:SupervisorOptional"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="RequestedDates" type="datatypes:DateRange"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ProhibitRefillRequest" type="xsd:boolean"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ChangeReasonText" type="datatypes:an..260"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RxHistoryRequest  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RxHistoryRequest">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:SCRIPTRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="0" minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctionCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeOfPrescriptionStatusCode"/>
          <xsd:element maxOccurs="3" name="BenefitsCoordination" type="structures:RxHistoryBenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="structures:DiagnosisGeneral"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Facility" type="datatypes:Facilty"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FillStatus" type="structures:FillStatus"/>
          <xsd:element name="Patient" type="structures:Patient"/>
          <xsd:element minOccurs="0" name="Pharmacy" type="structures:OptionalPharmacy"/>
          <xsd:element name="Prescriber" type="structures:OptionalPresciber"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DrugAdministrationRequest" type="SCRIPT:DrugAdministrationRequest"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Observation" type="structures:Observation"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationDispensed" type="structures:PrescribedMedication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationPrescribed" type="structures:PrescribedMedication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationRequested" type="structures:PrescribedMedication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Supervisor" type="structures:Supervisor"/>
          <xsd:element name="RequestedDates" type="datatypes:DateRange"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ProhibitRefillRequest" type="xsd:boolean"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ChangeReasonText" type="datatypes:an..260"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RxHistoryResponse  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RxHistoryResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="0" minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctionCode"/>
      <xsd:element maxOccurs="0" minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
      <xsd:element maxOccurs="0" minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
      <xsd:element maxOccurs="0" minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeOfPrescriptionStatusCode"/>
      <xsd:element minOccurs="0" name="Response" type="SCRIPT:BasicResponseType"/>
      <xsd:element maxOccurs="3" name="BenefitsCoordination" type="structures:RxHistoryBenefitsCoordination"/>
      <xsd:element maxOccurs="0" minOccurs="0" name="Facility" type="datatypes:Facilty"/>
      <xsd:element name="Patient" type="structures:Patient"/>
      <xsd:element minOccurs="0" name="Pharmacy" type="structures:OptionalPharmacy"/>
      <xsd:element name="Prescriber" type="structures:HistoryPrescriber"/>
      <xsd:element maxOccurs="0" minOccurs="0" name="Observation" type="structures:Observation"/>
      <xsd:element maxOccurs="0" minOccurs="0" name="Supervisor" type="structures:Supervisor"/>
      <xsd:choice>
        <xsd:element maxOccurs="300" name="MedicationDispensed" type="structures:HistoryDispensedMedication"/>
        <xsd:element maxOccurs="300" name="MedicationDispensedAdministered" type="structures:HistoryDispensedMedication"/>
        <xsd:element maxOccurs="300" name="MedicationPrescribed" type="structures:HistoryPrescibedMedication"/>
      </xsd:choice>
      <xsd:element name="RequestedDates" type="datatypes:DateRange"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SCRIPTRequest  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType abstract="true" name="SCRIPTRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctionCode"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeOfPrescriptionStatusCode"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="BenefitsCoordination" type="structures:BaseBenefitsCoordination"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DiagnosisGeneral" type="structures:DiagnosisGeneral"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Facility" type="datatypes:Facilty"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="FillStatus" type="structures:FillStatus"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Patient" type="structures:PatientFull"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Pharmacy" type="structures:OptionalPharmacy"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Prescriber" type="structures:HistoryPrescriber"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DrugAdministrationRequest" type="SCRIPT:DrugAdministrationRequest"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Observation" type="structures:Observation"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="MedicationDispensed" type="structures:Medication"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="MedicationPrescribed" type="structures:Medication"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="MedicationRequested" type="structures:Medication"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Supervisor" type="structures:SupervisorOptional"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="RequestedDates" type="datatypes:DateRange"/>
      <xsd:element minOccurs="0" name="ProhibitRefillRequest" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="ChangeReasonText" type="datatypes:an..260"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SCRIPTResponse  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType abstract="true" name="SCRIPTResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctionCode"/>
      <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
      <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeOfPrescriptionStatusCode"/>
      <xsd:element minOccurs="0" name="Response" type="SCRIPT:ResponseType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="BenefitsCoordination" type="structures:BaseBenefitsCoordination"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Facility" type="datatypes:Facilty"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Patient" type="structures:PatientFull"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Pharmacy" type="structures:Pharmacy"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Prescriber" type="structures:HistoryPrescriber"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Observation" type="structures:Observation"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Supervisor" type="structures:Supervisor"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="MedicationDispensed" type="structures:Medication"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="MedicationDispensedAdministered" type="structures:Medication"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="MedicationPrescribed" type="structures:Medication"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>