ncpdp/models/org.ncpdp.uml.functions/schemas/structures.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
== Generated by hyperModel (www.XMLmodeling.com) Thu Mar 03 09:54:22 EST 2011
== Model: org.ncpdp.uml.functions
== Package: structures
--><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ncpdp.org/schema/structures" version="2010121" xmlns:datatypes="http://www.ncpdp.org/schema/datatypes" xmlns:ecl="http://www.ncpdp.org/schema/ecl" xmlns:structures="http://www.ncpdp.org/schema/structures" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.ncpdp.org/schema/datatypes" schemaLocation="datatypes.xsd"/>
  <xsd:import namespace="http://www.ncpdp.org/schema/ecl" schemaLocation="ecl.xsd"/>
  <!-- ================================================== -->
  <!-- =====  Complex Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Allergy  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Allergy">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="NoKnownAllergies" type="ecl:BooleanCode"/>
      <xsd:element minOccurs="0" name="SourceOfInformation" type="ecl:SourceOfInformationCode"/>
      <xsd:element minOccurs="0" name="EffectiveDate" type="datatypes:DateType"/>
      <xsd:element minOccurs="0" name="ExpirationDate" type="datatypes:DateType"/>
      <xsd:element minOccurs="0" name="AdverseEvent" type="datatypes:SNOMEDAdverseEventCode"/>
      <xsd:element minOccurs="0" name="DrugProductCoded" type="datatypes:DrugProductCodeWithText"/>
      <xsd:element minOccurs="0" name="ReactionCoded" type="datatypes:SNOMEDCode"/>
      <xsd:element minOccurs="0" name="SeverityCoded" type="datatypes:SNOMEDCode"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Attachment  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Attachment">
    <xsd:sequence>
      <xsd:element name="AttachmentSource" type="xsd:string"/>
      <xsd:element name="AttachmentData" type="xsd:base64Binary"/>
      <xsd:element name="ClinicalInformation" type="structures:ClinicalInformation"/>
      <xsd:element name="MIMEType" type="ecl:MIMETypeCode"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Attachments  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Attachments">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="Attachment" type="structures:Attachment"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  BaseBenefitsCoordination  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType abstract="true" name="BaseBenefitsCoordination">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="PayerIdentification" type="datatypes:PayerID"/>
      <xsd:element minOccurs="0" name="PayerName" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="CardholderID" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="CardHolderName" type="datatypes:NameType"/>
      <xsd:element minOccurs="0" name="GroupID" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="PayerResponsibilityCode" type="ecl:PayerResponsibilityCode"/>
      <xsd:element minOccurs="0" name="PatientRelationship" type="ecl:PatientRelationshipCode"/>
      <xsd:element minOccurs="0" name="PersonCode" type="datatypes:n..3"/>
      <xsd:element minOccurs="0" name="GroupName" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="Address" type="datatypes:AddressType"/>
      <xsd:element minOccurs="0" name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
      <xsd:element minOccurs="0" name="Consent" type="ecl:ConsentCode"/>
      <xsd:element minOccurs="0" name="PBMMemberID" type="datatypes:an..80"/>
      <xsd:element minOccurs="0" name="ResponsibleParty" type="datatypes:NameType"/>
      <xsd:element minOccurs="0" name="ServiceTypeCoded" type="ecl:ServiceTypeCode"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  BenefitsCoordination  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="BenefitsCoordination">
    <xsd:complexContent>
      <xsd:restriction base="structures:BaseBenefitsCoordination">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="PayerIdentification" type="datatypes:PayerID"/>
          <xsd:element minOccurs="0" name="PayerName" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="CardholderID" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="CardHolderName" type="datatypes:NameType"/>
          <xsd:element minOccurs="0" name="GroupID" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="PayerResponsibilityCode" type="ecl:PayerResponsibilityCode"/>
          <xsd:element minOccurs="0" name="PatientRelationship" type="ecl:PatientRelationshipCode"/>
          <xsd:element minOccurs="0" name="PersonCode" type="datatypes:n..3"/>
          <xsd:element minOccurs="0" name="GroupName" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="Address" type="datatypes:AddressType"/>
          <xsd:element minOccurs="0" name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Consent" type="ecl:ConsentCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="PBMMemberID" type="datatypes:an..80"/>
          <xsd:element minOccurs="0" name="ResponsibleParty" type="datatypes:NameType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ServiceTypeCoded" type="ecl:ServiceTypeCode"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CCRVersions  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CCRVersions">
    <xsd:sequence>
      <xsd:element name="Version" type="datatypes:an"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CDATemplates  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CDATemplates">
    <xsd:sequence>
      <xsd:element name="TemplateID" type="datatypes:an"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ClinicalInformation  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ClinicalInformation">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="CDA" type="structures:CDATemplates"/>
        <xsd:element name="CCR" type="structures:CCRVersions"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Diagnosis  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Diagnosis">
    <xsd:sequence>
      <xsd:element name="ClinicalInformationQualifier" type="ecl:DiagnosisClinicalInformationQualifierCode"/>
      <xsd:element name="Primary" type="structures:PrimaryDiagnosis"/>
      <xsd:element minOccurs="0" name="Secondary" type="structures:SecondaryDiagnosis"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  DiagnosisGeneral  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DiagnosisGeneral">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="SourceOfInformation" type="ecl:SourceOfInformationCode"/>
      <xsd:element minOccurs="0" name="EffectiveDate" type="datatypes:DateType"/>
      <xsd:element minOccurs="0" name="ExpirationDate" type="datatypes:DateType"/>
      <xsd:element minOccurs="0" name="ProblemType" type="datatypes:SNOMEDCode"/>
      <xsd:element name="ProblemNameCoded" type="datatypes:ProblemNameCode"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  DrugAdministrationMedication  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DrugAdministrationMedication">
    <xsd:complexContent>
      <xsd:restriction base="structures:Medication">
        <xsd:sequence>
          <xsd:element name="DrugDescription" type="datatypes:an..105M"/>
          <xsd:element minOccurs="0" name="DrugCoded" type="datatypes:DrugCoded"/>
          <xsd:element name="Quantity" type="datatypes:Quantity"/>
          <xsd:element name="Directions" type="datatypes:an..140M"/>
          <xsd:element minOccurs="0" name="DaysSupply" type="datatypes:n..3"/>
          <xsd:element name="WrittenDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="LastFillDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="ExpirationDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="EffectiveDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="PeriodEnd" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DeliveredOnDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DateValidated" type="datatypes:DateType"/>
          <xsd:element name="Substitutions" type="ecl:SubstitutionCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NumberOfRefills" type="datatypes:n..2M"/>
          <xsd:element maxOccurs="2" minOccurs="0" name="Diagnosis" type="structures:Diagnosis"/>
          <xsd:element minOccurs="0" name="PriorAuthorization" type="datatypes:PriorAuthorizationCode"/>
          <xsd:element minOccurs="0" name="Note" type="datatypes:an..210"/>
          <xsd:element maxOccurs="5" minOccurs="0" name="DrugUseEvaluation" type="datatypes:DrugUseEvaluation"/>
          <xsd:element maxOccurs="5" minOccurs="0" name="DrugCoverageStatusCode" type="ecl:DrugCoverageStatusCode"/>
          <xsd:element minOccurs="0" name="PriorAuthorizationStatus" type="ecl:PriorAuthorizationStatusCode"/>
          <xsd:element minOccurs="0" name="OtherCompoundInformation" type="structures:OtherCompoundInformationType"/>
          <xsd:element minOccurs="0" name="RouteOfAdministration" type="datatypes:FinalRouteOfAdministrationCode"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="StructuredSIG" type="structures:SIGType"/>
          <xsd:element maxOccurs="25" minOccurs="0" name="Compound" type="datatypes:CompoundIngredient"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="SoldDate" type="datatypes:DateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="AdditionalRefillsAuthorized" type="datatypes:n..2"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="PharmacyRequestedRefills" type="datatypes:n..2"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DoNotFill" type="ecl:DoNotFillCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NeededNoLaterThanDate" type="datatypes:UtcDateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NeededNoLaterThanReason" type="datatypes:an..70"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="RefillsRemaining" type="datatypes:n..2"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="HistoryPresciberOrderNumber" type="datatypes:PriorAuthorizationCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="OrderCaptureMethod" type="ecl:OrderCaptureMethodCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Pharmacy" type="structures:Pharmacy"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Prescriber" type="structures:PrescriberGeneral"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="HistorySource" type="datatypes:HistorySource"/>
          <xsd:element minOccurs="0" name="ReasonForSubsitutionCodeUsed" type="ecl:ReasonForSubstitutionCodeUsed"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="SplitScript" type="ecl:SplitScriptIndicator"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  FillStatus  <<choice>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="FillStatus">
    <xsd:choice>
      <xsd:element name="Filled" type="datatypes:NoteType"/>
      <xsd:element name="PartialFill" type="datatypes:NoteType"/>
      <xsd:element name="NotFilled" type="datatypes:NoteType"/>
    </xsd:choice>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  HistoryDispensedMedication  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="HistoryDispensedMedication">
    <xsd:complexContent>
      <xsd:restriction base="structures:Medication">
        <xsd:sequence>
          <xsd:element name="DrugDescription" type="datatypes:an..105M"/>
          <xsd:element minOccurs="0" name="DrugCoded" type="datatypes:DrugCoded"/>
          <xsd:element name="Quantity" type="datatypes:Quantity"/>
          <xsd:element minOccurs="0" name="Directions" type="datatypes:an..140M"/>
          <xsd:element minOccurs="0" name="DaysSupply" type="datatypes:n..3"/>
          <xsd:element minOccurs="0" name="WrittenDate" type="datatypes:DateType"/>
          <xsd:element name="LastFillDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="ExpirationDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="EffectiveDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="PeriodEnd" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DeliveredOnDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DateValidated" type="datatypes:DateType"/>
          <xsd:element name="Substitutions" type="ecl:SubstitutionCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NumberOfRefills" type="datatypes:n..2M"/>
          <xsd:element maxOccurs="2" minOccurs="0" name="Diagnosis" type="structures:Diagnosis"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="PriorAuthorization" type="datatypes:PriorAuthorizationCode"/>
          <xsd:element minOccurs="0" name="Note" type="datatypes:an..210"/>
          <xsd:element maxOccurs="5" minOccurs="0" name="DrugUseEvaluation" type="datatypes:DrugUseEvaluation"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DrugCoverageStatusCode" type="ecl:DrugCoverageStatusCode"/>
          <xsd:element minOccurs="0" name="PriorAuthorizationStatus" type="ecl:PriorAuthorizationStatusCode"/>
          <xsd:element minOccurs="0" name="OtherCompoundInformation" type="structures:OtherCompoundInformationType"/>
          <xsd:element minOccurs="0" name="RouteOfAdministration" type="datatypes:FinalRouteOfAdministrationCode"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="StructuredSIG" type="structures:SIGType"/>
          <xsd:element maxOccurs="25" minOccurs="0" name="Compound" type="datatypes:CompoundIngredient"/>
          <xsd:element minOccurs="0" name="SoldDate" type="datatypes:DateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="AdditionalRefillsAuthorized" type="datatypes:n..2"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="PharmacyRequestedRefills" type="datatypes:n..2"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DoNotFill" type="ecl:DoNotFillCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NeededNoLaterThanDate" type="datatypes:UtcDateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NeededNoLaterThanReason" type="datatypes:an..70"/>
          <xsd:element minOccurs="0" name="RefillsRemaining" type="datatypes:n..2"/>
          <xsd:element minOccurs="0" name="HistoryPresciberOrderNumber" type="datatypes:PriorAuthorizationCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="OrderCaptureMethod" type="ecl:OrderCaptureMethodCode"/>
          <xsd:element minOccurs="0" name="Pharmacy" type="structures:OptionalPharmacy"/>
          <xsd:element minOccurs="0" name="Prescriber" type="structures:HistoryPrescriber"/>
          <xsd:element minOccurs="0" name="HistorySource" type="datatypes:HistorySource"/>
          <xsd:element minOccurs="0" name="ReasonForSubsitutionCodeUsed" type="ecl:ReasonForSubstitutionCodeUsed"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="SplitScript" type="ecl:SplitScriptIndicator"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  HistoryPrescibedMedication  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="HistoryPrescibedMedication">
    <xsd:complexContent>
      <xsd:restriction base="structures:Medication">
        <xsd:sequence>
          <xsd:element name="DrugDescription" type="datatypes:an..105M"/>
          <xsd:element minOccurs="0" name="DrugCoded" type="datatypes:DrugCoded"/>
          <xsd:element name="Quantity" type="datatypes:Quantity"/>
          <xsd:element minOccurs="0" name="Directions" type="datatypes:an..140M"/>
          <xsd:element minOccurs="0" name="DaysSupply" type="datatypes:n..3"/>
          <xsd:element name="WrittenDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="LastFillDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="ExpirationDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="EffectiveDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="PeriodEnd" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DeliveredOnDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DateValidated" type="datatypes:DateType"/>
          <xsd:element name="Substitutions" type="ecl:SubstitutionCode"/>
          <xsd:element name="NumberOfRefills" type="datatypes:n..2M"/>
          <xsd:element maxOccurs="2" minOccurs="0" name="Diagnosis" type="structures:Diagnosis"/>
          <xsd:element minOccurs="0" name="PriorAuthorization" type="datatypes:PriorAuthorizationCode"/>
          <xsd:element minOccurs="0" name="Note" type="datatypes:an..210"/>
          <xsd:element maxOccurs="5" minOccurs="0" name="DrugUseEvaluation" type="datatypes:DrugUseEvaluation"/>
          <xsd:element maxOccurs="5" minOccurs="0" name="DrugCoverageStatusCode" type="ecl:DrugCoverageStatusCode"/>
          <xsd:element minOccurs="0" name="PriorAuthorizationStatus" type="ecl:PriorAuthorizationStatusCode"/>
          <xsd:element minOccurs="0" name="OtherCompoundInformation" type="structures:OtherCompoundInformationType"/>
          <xsd:element minOccurs="0" name="RouteOfAdministration" type="datatypes:FinalRouteOfAdministrationCode"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="StructuredSIG" type="structures:SIGType"/>
          <xsd:element maxOccurs="25" minOccurs="0" name="Compound" type="datatypes:CompoundIngredient"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="SoldDate" type="datatypes:DateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="AdditionalRefillsAuthorized" type="datatypes:n..2"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="PharmacyRequestedRefills" type="datatypes:n..2"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DoNotFill" type="ecl:DoNotFillCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NeededNoLaterThanDate" type="datatypes:UtcDateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NeededNoLaterThanReason" type="datatypes:an..70"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="RefillsRemaining" type="datatypes:n..2"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="HistoryPresciberOrderNumber" type="datatypes:PriorAuthorizationCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="OrderCaptureMethod" type="ecl:OrderCaptureMethodCode"/>
          <xsd:element minOccurs="0" name="Pharmacy" type="structures:OptionalPharmacy"/>
          <xsd:element minOccurs="0" name="Prescriber" type="structures:HistoryPrescriber"/>
          <xsd:element minOccurs="0" name="HistorySource" type="datatypes:HistorySource"/>
          <xsd:element minOccurs="0" name="ReasonForSubsitutionCodeUsed" type="ecl:ReasonForSubstitutionCodeUsed"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="SplitScript" type="ecl:SplitScriptIndicator"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  HistoryPrescriber  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="HistoryPrescriber">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Identification" type="datatypes:ProviderID"/>
      <xsd:element minOccurs="0" name="Specialty" type="datatypes:an..10"/>
      <xsd:element minOccurs="0" name="ClinicName" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="Name" type="datatypes:NameType"/>
      <xsd:element minOccurs="0" name="Address" type="datatypes:AddressType"/>
      <xsd:element minOccurs="0" name="PrescriberAgent" type="datatypes:NameType"/>
      <xsd:element minOccurs="0" name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  MandatoryAddressPharmacy  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MandatoryAddressPharmacy">
    <xsd:complexContent>
      <xsd:restriction base="structures:MandatoryPharmacy">
        <xsd:sequence>
          <xsd:element name="Identification" type="datatypes:ProviderID"/>
          <xsd:element minOccurs="0" name="Specialty" type="datatypes:an..10"/>
          <xsd:element minOccurs="0" name="Pharmacist" type="datatypes:NameType"/>
          <xsd:element name="BusinessName" type="datatypes:an..35M"/>
          <xsd:element name="Address" type="datatypes:AddressType"/>
          <xsd:element name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  MandatoryPharmacy  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MandatoryPharmacy">
    <xsd:complexContent>
      <xsd:restriction base="structures:Pharmacy">
        <xsd:sequence>
          <xsd:element name="Identification" type="datatypes:ProviderID"/>
          <xsd:element minOccurs="0" name="Specialty" type="datatypes:an..10"/>
          <xsd:element minOccurs="0" name="Pharmacist" type="datatypes:NameType"/>
          <xsd:element name="BusinessName" type="datatypes:an..35M"/>
          <xsd:element minOccurs="0" name="Address" type="datatypes:AddressType"/>
          <xsd:element name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  MandatoryPresciber  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MandatoryPresciber">
    <xsd:complexContent>
      <xsd:restriction base="structures:Prescriber">
        <xsd:sequence>
          <xsd:element name="Identification" type="datatypes:ProviderID"/>
          <xsd:element minOccurs="0" name="Specialty" type="datatypes:an..10"/>
          <xsd:element minOccurs="0" name="ClinicName" type="datatypes:an..35"/>
          <xsd:element name="Name" type="datatypes:NameType"/>
          <xsd:element name="Address" type="datatypes:AddressType"/>
          <xsd:element minOccurs="0" name="PrescriberAgent" type="datatypes:NameType"/>
          <xsd:element name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Medication  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Medication">
    <xsd:sequence>
      <xsd:element name="DrugDescription" type="datatypes:an..105M"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DrugCoded" type="datatypes:DrugCoded"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Quantity" type="datatypes:Quantity"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Directions" type="datatypes:an..140M"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DaysSupply" type="datatypes:n..3"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="WrittenDate" type="datatypes:DateType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="LastFillDate" type="datatypes:DateType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ExpirationDate" type="datatypes:DateType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="EffectiveDate" type="datatypes:DateType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="PeriodEnd" type="datatypes:DateType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DeliveredOnDate" type="datatypes:DateType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DateValidated" type="datatypes:DateType"/>
      <xsd:element name="Substitutions" type="ecl:SubstitutionCode"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="NumberOfRefills" type="datatypes:n..2M"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Diagnosis" type="structures:Diagnosis"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="PriorAuthorization" type="datatypes:PriorAuthorizationCode"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Note" type="datatypes:an..210"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DrugUseEvaluation" type="datatypes:DrugUseEvaluation"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DrugCoverageStatusCode" type="ecl:DrugCoverageStatusCode"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="PriorAuthorizationStatus" type="ecl:PriorAuthorizationStatusCode"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="OtherCompoundInformation" type="structures:OtherCompoundInformationType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="RouteOfAdministration" type="datatypes:FinalRouteOfAdministrationCode"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="StructuredSIG" type="structures:SIGType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Compound" type="datatypes:CompoundIngredient"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="SoldDate" type="datatypes:DateType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="AdditionalRefillsAuthorized" type="datatypes:n..2"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="PharmacyRequestedRefills" type="datatypes:n..2"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DoNotFill" type="ecl:DoNotFillCode"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="NeededNoLaterThanDate" type="datatypes:UtcDateType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="NeededNoLaterThanReason" type="datatypes:an..70"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="RefillsRemaining" type="datatypes:n..2"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="HistoryPresciberOrderNumber" type="datatypes:PriorAuthorizationCode"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="OrderCaptureMethod" type="ecl:OrderCaptureMethodCode"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Pharmacy" type="structures:OptionalPharmacy"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Prescriber" type="structures:HistoryPrescriber"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="HistorySource" type="datatypes:HistorySource"/>
      <xsd:element minOccurs="0" name="ReasonForSubsitutionCodeUsed" type="ecl:ReasonForSubstitutionCodeUsed"/>
      <xsd:element minOccurs="0" name="SplitScript" type="ecl:SplitScriptIndicator"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  NewRxPrescibedMedication  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="NewRxPrescibedMedication">
    <xsd:complexContent>
      <xsd:restriction base="structures:Medication">
        <xsd:sequence>
          <xsd:element name="DrugDescription" type="datatypes:an..105M"/>
          <xsd:element minOccurs="0" name="DrugCoded" type="datatypes:DrugCoded"/>
          <xsd:element name="Quantity" type="datatypes:Quantity"/>
          <xsd:element name="Directions" type="datatypes:an..140M"/>
          <xsd:element minOccurs="0" name="DaysSupply" type="datatypes:n..3"/>
          <xsd:element name="WrittenDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="LastFillDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="ExpirationDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="EffectiveDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="PeriodEnd" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DeliveredOnDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DateValidated" type="datatypes:DateType"/>
          <xsd:element name="Substitutions" type="ecl:SubstitutionCode"/>
          <xsd:element name="NumberOfRefills" type="datatypes:n..2M"/>
          <xsd:element maxOccurs="2" minOccurs="0" name="Diagnosis" type="structures:Diagnosis"/>
          <xsd:element minOccurs="0" name="PriorAuthorization" type="datatypes:PriorAuthorizationCode"/>
          <xsd:element minOccurs="0" name="Note" type="datatypes:an..210"/>
          <xsd:element maxOccurs="5" minOccurs="0" name="DrugUseEvaluation" type="datatypes:DrugUseEvaluation"/>
          <xsd:element maxOccurs="5" minOccurs="0" name="DrugCoverageStatusCode" type="ecl:DrugCoverageStatusCode"/>
          <xsd:element minOccurs="0" name="PriorAuthorizationStatus" type="ecl:PriorAuthorizationStatusCode"/>
          <xsd:element minOccurs="0" name="OtherCompoundInformation" type="structures:OtherCompoundInformationType"/>
          <xsd:element minOccurs="0" name="RouteOfAdministration" type="datatypes:FinalRouteOfAdministrationCode"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="StructuredSIG" type="structures:SIGType"/>
          <xsd:element maxOccurs="25" minOccurs="0" name="Compound" type="datatypes:CompoundIngredient"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="SoldDate" type="datatypes:DateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="AdditionalRefillsAuthorized" type="datatypes:n..2"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="PharmacyRequestedRefills" type="datatypes:n..2"/>
          <xsd:element minOccurs="0" name="DoNotFill" type="ecl:DoNotFillCode"/>
          <xsd:element minOccurs="0" name="NeededNoLaterThanDate" type="datatypes:UtcDateType"/>
          <xsd:element minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
          <xsd:element minOccurs="0" name="NeededNoLaterThanReason" type="datatypes:an..70"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="RefillsRemaining" type="datatypes:n..2"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="HistoryPresciberOrderNumber" type="datatypes:PriorAuthorizationCode"/>
          <xsd:element minOccurs="0" name="OrderCaptureMethod" type="ecl:OrderCaptureMethodCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Pharmacy" type="structures:Pharmacy"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Prescriber" type="structures:PrescriberGeneral"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="HistorySource" type="datatypes:HistorySource"/>
          <xsd:element minOccurs="0" name="ReasonForSubsitutionCodeUsed" type="ecl:ReasonForSubstitutionCodeUsed"/>
          <xsd:element minOccurs="0" name="SplitScript" type="ecl:SplitScriptIndicator"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Observation  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Observation">
    <xsd:sequence>
      <xsd:element maxOccurs="10" minOccurs="0" name="Measurement" type="datatypes:MeasurementType"/>
      <xsd:element minOccurs="0" name="ObservationNotes" type="datatypes:an..140"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  OptionalPharmacy  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="OptionalPharmacy">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Identification" type="datatypes:ProviderID"/>
      <xsd:element minOccurs="0" name="Specialty" type="datatypes:an..10"/>
      <xsd:element minOccurs="0" name="Pharmacist" type="datatypes:NameType"/>
      <xsd:element name="BusinessName" type="datatypes:an..35M"/>
      <xsd:element minOccurs="0" name="Address" type="datatypes:AddressType"/>
      <xsd:element minOccurs="0" name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  OptionalPresciber  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="OptionalPresciber">
    <xsd:complexContent>
      <xsd:restriction base="structures:HistoryPrescriber">
        <xsd:sequence>
          <xsd:element name="Identification" type="datatypes:ProviderID"/>
          <xsd:element minOccurs="0" name="Specialty" type="datatypes:an..10"/>
          <xsd:element minOccurs="0" name="ClinicName" type="datatypes:an..35"/>
          <xsd:element name="Name" type="datatypes:NameType"/>
          <xsd:element minOccurs="0" name="Address" type="datatypes:AddressType"/>
          <xsd:element minOccurs="0" name="PrescriberAgent" type="datatypes:NameType"/>
          <xsd:element minOccurs="0" name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  OtherCompoundInformationType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="OtherCompoundInformationType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CompoundCoded" type="ecl:CompoundCode"/>
      <xsd:element minOccurs="0" name="FinalCompoundPharmaceuticalDosageForm" type="datatypes:NCICode"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Patient  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Patient">
    <xsd:complexContent>
      <xsd:restriction base="structures:PatientFull">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Identification" type="datatypes:PatientID"/>
          <xsd:element name="Name" type="datatypes:NameType"/>
          <xsd:element name="Gender" type="ecl:GenderCode"/>
          <xsd:element name="DateOfBirth" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="Address" type="datatypes:AddressType"/>
          <xsd:element minOccurs="0" name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
          <xsd:element minOccurs="0" name="PatientLocation" type="structures:PatientLocation"/>
          <xsd:element minOccurs="0" name="LanguageNameCode" type="datatypes:an..3"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ResidenceCode" type="ecl:ResidenceCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="PregnancyIndicator" type="ecl:BooleanCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Smoker" type="ecl:BooleanCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Race" type="datatypes:CDCCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Ethnicity" type="datatypes:CDCCode"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  PatientFull  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="PatientFull">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Identification" type="datatypes:PatientID"/>
      <xsd:element name="Name" type="datatypes:NameType"/>
      <xsd:element name="Gender" type="ecl:GenderCode"/>
      <xsd:element name="DateOfBirth" type="datatypes:DateType"/>
      <xsd:element minOccurs="0" name="Address" type="datatypes:AddressType"/>
      <xsd:element minOccurs="0" name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
      <xsd:element minOccurs="0" name="PatientLocation" type="structures:PatientLocation"/>
      <xsd:element minOccurs="0" name="LanguageNameCode" type="datatypes:an..3"/>
      <xsd:element minOccurs="0" name="ResidenceCode" type="ecl:ResidenceCode"/>
      <xsd:element minOccurs="0" name="PregnancyIndicator" type="ecl:BooleanCode"/>
      <xsd:element minOccurs="0" name="Smoker" type="ecl:BooleanCode"/>
      <xsd:element minOccurs="0" name="Race" type="datatypes:CDCCode"/>
      <xsd:element minOccurs="0" name="Ethnicity" type="datatypes:CDCCode"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  PatientLocation  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="PatientLocation">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="FacilityUnit" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="Bed" type="datatypes:an..10"/>
      <xsd:element minOccurs="0" name="Room" type="datatypes:an..10"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  PatientMandatoryAddress  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="PatientMandatoryAddress">
    <xsd:complexContent>
      <xsd:restriction base="structures:Patient">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Identification" type="datatypes:PatientID"/>
          <xsd:element name="Name" type="datatypes:NameType"/>
          <xsd:element name="Gender" type="ecl:GenderCode"/>
          <xsd:element name="DateOfBirth" type="datatypes:DateType"/>
          <xsd:element name="Address" type="datatypes:AddressType"/>
          <xsd:element minOccurs="0" name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
          <xsd:element minOccurs="0" name="PatientLocation" type="structures:PatientLocation"/>
          <xsd:element minOccurs="0" name="LanguageNameCode" type="datatypes:an..3"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ResidenceCode" type="ecl:ResidenceCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="PregnancyIndicator" type="xsd:boolean"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Smoker" type="xsd:boolean"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Race" type="xsd:string"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Ethnicity" type="xsd:string"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Pharmacist  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Pharmacist">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Identification" type="datatypes:ProviderID"/>
      <xsd:element name="Name" type="datatypes:NameType"/>
      <xsd:element minOccurs="0" name="BusinessName" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="Address" type="datatypes:AddressType"/>
      <xsd:element minOccurs="0" name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Pharmacy  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Pharmacy">
    <xsd:complexContent>
      <xsd:restriction base="structures:OptionalPharmacy">
        <xsd:sequence>
          <xsd:element name="Identification" type="datatypes:ProviderID"/>
          <xsd:element minOccurs="0" name="Specialty" type="datatypes:an..10"/>
          <xsd:element minOccurs="0" name="Pharmacist" type="datatypes:NameType"/>
          <xsd:element name="BusinessName" type="datatypes:an..35M"/>
          <xsd:element minOccurs="0" name="Address" type="datatypes:AddressType"/>
          <xsd:element minOccurs="0" name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  PrescribedMedication  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="PrescribedMedication">
    <xsd:complexContent>
      <xsd:restriction base="structures:Medication">
        <xsd:sequence>
          <xsd:element name="DrugDescription" type="datatypes:an..105M"/>
          <xsd:element minOccurs="0" name="DrugCoded" type="datatypes:DrugCoded"/>
          <xsd:element name="Quantity" type="datatypes:Quantity"/>
          <xsd:element name="Directions" type="datatypes:an..140M"/>
          <xsd:element minOccurs="0" name="DaysSupply" type="datatypes:n..3"/>
          <xsd:element name="WrittenDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="LastFillDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="ExpirationDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="EffectiveDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="PeriodEnd" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DeliveredOnDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DateValidated" type="datatypes:DateType"/>
          <xsd:element name="Substitutions" type="ecl:SubstitutionCode"/>
          <xsd:element name="NumberOfRefills" type="datatypes:n..2M"/>
          <xsd:element maxOccurs="2" minOccurs="0" name="Diagnosis" type="structures:Diagnosis"/>
          <xsd:element minOccurs="0" name="PriorAuthorization" type="datatypes:PriorAuthorizationCode"/>
          <xsd:element minOccurs="0" name="Note" type="datatypes:an..210"/>
          <xsd:element maxOccurs="5" minOccurs="0" name="DrugUseEvaluation" type="datatypes:DrugUseEvaluation"/>
          <xsd:element maxOccurs="5" minOccurs="0" name="DrugCoverageStatusCode" type="ecl:DrugCoverageStatusCode"/>
          <xsd:element minOccurs="0" name="PriorAuthorizationStatus" type="ecl:PriorAuthorizationStatusCode"/>
          <xsd:element minOccurs="0" name="OtherCompoundInformation" type="structures:OtherCompoundInformationType"/>
          <xsd:element minOccurs="0" name="RouteOfAdministration" type="datatypes:FinalRouteOfAdministrationCode"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="StructuredSIG" type="structures:SIGType"/>
          <xsd:element maxOccurs="25" minOccurs="0" name="Compound" type="datatypes:CompoundIngredient"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="SoldDate" type="datatypes:DateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="AdditionalRefillsAuthorized" type="datatypes:n..2"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="PharmacyRequestedRefills" type="datatypes:n..2"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DoNotFill" type="ecl:DoNotFillCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NeededNoLaterThanDate" type="datatypes:UtcDateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NeededNoLaterThanReason" type="datatypes:an..70"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="RefillsRemaining" type="datatypes:n..2"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="HistoryPresciberOrderNumber" type="datatypes:PriorAuthorizationCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="OrderCaptureMethod" type="ecl:OrderCaptureMethodCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Pharmacy" type="structures:Pharmacy"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Prescriber" type="structures:PrescriberGeneral"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="HistorySource" type="datatypes:HistorySource"/>
          <xsd:element minOccurs="0" name="ReasonForSubsitutionCodeUsed" type="ecl:ReasonForSubstitutionCodeUsed"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="SplitScript" type="ecl:SplitScriptIndicator"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Prescriber  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Prescriber">
    <xsd:complexContent>
      <xsd:restriction base="structures:OptionalPresciber">
        <xsd:sequence>
          <xsd:element name="Identification" type="datatypes:ProviderID"/>
          <xsd:element minOccurs="0" name="Specialty" type="datatypes:an..10"/>
          <xsd:element minOccurs="0" name="ClinicName" type="datatypes:an..35"/>
          <xsd:element name="Name" type="datatypes:NameType"/>
          <xsd:element minOccurs="0" name="Address" type="datatypes:AddressType"/>
          <xsd:element minOccurs="0" name="PrescriberAgent" type="datatypes:NameType"/>
          <xsd:element name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  PrescriberGeneral  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="PrescriberGeneral">
    <xsd:complexContent>
      <xsd:restriction base="structures:HistoryPrescriber">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Identification" type="datatypes:ProviderID"/>
          <xsd:element minOccurs="0" name="Specialty" type="datatypes:an..10"/>
          <xsd:element minOccurs="0" name="ClinicName" type="datatypes:an..35"/>
          <xsd:element name="Name" type="datatypes:NameType"/>
          <xsd:element minOccurs="0" name="Address" type="datatypes:AddressType"/>
          <xsd:element minOccurs="0" name="PrescriberAgent" type="datatypes:NameType"/>
          <xsd:element name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  PrimaryDiagnosis  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="PrimaryDiagnosis">
    <xsd:sequence>
      <xsd:element name="Qualifier" type="ecl:PrimaryDiagnosisCodeQualifierCode"/>
      <xsd:element name="Value" type="ecl:Code"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Provider  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Provider">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Identification" type="datatypes:ProviderID"/>
      <xsd:element minOccurs="0" name="Specialty" type="datatypes:an..10"/>
      <xsd:element minOccurs="0" name="ClinicName" type="datatypes:an..35"/>
      <xsd:element name="Name" type="datatypes:NameType"/>
      <xsd:element minOccurs="0" name="Address" type="datatypes:AddressType"/>
      <xsd:element name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RefillRequestDispensedMedication  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RefillRequestDispensedMedication">
    <xsd:complexContent>
      <xsd:restriction base="structures:Medication">
        <xsd:sequence>
          <xsd:element name="DrugDescription" type="datatypes:an..105M"/>
          <xsd:element minOccurs="0" name="DrugCoded" type="datatypes:DrugCoded"/>
          <xsd:element name="Quantity" type="datatypes:Quantity"/>
          <xsd:element name="Directions" type="datatypes:an..140M"/>
          <xsd:element minOccurs="0" name="DaysSupply" type="datatypes:n..3"/>
          <xsd:element minOccurs="0" name="WrittenDate" type="datatypes:DateType"/>
          <xsd:element name="LastFillDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="ExpirationDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="EffectiveDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="PeriodEnd" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DeliveredOnDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DateValidated" type="datatypes:DateType"/>
          <xsd:element name="Substitutions" type="ecl:SubstitutionCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NumberOfRefills" type="datatypes:n..2M"/>
          <xsd:element maxOccurs="2" minOccurs="0" name="Diagnosis" type="structures:Diagnosis"/>
          <xsd:element minOccurs="0" name="PriorAuthorization" type="datatypes:PriorAuthorizationCode"/>
          <xsd:element minOccurs="0" name="Note" type="datatypes:an..210"/>
          <xsd:element maxOccurs="5" minOccurs="0" name="DrugUseEvaluation" type="datatypes:DrugUseEvaluation"/>
          <xsd:element maxOccurs="5" minOccurs="0" name="DrugCoverageStatusCode" type="ecl:DrugCoverageStatusCode"/>
          <xsd:element minOccurs="0" name="PriorAuthorizationStatus" type="ecl:PriorAuthorizationStatusCode"/>
          <xsd:element minOccurs="0" name="OtherCompoundInformation" type="structures:OtherCompoundInformationType"/>
          <xsd:element minOccurs="0" name="RouteOfAdministration" type="datatypes:FinalRouteOfAdministrationCode"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="StructuredSIG" type="structures:SIGType"/>
          <xsd:element maxOccurs="25" minOccurs="0" name="Compound" type="datatypes:CompoundIngredient"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="SoldDate" type="datatypes:DateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="AdditionalRefillsAuthorized" type="datatypes:n..2"/>
          <xsd:element minOccurs="0" name="PharmacyRequestedRefills" type="datatypes:n..2"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DoNotFill" type="ecl:DoNotFillCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NeededNoLaterThanDate" type="datatypes:UtcDateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NeededNoLaterThanReason" type="datatypes:an..70"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="RefillsRemaining" type="datatypes:n..2"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="HistoryPresciberOrderNumber" type="datatypes:PriorAuthorizationCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="OrderCaptureMethod" type="ecl:OrderCaptureMethodCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Pharmacy" type="structures:Pharmacy"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Prescriber" type="structures:PrescriberGeneral"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="HistorySource" type="datatypes:HistorySource"/>
          <xsd:element minOccurs="0" name="ReasonForSubsitutionCodeUsed" type="ecl:ReasonForSubstitutionCodeUsed"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="SplitScript" type="ecl:SplitScriptIndicator"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RefillResponseDispensedMedication  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RefillResponseDispensedMedication">
    <xsd:complexContent>
      <xsd:restriction base="structures:Medication">
        <xsd:sequence>
          <xsd:element name="DrugDescription" type="datatypes:an..105M"/>
          <xsd:element minOccurs="0" name="DrugCoded" type="datatypes:DrugCoded"/>
          <xsd:element name="Quantity" type="datatypes:Quantity"/>
          <xsd:element name="Directions" type="datatypes:an..140M"/>
          <xsd:element minOccurs="0" name="DaysSupply" type="datatypes:n..3"/>
          <xsd:element name="WrittenDate" type="datatypes:DateType"/>
          <xsd:element name="LastFillDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="ExpirationDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="EffectiveDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="PeriodEnd" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DeliveredOnDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DateValidated" type="datatypes:DateType"/>
          <xsd:element name="Substitutions" type="ecl:SubstitutionCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NumberOfRefills" type="datatypes:n..2M"/>
          <xsd:element maxOccurs="2" minOccurs="0" name="Diagnosis" type="structures:Diagnosis"/>
          <xsd:element minOccurs="0" name="PriorAuthorization" type="datatypes:PriorAuthorizationCode"/>
          <xsd:element minOccurs="0" name="Note" type="datatypes:an..210"/>
          <xsd:element maxOccurs="5" minOccurs="0" name="DrugUseEvaluation" type="datatypes:DrugUseEvaluation"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DrugCoverageStatusCode" type="ecl:DrugCoverageStatusCode"/>
          <xsd:element minOccurs="0" name="PriorAuthorizationStatus" type="ecl:PriorAuthorizationStatusCode"/>
          <xsd:element minOccurs="0" name="OtherCompoundInformation" type="structures:OtherCompoundInformationType"/>
          <xsd:element minOccurs="0" name="RouteOfAdministration" type="datatypes:FinalRouteOfAdministrationCode"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="StructuredSIG" type="structures:SIGType"/>
          <xsd:element maxOccurs="25" minOccurs="0" name="Compound" type="datatypes:CompoundIngredient"/>
          <xsd:element minOccurs="0" name="SoldDate" type="datatypes:DateType"/>
          <xsd:element name="AdditionalRefillsAuthorized" type="datatypes:n..2"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="PharmacyRequestedRefills" type="datatypes:n..2"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DoNotFill" type="ecl:DoNotFillCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NeededNoLaterThanDate" type="datatypes:UtcDateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NeededNoLaterThanReason" type="datatypes:an..70"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="RefillsRemaining" type="datatypes:n..2"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="HistoryPresciberOrderNumber" type="datatypes:PriorAuthorizationCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="OrderCaptureMethod" type="ecl:OrderCaptureMethodCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Pharmacy" type="structures:Pharmacy"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Prescriber" type="structures:PrescriberGeneral"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="HistorySource" type="datatypes:HistorySource"/>
          <xsd:element minOccurs="0" name="ReasonForSubsitutionCodeUsed" type="ecl:ReasonForSubstitutionCodeUsed"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="SplitScript" type="ecl:SplitScriptIndicator"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RequestedMedication  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RequestedMedication">
    <xsd:complexContent>
      <xsd:restriction base="structures:Medication">
        <xsd:sequence>
          <xsd:element name="DrugDescription" type="datatypes:an..105M"/>
          <xsd:element minOccurs="0" name="DrugCoded" type="datatypes:DrugCoded"/>
          <xsd:element minOccurs="0" name="Quantity" type="datatypes:Quantity"/>
          <xsd:element minOccurs="0" name="Directions" type="datatypes:an..140M"/>
          <xsd:element minOccurs="0" name="DaysSupply" type="datatypes:n..3"/>
          <xsd:element minOccurs="0" name="WrittenDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="LastFillDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="ExpirationDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="EffectiveDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="PeriodEnd" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DeliveredOnDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DateValidated" type="datatypes:DateType"/>
          <xsd:element name="Substitutions" type="ecl:SubstitutionCode"/>
          <xsd:element minOccurs="0" name="NumberOfRefills" type="datatypes:n..2M"/>
          <xsd:element maxOccurs="2" minOccurs="0" name="Diagnosis" type="structures:Diagnosis"/>
          <xsd:element minOccurs="0" name="PriorAuthorization" type="datatypes:PriorAuthorizationCode"/>
          <xsd:element minOccurs="0" name="Note" type="datatypes:an..210"/>
          <xsd:element maxOccurs="5" minOccurs="0" name="DrugUseEvaluation" type="datatypes:DrugUseEvaluation"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DrugCoverageStatusCode" type="ecl:DrugCoverageStatusCode"/>
          <xsd:element minOccurs="0" name="PriorAuthorizationStatus" type="ecl:PriorAuthorizationStatusCode"/>
          <xsd:element minOccurs="0" name="OtherCompoundInformation" type="structures:OtherCompoundInformationType"/>
          <xsd:element minOccurs="0" name="RouteOfAdministration" type="datatypes:FinalRouteOfAdministrationCode"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="StructuredSIG" type="structures:SIGType"/>
          <xsd:element maxOccurs="25" minOccurs="0" name="Compound" type="datatypes:CompoundIngredient"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="SoldDate" type="datatypes:DateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="AdditionalRefillsAuthorized" type="datatypes:n..2"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="PharmacyRequestedRefills" type="datatypes:n..2"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DoNotFill" type="ecl:DoNotFillCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NeededNoLaterThanDate" type="datatypes:UtcDateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NeededNoLaterThanReason" type="datatypes:an..70"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="RefillsRemaining" type="datatypes:n..2"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="HistoryPresciberOrderNumber" type="datatypes:PriorAuthorizationCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="OrderCaptureMethod" type="ecl:OrderCaptureMethodCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Pharmacy" type="structures:Pharmacy"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Prescriber" type="structures:PrescriberGeneral"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="HistorySource" type="datatypes:HistorySource"/>
          <xsd:element minOccurs="0" name="ReasonForSubsitutionCodeUsed" type="ecl:ReasonForSubstitutionCodeUsed"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="SplitScript" type="ecl:SplitScriptIndicator"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ResupplyMedication  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ResupplyMedication">
    <xsd:complexContent>
      <xsd:restriction base="structures:Medication">
        <xsd:sequence>
          <xsd:element name="DrugDescription" type="datatypes:an..105M"/>
          <xsd:element minOccurs="0" name="DrugCoded" type="datatypes:DrugCoded"/>
          <xsd:element name="Quantity" type="datatypes:Quantity"/>
          <xsd:element name="Directions" type="datatypes:an..140M"/>
          <xsd:element minOccurs="0" name="DaysSupply" type="datatypes:n..3"/>
          <xsd:element name="WrittenDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="LastFillDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="ExpirationDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="EffectiveDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="PeriodEnd" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DeliveredOnDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DateValidated" type="datatypes:DateType"/>
          <xsd:element name="Substitutions" type="ecl:SubstitutionCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NumberOfRefills" type="datatypes:n..2M"/>
          <xsd:element maxOccurs="2" minOccurs="0" name="Diagnosis" type="structures:Diagnosis"/>
          <xsd:element minOccurs="0" name="PriorAuthorization" type="datatypes:PriorAuthorizationCode"/>
          <xsd:element minOccurs="0" name="Note" type="datatypes:an..210"/>
          <xsd:element maxOccurs="5" minOccurs="0" name="DrugUseEvaluation" type="datatypes:DrugUseEvaluation"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DrugCoverageStatusCode" type="ecl:DrugCoverageStatusCode"/>
          <xsd:element minOccurs="0" name="PriorAuthorizationStatus" type="ecl:PriorAuthorizationStatusCode"/>
          <xsd:element minOccurs="0" name="OtherCompoundInformation" type="structures:OtherCompoundInformationType"/>
          <xsd:element minOccurs="0" name="RouteOfAdministration" type="datatypes:FinalRouteOfAdministrationCode"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="StructuredSIG" type="structures:SIGType"/>
          <xsd:element maxOccurs="25" minOccurs="0" name="Compound" type="datatypes:CompoundIngredient"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="SoldDate" type="datatypes:DateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="AdditionalRefillsAuthorized" type="datatypes:n..2"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="PharmacyRequestedRefills" type="datatypes:n..2"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DoNotFill" type="ecl:DoNotFillCode"/>
          <xsd:element minOccurs="0" name="NeededNoLaterThanDate" type="datatypes:UtcDateType"/>
          <xsd:element minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
          <xsd:element minOccurs="0" name="NeededNoLaterThanReason" type="datatypes:an..70"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="RefillsRemaining" type="datatypes:n..2"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="HistoryPresciberOrderNumber" type="datatypes:PriorAuthorizationCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="OrderCaptureMethod" type="ecl:OrderCaptureMethodCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Pharmacy" type="structures:Pharmacy"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Prescriber" type="structures:PrescriberGeneral"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="HistorySource" type="datatypes:HistorySource"/>
          <xsd:element minOccurs="0" name="ReasonForSubsitutionCodeUsed" type="ecl:ReasonForSubstitutionCodeUsed"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="SplitScript" type="ecl:SplitScriptIndicator"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RouteOfAdministration   -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RouteOfAdministration">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="RouteOfAdministrationCode" type="datatypes:RouteOfAdministrationCode"/>
      <xsd:element minOccurs="0" name="MultipleRouteOfAdministrationModifier" type="datatypes:ANDOR"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RxFillDispensedMedication  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RxFillDispensedMedication">
    <xsd:complexContent>
      <xsd:restriction base="structures:Medication">
        <xsd:sequence>
          <xsd:element name="DrugDescription" type="datatypes:an..105M"/>
          <xsd:element minOccurs="0" name="DrugCoded" type="datatypes:DrugCoded"/>
          <xsd:element name="Quantity" type="datatypes:Quantity"/>
          <xsd:element name="Directions" type="datatypes:an..140M"/>
          <xsd:element minOccurs="0" name="DaysSupply" type="datatypes:n..3"/>
          <xsd:element minOccurs="0" name="WrittenDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="LastFillDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="ExpirationDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="EffectiveDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="PeriodEnd" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DeliveredOnDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DateValidated" type="datatypes:DateType"/>
          <xsd:element name="Substitutions" type="ecl:SubstitutionCode"/>
          <xsd:element name="NumberOfRefills" type="datatypes:n..2M"/>
          <xsd:element maxOccurs="2" minOccurs="0" name="Diagnosis" type="structures:Diagnosis"/>
          <xsd:element minOccurs="0" name="PriorAuthorization" type="datatypes:PriorAuthorizationCode"/>
          <xsd:element minOccurs="0" name="Note" type="datatypes:an..210"/>
          <xsd:element maxOccurs="5" minOccurs="0" name="DrugUseEvaluation" type="datatypes:DrugUseEvaluation"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DrugCoverageStatusCode" type="ecl:DrugCoverageStatusCode"/>
          <xsd:element minOccurs="0" name="PriorAuthorizationStatus" type="ecl:PriorAuthorizationStatusCode"/>
          <xsd:element minOccurs="0" name="OtherCompoundInformation" type="structures:OtherCompoundInformationType"/>
          <xsd:element minOccurs="0" name="RouteOfAdministration" type="datatypes:FinalRouteOfAdministrationCode"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="StructuredSIG" type="structures:SIGType"/>
          <xsd:element maxOccurs="25" minOccurs="0" name="Compound" type="datatypes:CompoundIngredient"/>
          <xsd:element minOccurs="0" name="SoldDate" type="datatypes:DateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="AdditionalRefillsAuthorized" type="datatypes:n..2"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="PharmacyRequestedRefills" type="datatypes:n..2"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DoNotFill" type="ecl:DoNotFillCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NeededNoLaterThanDate" type="datatypes:UtcDateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NeededNoLaterThanReason" type="datatypes:an..70"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="RefillsRemaining" type="datatypes:n..2"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="HistoryPresciberOrderNumber" type="datatypes:PriorAuthorizationCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="OrderCaptureMethod" type="ecl:OrderCaptureMethodCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Pharmacy" type="structures:Pharmacy"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Prescriber" type="structures:PrescriberGeneral"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="HistorySource" type="datatypes:HistorySource"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="SplitScript" type="ecl:SplitScriptIndicator"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RxHistoryBenefitsCoordination  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RxHistoryBenefitsCoordination">
    <xsd:complexContent>
      <xsd:restriction base="structures:BaseBenefitsCoordination">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="PayerIdentification" type="datatypes:PayerID"/>
          <xsd:element minOccurs="0" name="PayerName" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="CardholderID" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="CardHolderName" type="datatypes:NameType"/>
          <xsd:element minOccurs="0" name="GroupID" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="PayerResponsibilityCode" type="ecl:PayerResponsibilityCode"/>
          <xsd:element minOccurs="0" name="PatientRelationship" type="ecl:PatientRelationshipCode"/>
          <xsd:element minOccurs="0" name="PersonCode" type="datatypes:n..3"/>
          <xsd:element minOccurs="0" name="GroupName" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="Address" type="datatypes:AddressType"/>
          <xsd:element minOccurs="0" name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
          <xsd:element name="Consent" type="ecl:ConsentCode"/>
          <xsd:element minOccurs="0" name="PBMMemberID" type="datatypes:an..80"/>
          <xsd:element minOccurs="0" name="ResponsibleParty" type="datatypes:NameType"/>
          <xsd:element minOccurs="0" name="ServiceTypeCoded" type="ecl:ServiceTypeCode"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SIGType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="SIGType">
    <xsd:sequence>
      <xsd:element name="RepeatingSIG">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SigSequencePositionNumber" type="datatypes:n..2"/>
            <xsd:element minOccurs="0" name="MultipleSigModifier" type="datatypes:ANDORTHEN"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CodeSystem">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="SNOMEDVersion" type="datatypes:an..14"/>
            <xsd:element minOccurs="0" name="FMTVersion" type="datatypes:an..14"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="FreeText">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SigFreeTextStringIndicator">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:pattern value="1|2|3"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="SigFreeText" type="datatypes:an..140M"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Dose">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="DoseCompositeIndicator">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:pattern value="1|2|3|4"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="DoseDeliveryMethodText" type="datatypes:an..50"/>
            <xsd:element minOccurs="0" name="DoseDeliveryMethodCodeQualifier" type="datatypes:TerminologyType"/>
            <xsd:element minOccurs="0" name="DoseDeliveryMethodCode" type="datatypes:an..15"/>
            <xsd:element minOccurs="0" name="DoseDeliveryMethodModifierText" type="datatypes:an..50"/>
            <xsd:element minOccurs="0" name="DoseDeliveryMethodModifierCodeQualifier" type="datatypes:TerminologyType"/>
            <xsd:element minOccurs="0" name="DoseDeliveryMethodModifierCode" type="datatypes:an..15"/>
            <xsd:element minOccurs="0" name="DoseQuantity" type="datatypes:n..18"/>
            <xsd:element minOccurs="0" name="DoseFormText" type="datatypes:an..50"/>
            <xsd:element minOccurs="0" name="DoseFormCodeQualifier" type="datatypes:TerminologyType"/>
            <xsd:element minOccurs="0" name="DoseFormCode" type="datatypes:an..15"/>
            <xsd:element minOccurs="0" name="DoseRangeModifier" type="datatypes:TOOR"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="DoseCalculation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="DosingBasisNumericValue" type="datatypes:n..18"/>
            <xsd:element minOccurs="0" name="DosingBasisUnitOfMeasureText" type="datatypes:an..50"/>
            <xsd:element minOccurs="0" name="DosingBasisUnitOfMeasureCodeQualifier" type="datatypes:TerminologyType"/>
            <xsd:element minOccurs="0" name="DosingBasisUnitOfMeasureCode" type="datatypes:an..15"/>
            <xsd:element minOccurs="0" name="BodyMetricQualifier">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:pattern value="1|2"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="BodyMetricValue" type="datatypes:n..18"/>
            <xsd:element minOccurs="0" name="CalculatedDoseNumeric" type="datatypes:n..18"/>
            <xsd:element minOccurs="0" name="CalculatedDoseUnitOfMeasureText" type="datatypes:an..50"/>
            <xsd:element minOccurs="0" name="CalculatedDoseUnitOfMeasureCodeQualifier" type="datatypes:TerminologyType"/>
            <xsd:element minOccurs="0" name="CalculatedDoseUnitOfMeasureCode" type="datatypes:an..15"/>
            <xsd:element minOccurs="0" name="DosingBasisRangeModifier" type="datatypes:TOOR"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="Vehicle">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="VehicleName" type="datatypes:an..50"/>
            <xsd:element minOccurs="0" name="VehicleNameCodeQualifier" type="datatypes:TerminologyType"/>
            <xsd:element minOccurs="0" name="VehicleNameCode" type="datatypes:an..15"/>
            <xsd:element minOccurs="0" name="VehicleQuantity" type="datatypes:n..18"/>
            <xsd:element minOccurs="0" name="VehicleUnitOfMeasureText" type="datatypes:an..50"/>
            <xsd:element minOccurs="0" name="VehicleUnitOfMeasureCodeQualifier" type="datatypes:TerminologyType"/>
            <xsd:element minOccurs="0" name="VehicleUnitOfMeasureCode" type="datatypes:an..15"/>
            <xsd:element minOccurs="0" name="MultipleVehicleModifier" type="datatypes:ANDOR"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="RouteOfAdministration" type="structures:RouteOfAdministration"/>
      <xsd:element minOccurs="0" name="SiteOfAdministration">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="SiteOfAdministrationText" type="datatypes:an..50"/>
            <xsd:element minOccurs="0" name="SiteOfAdministrationCodeQualifier" type="datatypes:TerminologyType"/>
            <xsd:element minOccurs="0" name="SiteOfAdministrationCode" type="datatypes:an..15"/>
            <xsd:element minOccurs="0" name="MultipleAdministrationTimingModifier" type="datatypes:ANDORNOT"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="Timing">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="AdministrationTimingText" type="datatypes:an..50"/>
            <xsd:element minOccurs="0" name="AdministrationTimingCodeQualifier" type="datatypes:TerminologyType"/>
            <xsd:element minOccurs="0" name="AdministrationTimingCode" type="datatypes:an..15"/>
            <xsd:element minOccurs="0" name="MultipleAdministrationTimingModifier" type="datatypes:ANDOR"/>
            <xsd:element minOccurs="0" name="RateOfAdministration" type="datatypes:an..11"/>
            <xsd:element minOccurs="0" name="RateUnitOfMeasureText" type="datatypes:an..50"/>
            <xsd:element minOccurs="0" name="RateUnitOfMeasureCodeQualifier" type="datatypes:TerminologyType"/>
            <xsd:element minOccurs="0" name="RateUnitOfMeasureCode" type="datatypes:an..15"/>
            <xsd:element minOccurs="0" name="TimePeriodBasisText" type="datatypes:an..50"/>
            <xsd:element minOccurs="0" name="TimePeriodBasisCodeQualifier" type="datatypes:TerminologyType"/>
            <xsd:element minOccurs="0" name="TimePeriodBasisCode" type="datatypes:an..15"/>
            <xsd:element minOccurs="0" name="FrequencyNumericValue" type="datatypes:an..11"/>
            <xsd:element minOccurs="0" name="FrequencyUnitsText" type="datatypes:an..50"/>
            <xsd:element minOccurs="0" name="FrequencyUnitsCodeQualifier" type="datatypes:TerminologyType"/>
            <xsd:element minOccurs="0" name="FrequencyUnitsCode" type="datatypes:an..15"/>
            <xsd:element minOccurs="0" name="VariableFrequencyModifier" type="datatypes:ANDORTO"/>
            <xsd:element minOccurs="0" name="IntervalNumericValue" type="datatypes:n..18"/>
            <xsd:element minOccurs="0" name="IntervalUnitsText" type="datatypes:an..50"/>
            <xsd:element minOccurs="0" name="IntervalUnitsCodeQualifier" type="datatypes:TerminologyType"/>
            <xsd:element minOccurs="0" name="IntervalUnitsCode" type="datatypes:an..15"/>
            <xsd:element minOccurs="0" name="VariableIntervalModifier" type="datatypes:ANDORTO"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="Duration">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="DurationNumericValue" type="datatypes:an..11M"/>
            <xsd:element name="DurationText" type="datatypes:an..50M"/>
            <xsd:element name="DurationTextCodeQualifier" type="datatypes:TerminologyType"/>
            <xsd:element name="DurationTextCode" type="datatypes:an..15M"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MaximumDoseRestriction">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="MaximumDoseRestrictionNumericValue" type="datatypes:n..18M"/>
            <xsd:element name="MaximumDoseRestrictionUnitsText" type="datatypes:an..50M"/>
            <xsd:element name="MaximumDoseRestrictionCodeQualifier" type="datatypes:TerminologyType"/>
            <xsd:element name="MaximumDoseRestrictionUnitsCode" type="datatypes:an..15M"/>
            <xsd:element minOccurs="0" name="MaximumDoseRestrictionVariableNumericValue" type="datatypes:n..18"/>
            <xsd:element minOccurs="0" name="MaximumDoseRestrictionVariableUnitsText" type="datatypes:an..50"/>
            <xsd:element minOccurs="0" name="MaximumDoseRestrictionVariableUnitsCodeQualifier" type="datatypes:TerminologyType"/>
            <xsd:element minOccurs="0" name="MaximumDoseRestrictionVariableUnitsCode" type="datatypes:an..15"/>
            <xsd:element minOccurs="0" name="MaximumDoseRestrictionVariableDurationModifier" type="datatypes:ANDOR"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="Indication">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="IndicationPrecursorText" type="datatypes:an..50"/>
            <xsd:element minOccurs="0" name="IndicationPrecursorCodeQualifier" type="datatypes:TerminologyType"/>
            <xsd:element name="IndicationPrecursorCode" type="datatypes:an..15M"/>
            <xsd:element minOccurs="0" name="IndicationText" type="datatypes:an..50"/>
            <xsd:element minOccurs="0" name="IndicationTextCodeQualifier" type="datatypes:TerminologyType"/>
            <xsd:element minOccurs="0" name="IndicationTextCode" type="datatypes:an..15"/>
            <xsd:element minOccurs="0" name="IndicationValueText" type="datatypes:an..50"/>
            <xsd:element minOccurs="0" name="IndicationValueUnit" type="datatypes:n..18"/>
            <xsd:element minOccurs="0" name="IndicationValueUnitOfMeasureText" type="datatypes:an..50"/>
            <xsd:element minOccurs="0" name="IndicationValueUnitOfMeasureCodeQualifier" type="datatypes:TerminologyType"/>
            <xsd:element name="IndicationValueUnitOfMeasureCode" type="datatypes:an..15M"/>
            <xsd:element minOccurs="0" name="IndicationVariableModifier" type="datatypes:ANDORTO"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="Stop">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="StopIndicator">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:pattern value="Y|N"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SecondaryDiagnosis  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="SecondaryDiagnosis">
    <xsd:sequence>
      <xsd:element name="Qualifier" type="ecl:SecondaryDiagnosisCodeQualifierCode"/>
      <xsd:element name="Value" type="ecl:Code"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Supervisor  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Supervisor">
    <xsd:complexContent>
      <xsd:restriction base="structures:SupervisorOptional">
        <xsd:sequence>
          <xsd:element name="Identification" type="datatypes:ProviderID"/>
          <xsd:element minOccurs="0" name="Specialty" type="datatypes:an..10"/>
          <xsd:element name="Name" type="datatypes:NameType"/>
          <xsd:element minOccurs="0" name="ClinicName" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="Address" type="datatypes:AddressType"/>
          <xsd:element name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SupervisorMandatoryAddress  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="SupervisorMandatoryAddress">
    <xsd:complexContent>
      <xsd:restriction base="structures:Supervisor">
        <xsd:sequence>
          <xsd:element name="Identification" type="datatypes:ProviderID"/>
          <xsd:element minOccurs="0" name="Specialty" type="datatypes:an..10"/>
          <xsd:element name="Name" type="datatypes:NameType"/>
          <xsd:element minOccurs="0" name="ClinicName" type="datatypes:an..35"/>
          <xsd:element name="Address" type="datatypes:AddressType"/>
          <xsd:element name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SupervisorOptional  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="SupervisorOptional">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Identification" type="datatypes:ProviderID"/>
      <xsd:element minOccurs="0" name="Specialty" type="datatypes:an..10"/>
      <xsd:element name="Name" type="datatypes:NameType"/>
      <xsd:element minOccurs="0" name="ClinicName" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="Address" type="datatypes:AddressType"/>
      <xsd:element name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>