ncpdp/models/org.ncpdp.uml.functions/schemas/transport.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ncpdp.org/schema/Transport" version="201008" xmlns:SCRIPT="http://www.ncpdp.org/schema/SCRIPT" xmlns:datatypes="http://www.ncpdp.org/schema/datatypes" xmlns:ecl="http://www.ncpdp.org/schema/ecl" xmlns:specialized="http://www.ncpdp.org/schema/specialized" xmlns:transport="http://www.ncpdp.org/schema/Transport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.ncpdp.org/schema/datatypes" schemaLocation="datatypes.xsd"/>
  <xsd:import namespace="http://www.ncpdp.org/schema/ecl" schemaLocation="ecl.xsd"/>
  <xsd:import namespace="http://www.ncpdp.org/schema/SCRIPT" schemaLocation="script.xsd"/>
  <xsd:import namespace="http://www.ncpdp.org/schema/specialized" schemaLocation="specialized.xsd"/>
  <xsd:element name="Message" type="transport:MessageType"/>
  <xsd:complexType name="BodyType">
    <xsd:choice>
      <xsd:element name="Status" type="transport:Status"/>
      <xsd:element name="Error" type="transport:Error"/>
      <xsd:element name="Verify" type="transport:Verify"/>
      <xsd:element name="GetMessage" type="transport:GetMessage"/>
      <xsd:element name="PasswordChange" type="transport:PasswordChange"/>
      <xsd:element name="CancelRx" type="SCRIPT:CancelRx"/>
      <xsd:element name="CancelRxResponse" type="SCRIPT:CancelRxResponse"/>
      <xsd:element name="Census" type="specialized:Census"/>
      <xsd:element name="DrugAdministration" type="SCRIPT:DrugAdminstration"/>
      <xsd:element name="NewRx" type="SCRIPT:NewRx"/>
      <xsd:element name="MTMServiceRequest" type="specialized:MTMServiceRequest"/>
      <xsd:element name="MTMServiceResponse" type="specialized:MTMServiceResponse"/>
      <xsd:element name="RefillRequest" type="SCRIPT:RefillRequest"/>
      <xsd:element name="RefillResponse" type="SCRIPT:RefillResponse"/>
      <xsd:element name="Resupply" type="SCRIPT:Resupply"/>
      <xsd:element name="RxChangeRequest" type="SCRIPT:RxChangeRequest"/>
      <xsd:element name="RxChangeResponse" type="SCRIPT:RxChangeResponse"/>
      <xsd:element name="RxFill" type="SCRIPT:RxFill"/>
      <xsd:element name="RxHistoryRequest" type="SCRIPT:RxHistoryRequest"/>
      <xsd:element name="RxHistoryResponse" type="SCRIPT:RxHistoryResponse"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="Error">
    <xsd:sequence>
      <xsd:element name="Code" type="ecl:TransactionErrorCode"/>
      <xsd:element maxOccurs="10" minOccurs="0" name="DescriptionCode" type="ecl:DescriptionCode"/>
      <xsd:element minOccurs="0" name="Description" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetMessage">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
      <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HeaderType">
    <xsd:sequence>
      <xsd:element name="To" type="datatypes:QualifiedAddress"/>
      <xsd:element name="From" type="datatypes:QualifiedAddress"/>
      <xsd:element name="MessageID" type="datatypes:an..35M"/>
      <xsd:element minOccurs="0" name="RelatesToMessageID" type="datatypes:an..35"/>
      <xsd:element name="SentTime" type="datatypes:UtcDateType"/>
      <xsd:element minOccurs="0" name="Security" type="transport:SecurityType"/>
      <xsd:element name="SenderSoftware" type="transport:SenderSoftwareType"/>
      <xsd:element minOccurs="0" name="Mailbox" type="transport:MailboxType"/>
      <xsd:element minOccurs="0" name="TestMessage" type="datatypes:n1"/>
      <xsd:element minOccurs="0" name="RxReferenceNumber" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="TertiaryIdentifier" type="datatypes:an..3"/>
      <xsd:element minOccurs="0" name="PrescriberOrderNumber" type="datatypes:an..35"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MailboxType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="MailboxID" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="DeliveredID" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="AdditionalTraceNumber" type="datatypes:an..3"/>
      <xsd:element minOccurs="0" name="AcknowledgementID" type="datatypes:an..35"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MessageType">
    <xsd:sequence>
      <xsd:element name="Header" type="transport:HeaderType"/>
      <xsd:element name="Body" type="transport:BodyType"/>
    </xsd:sequence>
    <xsd:attribute name="DatatypesVersion" type="xsd:string" use="required"/>
    <xsd:attribute name="TransportVersion" type="xsd:string" use="required"/>
    <xsd:attribute name="TransactionDomain" type="ecl:TransactionDomainVersionQualifierCode" use="required"/>
    <xsd:attribute name="TransactionVersion" type="xsd:string" use="required"/>
    <xsd:attribute name="StructuresVersion" type="xsd:string" use="required"/>
    <xsd:attribute name="ECLVersion" type="xsd:string" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="PasswordChange">
    <xsd:sequence>
      <xsd:element name="Request" type="transport:PasswordRequestType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PasswordRequestType">
    <xsd:sequence>
      <xsd:element name="OldPassword" type="datatypes:anM"/>
      <xsd:element name="NewPassword" type="datatypes:anM"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Release">
    <xsd:attribute name="Name" type="xsd:string" use="required"/>
    <xsd:attribute name="version" type="xsd:string" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="SecurityIdentificationType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="SecondaryIdentification" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="TertiaryIdentification" type="datatypes:an..35"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SecurityType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="UsernameToken" type="transport:UsernameTokenType"/>
      <xsd:element minOccurs="0" name="Sender" type="transport:SecurityIdentificationType"/>
      <xsd:element minOccurs="0" name="Receiver" type="transport:SecurityIdentificationType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SenderSoftwareType">
    <xsd:sequence>
      <xsd:element name="SenderSoftwareDeveloper" type="datatypes:an..35M"/>
      <xsd:element name="SenderSoftwareProduct" type="datatypes:an..35M"/>
      <xsd:element name="SenderSoftwareVersionRelease" type="datatypes:an..50M"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Status">
    <xsd:sequence>
      <xsd:element name="Code" type="ecl:StatusCode"/>
      <xsd:element maxOccurs="10" minOccurs="0" name="DescriptionCode" type="ecl:DescriptionCode"/>
      <xsd:element minOccurs="0" name="Description" type="datatypes:an..70"/>
      <xsd:element minOccurs="0" name="PrescriptionDeliveryMethod" type="ecl:PrescriptionDeliveryMethod"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UsernameTokenType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Username" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="Password" type="datatypes:PasswordType"/>
      <xsd:element minOccurs="0" name="Nonce" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="Created" type="datatypes:UtcDateType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Verify">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="VerifyStatus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Code">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:pattern value="010"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="Description" type="datatypes:an..70"/>
            <xsd:element minOccurs="0" name="PrescriptionDeliveryMethod" type="ecl:PrescriptionDeliveryMethod"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>