branches/chixBranch/org.ncpdp.uml.functions/schemas/specialized.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

Copyright (c) 2007, 2008, 2009, 2010 NCPDP. All rights reserved. This work is owned by National Council for Prescription Drug Programs, Inc., 924Ø E. Raintree Drive, Scottsdale, AZ 8526Ø, (48Ø) 477-1ØØØ, ncpdp@ncpdp.org, and protected by the copyright laws of the United States. 17 U.S.C. §1Ø1, et. seq. Permission is given to Council members to copy and use the work or any part thereof in connection with the business purposes of the Council members.   

The work may not be changed or altered. The work may not be sold, used or exploited for commercial purposes. This permission may be revoked by National Council for Prescription Drug Programs, Inc., at any time. The National Council for Prescription Drugs Programs, Inc. is not responsible for any errors or damage as a result of the use of the work.
NCPDP recognizes the confidentiality of certain information exchanged electronically through the use of its standards. Users should be familiar with the federal, state, and local laws, regulations and codes requiring confidentiality of this information and should utilize the standards accordingly.

NOTICE: In addition, this NCPDP Standard contains certain data fields and elements that may be completed by users with the proprietary information of third parties. The use and distribution of third parties' proprietary information without such third parties' consent, or the execution of a license or other agreement with such third party, could subject the user to numerous legal claims. All users are encouraged to contact such third parties to determine whether such information is proprietary and if necessary, to consult with legal counsel to make arrangements for the use and distribution of such proprietary information.


--><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ncpdp.org/schema/specialized" version="201008" xmlns:datatypes="http://www.ncpdp.org/schema/datatypes" xmlns:ecl="http://www.ncpdp.org/schema/ecl" xmlns:specialized="http://www.ncpdp.org/schema/specialized" xmlns:structures="http://www.ncpdp.org/schema/structures" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.ncpdp.org/schema/datatypes" schemaLocation="datatypes.xsd"/>
  <xsd:import namespace="http://www.ncpdp.org/schema/ecl" schemaLocation="ecl.xsd"/>
  <xsd:import namespace="http://www.ncpdp.org/schema/structures" schemaLocation="structures.xsd"/>
  <!-- ================================================== -->
  <!-- =====  Complex Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ApprovedType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ApprovedType">
    <xsd:sequence>
      <xsd:element maxOccurs="10" minOccurs="0" name="ReasonCode" type="ecl:ReasonCode">
        <xsd:annotation>
          <xsd:documentation>Approved may contain a ReasonCode.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ReferenceNumber" type="datatypes:an..35">
        <xsd:annotation>
          <xsd:documentation>Transaction Key. Used in conjunction with same field described above in the RequestReferenceNumber. The Mailbox may return the positional key of the specific piece of mail within their files.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Note" type="datatypes:an..70"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ApprovedWithChangesType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ApprovedWithChangesType">
    <xsd:sequence>
      <xsd:element maxOccurs="10" minOccurs="0" name="ReasonCode" type="ecl:ReasonCode">
        <xsd:annotation>
          <xsd:documentation>ApprovedWithChanges may be accompanied by a ReasonCode.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ReferenceNumber" type="datatypes:an..35">
        <xsd:annotation>
          <xsd:documentation>Transaction Key. Used in conjunction with same field described above in the RequestReferenceNumber. The Mailbox may return the positional key of the specific piece of mail within their files.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Note" type="datatypes:an..70"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Census  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Census">
    <xsd:annotation>
      <xsd:documentation>This transaction is sent from the resident source system to parties that need to be aware of these census changes.  

Designates type and description of census message – Admit, Discharge, Change. Used when a ReturnReceipt is requested.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="specialized:SpecializedRequest">
        <xsd:sequence>
          <xsd:element name="MessageRequestCode" type="ecl:MessageFunctionCode">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="FollowUpRequest" type="datatypes:n1">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="ClinicalInfoAttachment" type="structures:Attachment">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Allergy" type="structures:Allergy">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="3" minOccurs="0" name="BenefitsCoordination" type="structures:BenefitsCoordination">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="DiagnosisGeneral" type="structures:DiagnosisGeneral">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Facility" type="datatypes:Facilty">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Patient" type="structures:Patient">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="Pharmacist" type="structures:Pharmacist">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="Pharmacy" type="structures:Pharmacy">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Prescriber" type="structures:PrescriberGeneral">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="Provider" type="structures:Provider">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="Service" type="specialized:ServiceType">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="AnticipatedReturnDate" type="datatypes:SimpleDateType">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="CensusEffectiveDate" type="datatypes:SimpleDateType">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="TimeZone" type="datatypes:TimeZone">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="DispensingRequestCode" type="ecl:DispensingRequestCode">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  DeniedType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DeniedType">
    <xsd:sequence>
      <xsd:element maxOccurs="10" name="ReasonCode" type="ecl:ReasonCode"/>
      <xsd:element minOccurs="0" name="ReferenceNumber" type="datatypes:an..35">
        <xsd:annotation>
          <xsd:documentation>Transaction Key. Used in conjunction with same field described above in the RequestReferenceNumber. The Mailbox may return the positional key of the specific piece of mail within their files.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="DenialReason" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>A DenialReason or DeniedNewRxToFollow response must be accompanied by the ReasonCode or DenialReason explanation, or both.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  MTMResponseType  <<choice>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MTMResponseType">
    <xsd:complexContent>
      <xsd:restriction base="specialized:ResponseType">
        <xsd:choice>
          <xsd:element name="Denied" type="specialized:DeniedType"/>
          <xsd:element name="Approved" type="specialized:ApprovedType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ApprovedWithChanges" type="specialized:ApprovedWithChangesType"/>
        </xsd:choice>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  MTMServiceRequest  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MTMServiceRequest">
    <xsd:annotation>
      <xsd:documentation>This message is sent by the Payer to the Pharmacy or the Prescriber. The Payer is requesting the Pharmacy or Prescriber accept the patient and perform the service.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="specialized:SpecializedRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="0" minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctionCode">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="FollowUpRequest" type="datatypes:n1">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ClinicalInfoAttachment" type="structures:Attachment">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="Allergy" type="structures:Allergy">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="3" name="BenefitsCoordination" type="structures:BenefitsCoordination">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="structures:DiagnosisGeneral">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Facility" type="datatypes:Facilty">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Patient" type="structures:PatientFull">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Pharmacist" type="structures:Pharmacist">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Pharmacy" type="structures:Pharmacy">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Prescriber" type="structures:PrescriberGeneral">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Provider" type="structures:Provider">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Service" type="specialized:ServiceType">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="AnticipatedReturnDate" type="datatypes:SimpleDateType">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="CensusEffectiveDate" type="datatypes:SimpleDateType">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="TimeZone" type="datatypes:TimeZone">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="DispensingRequestCode" type="ecl:DispensingRequestCode">
            <xsd:annotation>
              <xsd:documentation>See SpecializedRequest for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  MTMServiceResponse  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MTMServiceResponse">
    <xsd:annotation>
      <xsd:documentation>This message is sent by the Pharmacy or Prescriber to the Payer. It is the response to an MTMServiceRequest. The Pharmacy or Prescriber either accepts the patient and service, or rejects the patient and service.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="specialized:SpecializedResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="0" minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctionCode">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="FollowUpRequest" type="datatypes:n1">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Facility" type="datatypes:Facilty">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Patient" type="structures:PatientFull">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Pharmacist" type="structures:Pharmacist">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Pharmacy" type="structures:Pharmacy">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Prescriber" type="structures:PrescriberGeneral">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Provider" type="structures:Provider">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Service" type="specialized:ServiceType">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Response" type="specialized:MTMResponseType">
            <xsd:annotation>
              <xsd:documentation>See SpecialzedResponse for Definition and Usage</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ResponseType  <<choice>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ResponseType">
    <xsd:choice>
      <xsd:element minOccurs="0" name="Denied" type="specialized:DeniedType"/>
      <xsd:element minOccurs="0" name="Approved" type="specialized:ApprovedType"/>
      <xsd:element minOccurs="0" name="ApprovedWithChanges" type="specialized:ApprovedWithChangesType"/>
    </xsd:choice>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ServiceType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ServiceType">
    <xsd:annotation>
      <xsd:documentation>Used in MTMServiceRequest, MTMServiceResponse</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="MTMPayerCaseIdentifier" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Unique identifier assigned by the payer to this case. MTMPayerCaseidentifier is subserviant to the patient identifier. (A patient may have multiple cases, distinguished by multiple case identifiers.)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:choice>
        <xsd:element name="TypeOfServiceFreeText" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Can send FreeText or Code/Qualifier/Text - but not both. If a code list exists, the Code/Qualifier/Text are used, where Text must be from the Code Source, not free text.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="TypeOfService" type="datatypes:QualifiedCodeWithText">
          <xsd:annotation>
            <xsd:documentation>Note: The codification for MTM services is underway. At this point, to exchange the Service, the industry will exchange free text (TypeOfServiceFreeText) until services are codified. TypeOfServiceFreeText may be used or (TypeOfServiceCodeQualifier, TypeOfServiceCode and TypeOfServiceCodeText) – but not both. Once codified, TypeOfServiceCodeText, TypeOfServiceCode, TypeOfServiceCodeQualifier will be used and TypeOfServiceFreeText will be sunsetted.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
      <xsd:choice minOccurs="0">
        <xsd:element name="TargetedTypeOfServiceFreeText" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Can send FreeText or Code/Qualifier/Text - but not both. If a code list exists, the Code/Qualifier/Text are used, where Text must be from the Code Source, not free text</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="TargetedTypeOfService" type="datatypes:QualifiedCodeWithText">
          <xsd:annotation>
            <xsd:documentation>Note: The TargetedTypeOfServiceCodeQualifier contains code lists from which a codified TargetedTypeOfServiceCode and TargetedTypeOfServiceCodeText are to be populated. However, if a code does not exist for the target, free text may be used in the TargetedTypeOfServiceFreeText. TargetedTypeOfServiceFreeText may be used or (TargetedTypeOfServiceCodeQualifier, TargetedTypeOfServiceCode and TargetedTypeOfServiceCodeText) – but not both.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
      <xsd:element minOccurs="0" name="EffectiveDate" type="datatypes:DateType"/>
      <xsd:element minOccurs="0" name="ExpirationDate" type="datatypes:DateType"/>
      <xsd:element minOccurs="0" name="TotalNumberOfEncountersApproved" type="datatypes:n..4"/>
      <xsd:element minOccurs="0" name="FrequencyOfEncountersApproved" type="datatypes:QualifiedCodeWithText"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SpecializedRequest  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType abstract="true" name="SpecializedRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctionCode"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ReturnReceipt" type="datatypes:an..3">
        <xsd:annotation>
          <xsd:documentation>If this field is submitted with 1 in the request, a Verify transaction is to be sent from the recipient at some time.
1 = Return Receipt Requested
all other values = no return receipt requested.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="FollowUpRequest" type="datatypes:n1">
        <xsd:annotation>
          <xsd:documentation>Indicator that this message is a follow-up </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ClinicalInfoAttachment" type="structures:Attachment">
        <xsd:annotation>
          <xsd:documentation>Provides patient summary information when applicable</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Allergy" type="structures:Allergy">
        <xsd:annotation>
          <xsd:documentation>The Allergy element enables the sender to inform the recipient of all known patient allergies. The element is intended to provide this patient allergy profile information to the recipient. If the Allergy element is sent, it must include all known patient allergies. Responder can send back an Allergy element, but should not echo back the Allergy element received on the request. 
Note: The Allergy element is not to be used to replace or add to the transfer of drug use evaluation information, which is instead communicated using the existing DUE composite in the medication information. This is a comprehensive list of allergies that the sender is aware of at the time the transaction is sent.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="BenefitsCoordination" type="structures:BaseBenefitsCoordination">
        <xsd:annotation>
          <xsd:documentation>Indicates coverage’s known to the sending system.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DiagnosisGeneral" type="structures:DiagnosisGeneral">
        <xsd:annotation>
          <xsd:documentation>Element may be used only in the long-term care setting, where there are established processes supporting the sharing of diagnosis information between a resident’s facility and pharmacy. Note: The medication information enables communication of prescription-specific diagnosis information only—appropriate for use in new prescription messaging, but insufficient to support management of a resident’s full drug regimen. The intent is to convey the diagnosis that the prescribed medication is for.  There is also a need to convey diagnosis information in the Census event.  The difference here is that there is no related drug.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Facility" type="datatypes:Facilty">
        <xsd:annotation>
          <xsd:documentation>One loop mandatory for the skilled nursing facility.
Given that a new long term care resident may not yet have an assigned physician, it is more appropriate to require the facility information, and physician if that information is available.

 In long-term care settings, if the recipient is a facility, Facility is required.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Patient" type="structures:PatientFull">
        <xsd:annotation>
          <xsd:documentation>Designated Patient for transaction</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Pharmacist" type="structures:Pharmacist">
        <xsd:annotation>
          <xsd:documentation>Designated Pharmacisy for transaction</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Pharmacy" type="structures:Pharmacy">
        <xsd:annotation>
          <xsd:documentation>Designated Pharmacy for transaction

If recipient is a pharmacy, Pharmacy is required.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Prescriber" type="structures:PrescriberGeneral">
        <xsd:annotation>
          <xsd:documentation>Attending Physician</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Provider" type="structures:Provider">
        <xsd:annotation>
          <xsd:documentation>Designated Provider for transaction</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Service" type="specialized:ServiceType">
        <xsd:annotation>
          <xsd:documentation>Designates the service information to be exchanged.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="AnticipatedReturnDate" type="datatypes:SimpleDateType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="CensusEffectiveDate" type="datatypes:SimpleDateType">
        <xsd:annotation>
          <xsd:documentation>For Census, ChangeRequestType values D3 (Discharge – Return Anticipated), D4 (Discharge Other), LT (Therapeutic Leave of Absence) and LG (Hospital Leave of Absence), - value AR (Anticipated Patient Return Date/Time) is used in the second Date loop. When populated, the second date loop indicates the date and time of the resident’s anticipated return to the facility, using value “AR”.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="TimeZone" type="datatypes:TimeZone">
        <xsd:annotation>
          <xsd:documentation>Defines the time zone used by the sender.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DispensingRequestCode" type="ecl:DispensingRequestCode">
        <xsd:annotation>
          <xsd:documentation>Only allowed in the Census message, when the AnticipatedReturn date (AR) and the ChangeRequestType is Hospital Leave of Absence (LG) or Therapeutic Leave of Absence (LT)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SpecializedResponse  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType abstract="true" name="SpecializedResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctionCode"/>
      <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3">
        <xsd:annotation>
          <xsd:documentation>If this field is submitted with 1 in the request, a Verify transaction is to be sent from the recipient at some time.
1 = Return Receipt Requested
all other values = no return receipt requested.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Facility" type="datatypes:Facilty">
        <xsd:annotation>
          <xsd:documentation>One loop mandatory for the skilled nursing facility.
Given that a new long term care resident may not yet have an assigned physician, it is more appropriate to require the facility information, and physician if that information is available.

 In long-term care settings, if the recipient is a facility, Facility is required.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Patient" type="structures:PatientFull">
        <xsd:annotation>
          <xsd:documentation>Designated Patient for transaction</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Pharmacist" type="structures:Pharmacist">
        <xsd:annotation>
          <xsd:documentation>Designated Pharmacisy for transaction</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Pharmacy" type="structures:Pharmacy">
        <xsd:annotation>
          <xsd:documentation>Designated Pharmacy for transaction

If recipient is a pharmacy, Pharmacy is required.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Prescriber" type="structures:PrescriberGeneral">
        <xsd:annotation>
          <xsd:documentation>Attending Physician</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Provider" type="structures:Provider">
        <xsd:annotation>
          <xsd:documentation>Designated Provider for transaction</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Service" type="specialized:ServiceType">
        <xsd:annotation>
          <xsd:documentation>Designates the service information to be exchanged.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="specialized:ResponseType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:annotation>
    <xsd:documentation>The NCPDP specialized.xsd defines Business Domain Transactions.</xsd:documentation>
  </xsd:annotation>
</xsd:schema>