tags/v20110328a/ncpdp/models/org.ncpdp.uml.functions/schemas/specialized.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
== Generated by hyperModel (www.XMLmodeling.com) Thu Mar 03 10:06:12 EST 2011
== Model: org.ncpdp.uml.functions
== Package: specialized
--><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ncpdp.org/schema/specialized" version="2010121" xmlns:datatypes="http://www.ncpdp.org/schema/datatypes" xmlns:ecl="http://www.ncpdp.org/schema/ecl" xmlns:specialized="http://www.ncpdp.org/schema/specialized" xmlns:structures="http://www.ncpdp.org/schema/structures" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.ncpdp.org/schema/datatypes" schemaLocation="datatypes.xsd"/>
  <xsd:import namespace="http://www.ncpdp.org/schema/ecl" schemaLocation="ecl.xsd"/>
  <xsd:import namespace="http://www.ncpdp.org/schema/structures" schemaLocation="structures.xsd"/>
  <!-- ================================================== -->
  <!-- =====  Complex Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ApprovedType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ApprovedType">
    <xsd:sequence>
      <xsd:element maxOccurs="10" minOccurs="0" name="ReasonCode" type="ecl:ReasonCode"/>
      <xsd:element minOccurs="0" name="ReferenceNumber" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="Note" type="datatypes:an..70"/>
      <xsd:element minOccurs="0" name="AdditionalMessageIndicator" type="xsd:boolean"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="MesssageToFollowMessageIdentifier" type="datatypes:an..35"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="NoKnown" type="ecl:NoKnownType"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ApprovedWithChangesType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ApprovedWithChangesType">
    <xsd:sequence>
      <xsd:element maxOccurs="10" minOccurs="0" name="ReasonCode" type="ecl:ReasonCode"/>
      <xsd:element minOccurs="0" name="ReferenceNumber" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="Note" type="datatypes:an..70"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  BasicApprovedType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="BasicApprovedType">
    <xsd:complexContent>
      <xsd:restriction base="specialized:ApprovedType">
        <xsd:sequence>
          <xsd:element maxOccurs="10" minOccurs="0" name="ReasonCode" type="ecl:ReasonCode"/>
          <xsd:element minOccurs="0" name="ReferenceNumber" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="Note" type="datatypes:an..70"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="AdditionalMessageIndicator" type="xsd:boolean"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MesssageToFollowMessageIdentifier" type="datatypes:an..35"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NoKnown" type="ecl:NoKnownType"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Census  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Census">
    <xsd:complexContent>
      <xsd:restriction base="specialized:SpecializedRequest">
        <xsd:sequence>
          <xsd:element name="MessageRequestCode" type="ecl:MessageFunctionCode"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ClinicalInfoAttachment" type="structures:Attachment"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Allergy" type="structures:Allergy"/>
          <xsd:element maxOccurs="3" minOccurs="0" name="BenefitsCoordination" type="structures:BenefitsCoordination"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="DiagnosisGeneral" type="structures:DiagnosisGeneral"/>
          <xsd:element name="Facility" type="datatypes:Facilty"/>
          <xsd:element name="Patient" type="structures:Patient"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Pharmacist" type="structures:Pharmacist"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Pharmacy" type="structures:Pharmacy"/>
          <xsd:element minOccurs="0" name="Prescriber" type="structures:PrescriberGeneral"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Provider" type="structures:Provider"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Service" type="specialized:ServiceType"/>
          <xsd:element minOccurs="0" name="AnticipatedReturnDate" type="datatypes:SimpleDateType"/>
          <xsd:element minOccurs="0" name="CensusEffectiveDate" type="datatypes:SimpleDateType"/>
          <xsd:element minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
          <xsd:element minOccurs="0" name="DispensingRequestCode" type="ecl:DispensingRequestCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Consent" type="ecl:ConsentCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ClinicalInfoTypesRequested" type="ecl:ClinicalInfoRequestType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ClinicalInfoFormatsSupported" type="structures:ClinicalInformation"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Note" type="datatypes:an..210"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ClinicalInfoApprovedType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ClinicalInfoApprovedType">
    <xsd:complexContent>
      <xsd:restriction base="specialized:ApprovedType">
        <xsd:sequence>
          <xsd:element maxOccurs="10" minOccurs="0" name="ReasonCode" type="ecl:ReasonCode"/>
          <xsd:element minOccurs="0" name="ReferenceNumber" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="Note" type="datatypes:an..70"/>
          <xsd:element name="AdditionalMessageIndicator" type="xsd:boolean"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="MesssageToFollowMessageIdentifier" type="datatypes:an..35"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="NoKnown" type="ecl:NoKnownType"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ClinicalInfoRequest  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ClinicalInfoRequest">
    <xsd:complexContent>
      <xsd:restriction base="specialized:SpecializedRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="0" minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctionCode"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ClinicalInfoAttachment" type="structures:Attachment"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Allergy" type="structures:Allergy"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="BenefitsCoordination" type="structures:BaseBenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="structures:DiagnosisGeneral"/>
          <xsd:element minOccurs="0" name="Facility" type="datatypes:Facilty"/>
          <xsd:element name="Patient" type="structures:PatientFull"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Pharmacist" type="structures:Pharmacist"/>
          <xsd:element name="Pharmacy" type="structures:Pharmacy"/>
          <xsd:element name="Prescriber" type="structures:PrescriberGeneral"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Provider" type="structures:Provider"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Service" type="specialized:GlobalServiceType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="AnticipatedReturnDate" type="datatypes:SimpleDateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="CensusEffectiveDate" type="datatypes:SimpleDateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DispensingRequestCode" type="ecl:DispensingRequestCode"/>
          <xsd:element name="Consent" type="ecl:ConsentCode"/>
          <xsd:element maxOccurs="unbounded" name="ClinicalInfoTypesRequested" type="ecl:ClinicalInfoRequestType"/>
          <xsd:element name="ClinicalInfoFormatsSupported" type="structures:ClinicalInformation"/>
          <xsd:element minOccurs="0" name="Note" type="datatypes:an..210"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ClinicalInfoResponse  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ClinicalInfoResponse">
    <xsd:complexContent>
      <xsd:restriction base="specialized:SpecializedResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="0" minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctionCode"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
          <xsd:element minOccurs="0" name="Facility" type="datatypes:Facilty"/>
          <xsd:element name="Patient" type="structures:PatientFull"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Pharmacist" type="structures:Pharmacist"/>
          <xsd:element name="Pharmacy" type="structures:Pharmacy"/>
          <xsd:element name="Prescriber" type="structures:PrescriberGeneral"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Provider" type="structures:Provider"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Service" type="specialized:ServiceType"/>
          <xsd:element name="Response" type="specialized:ClinicalInformationResponseType"/>
          <xsd:element name="Consent" type="ecl:ConsentCode"/>
          <xsd:element name="ClinicalInfoFormatsSupported" type="structures:ClinicalInformation"/>
          <xsd:element maxOccurs="unbounded" name="ClinicalInfoTypesRequested" type="ecl:ClinicalInfoRequestType"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ClinicalInfoAttachment" type="structures:Attachment"/>
          <xsd:element minOccurs="0" name="Note" type="datatypes:an..210"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ClinicalInformationResponseType  <<choice>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ClinicalInformationResponseType">
    <xsd:complexContent>
      <xsd:restriction base="specialized:ResponseType">
        <xsd:choice>
          <xsd:element name="Denied" type="specialized:DeniedType"/>
          <xsd:element name="Approved" type="specialized:ClinicalInfoApprovedType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ApprovedWithChanges" type="specialized:ApprovedWithChangesType"/>
        </xsd:choice>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  DeniedType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DeniedType">
    <xsd:sequence>
      <xsd:element maxOccurs="10" name="ReasonCode" type="ecl:ReasonCode"/>
      <xsd:element minOccurs="0" name="ReferenceNumber" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="DenialReason" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  GlobalServiceType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="GlobalServiceType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="MTMPayerCaseIdentifier" type="xsd:string"/>
      <xsd:choice>
        <xsd:element name="TypeOfServiceFreeText" type="xsd:string"/>
        <xsd:element name="TypeOfService" type="datatypes:QualifiedCodeWithText"/>
      </xsd:choice>
      <xsd:choice minOccurs="0">
        <xsd:element name="TargetedTypeOfServiceFreeText" type="xsd:string"/>
        <xsd:element name="TargetedTypeOfService" type="datatypes:QualifiedCodeWithText"/>
      </xsd:choice>
      <xsd:element minOccurs="0" name="EffectiveDate" type="datatypes:DateType"/>
      <xsd:element minOccurs="0" name="ExpirationDate" type="datatypes:DateType"/>
      <xsd:element minOccurs="0" name="TotalNumberOfEncountersApproved" type="datatypes:n..4"/>
      <xsd:element minOccurs="0" name="FrequencyOfEncountersApproved" type="datatypes:QualifiedCodeWithText"/>
      <xsd:element minOccurs="0" name="DateOfService" type="datatypes:SimpleDateType"/>
      <xsd:choice minOccurs="0">
        <xsd:element name="ResultOfActionFreeText" type="xsd:string"/>
        <xsd:element name="ResultOfAction" type="datatypes:QualifiedCodeWithText"/>
      </xsd:choice>
      <xsd:choice maxOccurs="unbounded" minOccurs="0">
        <xsd:element name="ReasonForMTMServiceFreeText" type="xsd:string"/>
        <xsd:element name="ReasonForMTMService" type="datatypes:QualifiedCodeWithText"/>
      </xsd:choice>
      <xsd:choice maxOccurs="unbounded" minOccurs="0">
        <xsd:element name="MTMActionFreeText" type="xsd:string"/>
        <xsd:element name="MTMAction" type="datatypes:QualifiedCodeWithText"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  MTMResponseType  <<choice>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MTMResponseType">
    <xsd:complexContent>
      <xsd:restriction base="specialized:ResponseType">
        <xsd:choice>
          <xsd:element name="Denied" type="specialized:DeniedType"/>
          <xsd:element name="Approved" type="specialized:BasicApprovedType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ApprovedWithChanges" type="specialized:ApprovedWithChangesType"/>
        </xsd:choice>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  MTMServiceDocumentation  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MTMServiceDocumentation">
    <xsd:complexContent>
      <xsd:restriction base="specialized:SpecializedRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="0" minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctionCode"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ClinicalInfoAttachment" type="structures:Attachment"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Allergy" type="structures:Allergy"/>
          <xsd:element maxOccurs="3" name="BenefitsCoordination" type="structures:BenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="structures:DiagnosisGeneral"/>
          <xsd:element minOccurs="0" name="Facility" type="datatypes:Facilty"/>
          <xsd:element name="Patient" type="structures:PatientFull"/>
          <xsd:element minOccurs="0" name="Pharmacist" type="structures:Pharmacist"/>
          <xsd:element minOccurs="0" name="Pharmacy" type="structures:Pharmacy"/>
          <xsd:element minOccurs="0" name="Prescriber" type="structures:PrescriberGeneral"/>
          <xsd:element minOccurs="0" name="Provider" type="structures:Provider"/>
          <xsd:element name="Service" type="specialized:MTMServiceDocumentationType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="AnticipatedReturnDate" type="datatypes:SimpleDateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="CensusEffectiveDate" type="datatypes:SimpleDateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DispensingRequestCode" type="ecl:DispensingRequestCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Consent" type="ecl:ConsentCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ClinicalInfoTypesRequested" type="ecl:ClinicalInfoRequestType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ClinicalInfoFormatsSupported" type="structures:ClinicalInformation"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Note" type="datatypes:an..210"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  MTMServiceDocumentationType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MTMServiceDocumentationType">
    <xsd:complexContent>
      <xsd:restriction base="specialized:GlobalServiceType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="MTMPayerCaseIdentifier" type="xsd:string"/>
          <xsd:choice>
            <xsd:element name="TypeOfServiceFreeText" type="xsd:string"/>
            <xsd:element name="TypeOfService" type="datatypes:QualifiedCodeWithText"/>
          </xsd:choice>
          <xsd:choice minOccurs="0">
            <xsd:element name="TargetedTypeOfServiceFreeText" type="xsd:string"/>
            <xsd:element name="TargetedTypeOfService" type="datatypes:QualifiedCodeWithText"/>
          </xsd:choice>
          <xsd:element minOccurs="0" name="EffectiveDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="ExpirationDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="TotalNumberOfEncountersApproved" type="datatypes:n..4"/>
          <xsd:element minOccurs="0" name="FrequencyOfEncountersApproved" type="datatypes:QualifiedCodeWithText"/>
          <xsd:element name="DateOfService" type="datatypes:SimpleDateType"/>
          <xsd:choice>
            <xsd:element name="ResultOfActionFreeText" type="xsd:string"/>
            <xsd:element name="ResultOfAction" type="datatypes:QualifiedCodeWithText"/>
          </xsd:choice>
          <xsd:choice maxOccurs="unbounded">
            <xsd:element name="ReasonForMTMServiceFreeText" type="xsd:string"/>
            <xsd:element name="ReasonForMTMService" type="datatypes:QualifiedCodeWithText"/>
          </xsd:choice>
          <xsd:choice maxOccurs="unbounded">
            <xsd:element name="MTMActionFreeText" type="xsd:string"/>
            <xsd:element name="MTMAction" type="datatypes:QualifiedCodeWithText"/>
          </xsd:choice>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  MTMServiceRequest  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MTMServiceRequest">
    <xsd:complexContent>
      <xsd:restriction base="specialized:SpecializedRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="0" minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctionCode"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ClinicalInfoAttachment" type="structures:Attachment"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Allergy" type="structures:Allergy"/>
          <xsd:element maxOccurs="3" name="BenefitsCoordination" type="structures:BenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="structures:DiagnosisGeneral"/>
          <xsd:element minOccurs="0" name="Facility" type="datatypes:Facilty"/>
          <xsd:element name="Patient" type="structures:PatientFull"/>
          <xsd:element minOccurs="0" name="Pharmacist" type="structures:Pharmacist"/>
          <xsd:element minOccurs="0" name="Pharmacy" type="structures:Pharmacy"/>
          <xsd:element minOccurs="0" name="Prescriber" type="structures:PrescriberGeneral"/>
          <xsd:element minOccurs="0" name="Provider" type="structures:Provider"/>
          <xsd:element name="Service" type="specialized:ServiceType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="AnticipatedReturnDate" type="datatypes:SimpleDateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="CensusEffectiveDate" type="datatypes:SimpleDateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DispensingRequestCode" type="ecl:DispensingRequestCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Consent" type="ecl:ConsentCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ClinicalInfoTypesRequested" type="ecl:ClinicalInfoRequestType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ClinicalInfoFormatsSupported" type="structures:ClinicalInformation"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Note" type="datatypes:an..210"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  MTMServiceResponse  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MTMServiceResponse">
    <xsd:complexContent>
      <xsd:restriction base="specialized:SpecializedResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="0" minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctionCode"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
          <xsd:element minOccurs="0" name="Facility" type="datatypes:Facilty"/>
          <xsd:element name="Patient" type="structures:PatientFull"/>
          <xsd:element minOccurs="0" name="Pharmacist" type="structures:Pharmacist"/>
          <xsd:element minOccurs="0" name="Pharmacy" type="structures:Pharmacy"/>
          <xsd:element minOccurs="0" name="Prescriber" type="structures:PrescriberGeneral"/>
          <xsd:element minOccurs="0" name="Provider" type="structures:Provider"/>
          <xsd:element name="Service" type="specialized:ServiceType"/>
          <xsd:element name="Response" type="specialized:MTMResponseType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Consent" type="ecl:ConsentCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ClinicalInfoFormatsSupported" type="structures:ClinicalInformation"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ClinicalInfoTypesRequested" type="ecl:ClinicalInfoRequestType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ClinicalInfoAttachment" type="structures:Attachment"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Note" type="datatypes:an..210"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ResponseType  <<choice>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ResponseType">
    <xsd:choice>
      <xsd:element minOccurs="0" name="Denied" type="specialized:DeniedType"/>
      <xsd:element minOccurs="0" name="Approved" type="specialized:ApprovedType"/>
      <xsd:element minOccurs="0" name="ApprovedWithChanges" type="specialized:ApprovedWithChangesType"/>
    </xsd:choice>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ServiceType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ServiceType">
    <xsd:complexContent>
      <xsd:restriction base="specialized:GlobalServiceType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="MTMPayerCaseIdentifier" type="xsd:string"/>
          <xsd:choice>
            <xsd:element name="TypeOfServiceFreeText" type="xsd:string"/>
            <xsd:element name="TypeOfService" type="datatypes:QualifiedCodeWithText"/>
          </xsd:choice>
          <xsd:choice minOccurs="0">
            <xsd:element name="TargetedTypeOfServiceFreeText" type="xsd:string"/>
            <xsd:element name="TargetedTypeOfService" type="datatypes:QualifiedCodeWithText"/>
          </xsd:choice>
          <xsd:element minOccurs="0" name="EffectiveDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="ExpirationDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="TotalNumberOfEncountersApproved" type="datatypes:n..4"/>
          <xsd:element minOccurs="0" name="FrequencyOfEncountersApproved" type="datatypes:QualifiedCodeWithText"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DateOfService" type="datatypes:SimpleDateType"/>
          <xsd:choice maxOccurs="0" minOccurs="0">
            <xsd:element name="ResultOfActionFreeText" type="xsd:string"/>
            <xsd:element name="ResultOfAction" type="datatypes:QualifiedCodeWithText"/>
          </xsd:choice>
          <xsd:choice maxOccurs="0" minOccurs="0">
            <xsd:element name="ReasonForMTMServiceFreeText" type="xsd:string"/>
            <xsd:element name="ReasonForMTMService" type="datatypes:QualifiedCodeWithText"/>
          </xsd:choice>
          <xsd:choice maxOccurs="0" minOccurs="0">
            <xsd:element name="MTMActionFreeText" type="xsd:string"/>
            <xsd:element name="MTMAction" type="datatypes:QualifiedCodeWithText"/>
          </xsd:choice>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SpecializedRequest  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType abstract="true" name="SpecializedRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctionCode"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ClinicalInfoAttachment" type="structures:Attachment"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Allergy" type="structures:Allergy"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="BenefitsCoordination" type="structures:BaseBenefitsCoordination"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DiagnosisGeneral" type="structures:DiagnosisGeneral"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Facility" type="datatypes:Facilty"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Patient" type="structures:PatientFull"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Pharmacist" type="structures:Pharmacist"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Pharmacy" type="structures:Pharmacy"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Prescriber" type="structures:PrescriberGeneral"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Provider" type="structures:Provider"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Service" type="specialized:GlobalServiceType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="AnticipatedReturnDate" type="datatypes:SimpleDateType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="CensusEffectiveDate" type="datatypes:SimpleDateType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DispensingRequestCode" type="ecl:DispensingRequestCode"/>
      <xsd:element minOccurs="0" name="Consent" type="ecl:ConsentCode"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ClinicalInfoTypesRequested" type="ecl:ClinicalInfoRequestType"/>
      <xsd:element minOccurs="0" name="ClinicalInfoFormatsSupported" type="structures:ClinicalInformation"/>
      <xsd:element minOccurs="0" name="Note" type="datatypes:an..210"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SpecializedResponse  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType abstract="true" name="SpecializedResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctionCode"/>
      <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
      <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Facility" type="datatypes:Facilty"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Patient" type="structures:PatientFull"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Pharmacist" type="structures:Pharmacist"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Pharmacy" type="structures:Pharmacy"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Prescriber" type="structures:PrescriberGeneral"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Provider" type="structures:Provider"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Service" type="specialized:ServiceType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="specialized:ResponseType"/>
      <xsd:element minOccurs="0" name="Consent" type="ecl:ConsentCode"/>
      <xsd:element minOccurs="0" name="ClinicalInfoFormatsSupported" type="structures:ClinicalInformation"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ClinicalInfoTypesRequested" type="ecl:ClinicalInfoRequestType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ClinicalInfoAttachment" type="structures:Attachment"/>
      <xsd:element minOccurs="0" name="Note" type="datatypes:an..210"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>