trunk/ncpdp/models/org.ncpdp.uml.functions/schemas/datatypes.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

Copyright (c) 2007, 2008, 2009, 2010 NCPDP. All rights reserved. This work is owned by National Council for Prescription Drug Programs, Inc., 924Ø E. Raintree Drive, Scottsdale, AZ 8526Ø, (48Ø) 477-1ØØØ, ncpdp@ncpdp.org, and protected by the copyright laws of the United States. 17 U.S.C. §1Ø1, et. seq. Permission is given to Council members to copy and use the work or any part thereof in connection with the business purposes of the Council members.   

The work may not be changed or altered. The work may not be sold, used or exploited for commercial purposes. This permission may be revoked by National Council for Prescription Drug Programs, Inc., at any time. The National Council for Prescription Drugs Programs, Inc. is not responsible for any errors or damage as a result of the use of the work.
NCPDP recognizes the confidentiality of certain information exchanged electronically through the use of its standards. Users should be familiar with the federal, state, and local laws, regulations and codes requiring confidentiality of this information and should utilize the standards accordingly.

NOTICE: In addition, this NCPDP Standard contains certain data fields and elements that may be completed by users with the proprietary information of third parties. The use and distribution of third parties' proprietary information without such third parties' consent, or the execution of a license or other agreement with such third party, could subject the user to numerous legal claims. All users are encouraged to contact such third parties to determine whether such information is proprietary and if necessary, to consult with legal counsel to make arrangements for the use and distribution of such proprietary information.


--><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ncpdp.org/schema/datatypes" version="201008" xmlns:datatypes="http://www.ncpdp.org/schema/datatypes" xmlns:ecl="http://www.ncpdp.org/schema/ecl" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.ncpdp.org/schema/ecl" schemaLocation="ecl.xsd"/>
  <!-- ================================================== -->
  <!-- =====  Simple Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ANDOR  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="ANDOR">
    <xsd:annotation>
      <xsd:documentation>Used exclusively for SIG</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="AND|OR"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ANDORNOT  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="ANDORNOT">
    <xsd:annotation>
      <xsd:documentation>Used exclusively for SIG</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="AND|OR|NOT"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ANDORTHEN  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="ANDORTHEN">
    <xsd:annotation>
      <xsd:documentation>Used exclusively for SIG</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="AND|OR|THEN"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ANDORTO  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="ANDORTO">
    <xsd:annotation>
      <xsd:documentation>Used exclusively for SIG</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="AND|OR|TO"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  MailAddressType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="MailAddressType">
    <xsd:annotation>
      <xsd:documentation>Qualifier for the type of identifier for receiver.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(mailto:)?[^\.]{1,35}(\.[^@]{1,3})?(@[A-Za-z0-9]+\.[A-Za-z]{2,4})?"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SimpleDateType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="SimpleDateType">
    <xsd:restriction base="xsd:date"/>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  TOOR  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="TOOR">
    <xsd:annotation>
      <xsd:documentation>Used exclusively for SIG</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="TO|OR"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  TerminologyType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="TerminologyType">
    <xsd:annotation>
      <xsd:documentation>Used exclusively for SIG</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="1|2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  UtcDateType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="UtcDateType">
    <xsd:restriction base="xsd:dateTime"/>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ZipCodeType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="ZipCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(\d{5})|(\d{9})"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  an  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="an">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[ !-~]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  an..10  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="an..10">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  an..100  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="an..100">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="100"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  an..105M  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="an..105M">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:anM">
      <xsd:maxLength value="105"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  an..11  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="an..11">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="11"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  an..11M  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="an..11M">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:anM">
      <xsd:maxLength value="11"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  an..14  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="an..14">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="14"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  an..140  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="an..140">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="140"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  an..140M  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="an..140M">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:anM">
      <xsd:maxLength value="140"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  an..15  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="an..15">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="15"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  an..15M  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="an..15M">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:anM">
      <xsd:maxLength value="15"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  an..17  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="an..17">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="17"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  an..17M  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="an..17M">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:anM">
      <xsd:maxLength value="17"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  an..19  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="an..19">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="19"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  an..19M  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="an..19M">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:anM">
      <xsd:maxLength value="19"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  an..2  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="an..2">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  an..210  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="an..210">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="210"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  an..255M  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="an..255M">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:anM">
      <xsd:maxLength value="255"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  an..25M  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="an..25M">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:anM">
      <xsd:maxLength value="25"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  an..260  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="an..260">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="260"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  an..3  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="an..3">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  an..35  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="an..35">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="35"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  an..35M  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="an..35M">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:anM">
      <xsd:maxLength value="35"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  an..3M  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="an..3M">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:anM">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  an..4  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="an..4">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  an..50  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="an..50">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="50"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  an..50M  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="an..50M">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:anM">
      <xsd:maxLength value="50"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  an..6  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="an..6">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  an..70  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="an..70">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="70"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  an..70M  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="an..70M">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:anM">
      <xsd:maxLength value="70"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  an..8  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="an..8">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  an..80  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="an..80">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type
</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="80"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  an..80M  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="an..80M">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:anM">
      <xsd:maxLength value="80"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  an..9  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="an..9">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="9"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  an..9M  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="an..9M">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:anM">
      <xsd:maxLength value="9"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  anM  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="anM">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="([!-~]|[ ])*[!-~]([!-~]|[ ])*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  n  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="n">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:an">
      <xsd:pattern value="[0-9]*(\.[0-9]+)?"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  n..11M  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="n..11M">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:nM">
      <xsd:maxLength value="11"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  n..15M  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="n..15M">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:nM">
      <xsd:maxLength value="15"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  n..18  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="n..18">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:n">
      <xsd:maxLength value="18"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  n..18M  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="n..18M">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:nM">
      <xsd:maxLength value="18"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  n..2  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="n..2">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:n">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  n..2M  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="n..2M">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:nM">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  n..3  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="n..3">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:n">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  n..3M  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="n..3M">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type
</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:nM">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  n..4  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="n..4">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:n">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  n1  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="n1">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:n">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  nM  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="nM">
    <xsd:annotation>
      <xsd:documentation>NCPDP Length Constrained Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="datatypes:anM">
      <xsd:pattern value="[0-9]+(\.[0-9]+)?"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ================================================== -->
  <!-- =====  Complex Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  AddressType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="AddressType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="AddressLine1" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="AddressLine2" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="City" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="State" type="ecl:StateCode"/>
      <xsd:element minOccurs="0" name="ZipCode" type="datatypes:ZipCodeType"/>
      <xsd:element minOccurs="0" name="PlaceLocationQualifier" type="datatypes:an..3"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CDCCode  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CDCCode">
    <xsd:annotation>
      <xsd:documentation>CDCCode constrains NCPDP Coded Types to Value Set Definitions as defined by CDC

http://www.cdc.gov/phin/activities/standards/vocabulary</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Code" type="ecl:Code"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CoAgentCode  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CoAgentCode">
    <xsd:annotation>
      <xsd:documentation>DUE CoAgent ID Qualified Code</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="datatypes:QualifiedCode">
        <xsd:sequence>
          <xsd:element name="Code" type="ecl:Code"/>
          <xsd:element name="Qualifier" type="ecl:DUECoAgentIDQualifierCode"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CommunicationNumbersType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CommunicationNumbersType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="Communication" type="datatypes:CommunicationType"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CommunicationType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CommunicationType">
    <xsd:sequence>
      <xsd:element name="Number" type="datatypes:an..80M"/>
      <xsd:element name="Qualifier" type="ecl:CommunicationTypeQualifierCode"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CompoundIngredient  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CompoundIngredient">
    <xsd:annotation>
      <xsd:documentation>Drug Composition Structure</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CompoundIngredient">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>Drug Composition Structure</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element name="CompoundIngredientItemDescription" type="datatypes:an..105M">
              <xsd:annotation>
                <xsd:documentation>CompoundIngredientItemDescription is the self-contained full drug name, strength, and form of the ingredient.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ItemNumber" type="datatypes:ProductCode"/>
            <xsd:element minOccurs="0" name="Strength" type="datatypes:Strength"/>
            <xsd:element minOccurs="0" name="DEASchedule" type="datatypes:NCICode">
              <xsd:annotation>
                <xsd:documentation>NCPDP DEASchedule Terminology – available at
http://www.cancer.gov/cancertopics/terminologyresources/page7
</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Quantity" type="datatypes:Quantity"/>
      <xsd:element maxOccurs="5" minOccurs="0" name="DrugUseEvaluation" type="datatypes:DrugUseEvaluation"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  DateRange  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DateRange">
    <xsd:sequence>
      <xsd:element name="StartDate" type="datatypes:DateType"/>
      <xsd:element name="EndDate" type="datatypes:DateType"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  DateType  <<choice>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DateType">
    <xsd:choice>
      <xsd:element name="Date" type="datatypes:SimpleDateType"/>
      <xsd:element name="DateTime" type="datatypes:UtcDateType"/>
    </xsd:choice>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  DrugCoded  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DrugCoded">
    <xsd:annotation>
      <xsd:documentation>Coded Drug Structure used in Medication</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ProductCode" type="datatypes:ProductCode">
        <xsd:annotation>
          <xsd:documentation>RefillRequest and RxChangeRequest – whenever possible, send the drug number. If CompoundCoded = 2 (Compound), this field must not be sent. 
				</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Strength" type="datatypes:Strength">
        <xsd:annotation>
          <xsd:documentation>Need to add annotation to strength code 
Use http://evs.nci.nih.gov/ftp1/NCPDP/DrugStrength.csv

</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="DrugDBCode" type="datatypes:DrugDBCode">
        <xsd:annotation>
          <xsd:documentation>If CompoundCoded = 2 (Compound), this field must not be sent.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="DEASchedule" type="datatypes:NCICode">
        <xsd:annotation>
          <xsd:documentation>Required if the medication is categorized as a controlled substance by the Drug Enforcement Administration (DEA). The DEA Schedule would be populated by the system generating the message, and would utilize the Federal DEA Schedule classification code list, based on federal classification of the medication or the state reclassification of the medication. 

If CompoundCoded = 2 (Compound), this field must not be sent.
            
NCPDP DEASchedule Terminology – available at
http://www.cancer.gov/cancertopics/terminologyresources/page7 </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  DrugDBCode  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DrugDBCode">
    <xsd:annotation>
      <xsd:documentation>Coded Drug Structure used in Medication from alternative source databases</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="datatypes:QualifiedCode">
        <xsd:sequence>
          <xsd:element name="Code" type="ecl:Code"/>
          <xsd:element name="Qualifier" type="ecl:DrugDBQualifiersCode"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  DrugProductCodeWithText  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DrugProductCodeWithText">
    <xsd:annotation>
      <xsd:documentation>Drug Product structure used in Census Allergy</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Code" type="ecl:Code"/>
      <xsd:element minOccurs="0" name="Qualifier" type="ecl:ProductQualifiersCodeExtended"/>
      <xsd:element name="Text" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  DrugUseEvaluation  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DrugUseEvaluation">
    <xsd:annotation>
      <xsd:documentation>Drug Use Evaluation structure used in Medication</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ServiceReasonCode" type="ecl:DUEReasonForServiceCode"/>
      <xsd:element minOccurs="0" name="ProfessionalServiceCode" type="ecl:DUEProfessionalServiceCode"/>
      <xsd:element minOccurs="0" name="ServiceResultCode" type="ecl:DUEResultOfServiceCode"/>
      <xsd:element minOccurs="0" name="CoAgent" type="datatypes:CoAgentCode"/>
      <xsd:element minOccurs="0" name="ClinicalSignificanceCode" type="ecl:DUEClinicalSignificanceCode"/>
      <xsd:element minOccurs="0" name="AcknowledgementReason" type="datatypes:an..100"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Facilty  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Facilty">
    <xsd:annotation>
      <xsd:documentation>Value SK</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Identification" type="datatypes:ProviderID"/>
      <xsd:element minOccurs="0" name="FacilityName" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="Address" type="datatypes:AddressType"/>
      <xsd:element minOccurs="0" name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  FinalRouteOfAdministrationCode  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="FinalRouteOfAdministrationCode">
    <xsd:annotation>
      <xsd:documentation>Route of Administration used in Medication</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Text" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Code" type="datatypes:SNOMEDCode"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  HistorySource  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="HistorySource">
    <xsd:annotation>
      <xsd:documentation>Historical Reference used in Medication</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Source" type="datatypes:SourceQualifier"/>
      <xsd:element minOccurs="0" name="SourceReference" type="datatypes:an..35">
        <xsd:annotation>
          <xsd:documentation>Prescription Number associated to medication history record.
If SourceQualifier value is “P2” (Pharmacy), if sent, this field must contain the pharmacy’s prescription number. 
If SourceQualifier value is “PC” (Prescriber), this field is not sent. The Prescriber Order Number is found in Drug section.
If SourceQualifier value is “PY” (Payer), if sent, this field must contain the pharmacy’s prescription number from the payer system from claims processing.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="FillNumber" type="datatypes:n..2">
        <xsd:annotation>
          <xsd:documentation>Defines 
the dispensing episode as an initial fill or an authorized refill.
If SourceQualifier value is “P2” (Pharmacy), if sent, this field must contain 
the fill number from the pharmacy. 
If SourceQualifier value is “PC” (Prescriber), this field is not sent.
If SourceQualifier value is “PY” (Payer), if sent, this field must contain the 
pharmacy’s fill number from the payer system from claims processing.
	Values:
	00 = initial fill
	01 = first refill
	02 = second refill, etc
	Allowed values 00 thru 99</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  IDType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="IDType">
    <xsd:annotation>
      <xsd:documentation>Qualified ID Structure used to send ID and corresponding ID Authority</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="IDValue" type="datatypes:an..35M"/>
      <xsd:element name="IDQualifier" type="ecl:IDQualifierCode"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  MeasurementType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MeasurementType">
    <xsd:annotation>
      <xsd:documentation>Measurement Structure used for Observation</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Dimension" type="ecl:MeasurementDimensionCode"/>
      <xsd:element name="Value" type="datatypes:n..18M"/>
      <xsd:element minOccurs="0" name="ObservationDate" type="datatypes:DateType"/>
      <xsd:element minOccurs="0" name="MeasurementDataQualifier" type="ecl:MeasurementDataQualifierCode"/>
      <xsd:element minOccurs="0" name="MeasurementSourceCode" type="datatypes:NCICode">
        <xsd:annotation>
          <xsd:documentation>NCPDP Vital Sign Data Terminology - available at 
http://www.cancer.gov/cancertopics/terminologyresources/page7
See External Code List Introduction for information on NCI Thesaurus Code Lists.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MeasurementUnitCode" type="datatypes:NCICode">
        <xsd:annotation>
          <xsd:documentation>NCPDP MeasurementUnitCode Terminology - available at 
http://www.cancer.gov/cancertopics/terminologyresources/page7</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  NCICode  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="NCICode">
    <xsd:annotation>
      <xsd:documentation>NCPCP Constrained Code to value sets defined by NCI
          See External Code List Introduction for information on NCI Thesaurus Code Lists.
          http://www.cancer.gov/cancertopics/terminologyresources/page7</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Code" type="ecl:Code"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  NameType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="NameType">
    <xsd:annotation>
      <xsd:documentation>General Purpose structure to capture First, Middle, and Last Name</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="LastName" type="datatypes:an..35M"/>
      <xsd:element name="FirstName" type="datatypes:an..35M"/>
      <xsd:element minOccurs="0" name="MiddleName" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="Suffix" type="datatypes:an..10"/>
      <xsd:element minOccurs="0" name="Prefix" type="datatypes:an..10"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  NoteType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="NoteType">
    <xsd:annotation>
      <xsd:documentation>Fill Status Note Structure</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ReferenceNumber" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="Note" type="datatypes:an..70"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  PasswordType  <<complexType>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="PasswordType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute fixed="PasswordDigest" name="Type" type="xsd:anySimpleType" use="required"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  PatientID  <<complexType, choice>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="PatientID">
    <xsd:annotation>
      <xsd:documentation>Patient ID is explicit ID structure to improve comprehension and validtion of ID by using explicit tags for each ID type</xsd:documentation>
    </xsd:annotation>
    <xsd:choice maxOccurs="2" minOccurs="0">
      <xsd:element name="NCPDPID" type="datatypes:an..35M"/>
      <xsd:element name="FileID" type="datatypes:an..35M"/>
      <xsd:element name="StateLicenseNumber" type="datatypes:an..35M"/>
      <xsd:element name="MedicareNumber" type="datatypes:an..35M"/>
      <xsd:element name="MedicaidNumber" type="datatypes:an..35M"/>
      <xsd:element name="DentistLicenseNumber" type="datatypes:an..35M"/>
      <xsd:element name="UPIN" type="datatypes:an..35M"/>
      <xsd:element name="FacilityID" type="datatypes:an..35M"/>
      <xsd:element name="PPONumber" type="datatypes:an..35M"/>
      <xsd:element name="PayerID" type="datatypes:an..35M"/>
      <xsd:element name="ProcessorIdentificationNumber" type="datatypes:an..35M"/>
      <xsd:element name="BINLocationNumber" type="datatypes:an..35M"/>
      <xsd:element name="Commercial" type="datatypes:an..35M"/>
      <xsd:element name="MedicalRecordIdentificationNumberEHR" type="datatypes:an..35M"/>
      <xsd:element name="PatientAccountNumber" type="datatypes:an..35M"/>
      <xsd:element name="DEANumber" type="datatypes:an..35M"/>
      <xsd:element name="HIN" type="datatypes:an..35M"/>
      <xsd:element name="IndividualPolicyNumber" type="datatypes:an..35M"/>
      <xsd:element name="SecondaryCoverage" type="datatypes:an..35M"/>
      <xsd:element name="NAICCode" type="datatypes:an..35M"/>
      <xsd:element name="PromotionNumber" type="datatypes:an..35M"/>
      <xsd:element name="SocialSecurity" type="datatypes:an..35M"/>
      <xsd:element name="NPI" type="datatypes:an..35M"/>
      <xsd:element name="PriorAuthorization" type="datatypes:an..35M"/>
      <xsd:element name="CertificatetoPrescribe" type="datatypes:an..35M"/>
      <xsd:element name="MutuallyDefined" type="datatypes:an..35M"/>
    </xsd:choice>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  PayerID  <<complexType, choice>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="PayerID">
    <xsd:annotation>
      <xsd:documentation>Payer ID is explicit ID structure to improve comprehension and validtion of ID by using explicit tags for each ID type</xsd:documentation>
    </xsd:annotation>
    <xsd:choice maxOccurs="1" minOccurs="0">
      <xsd:element name="NCPDPID" type="datatypes:an..35M"/>
      <xsd:element name="FileID" type="datatypes:an..35M"/>
      <xsd:element name="StateLicenseNumber" type="datatypes:an..35M"/>
      <xsd:element name="MedicareNumber" type="datatypes:an..35M"/>
      <xsd:element name="MedicaidNumber" type="datatypes:an..35M"/>
      <xsd:element name="DentistLicenseNumber" type="datatypes:an..35M"/>
      <xsd:element name="UPIN" type="datatypes:an..35M"/>
      <xsd:element name="FacilityID" type="datatypes:an..35M"/>
      <xsd:element name="PPONumber" type="datatypes:an..35M"/>
      <xsd:element name="PayerID" type="datatypes:an..35M"/>
      <xsd:element name="ProcessorIdentificationNumber" type="datatypes:an..35M"/>
      <xsd:element name="BINLocationNumber" type="datatypes:an..35M"/>
      <xsd:element name="Commercial" type="datatypes:an..35M"/>
      <xsd:element name="MedicalRecordIdentificationNumberEHR" type="datatypes:an..35M"/>
      <xsd:element name="PatientAccountNumber" type="datatypes:an..35M"/>
      <xsd:element name="DEANumber" type="datatypes:an..35M"/>
      <xsd:element name="HIN" type="datatypes:an..35M"/>
      <xsd:element name="IndividualPolicyNumber" type="datatypes:an..35M"/>
      <xsd:element name="SecondaryCoverage" type="datatypes:an..35M"/>
      <xsd:element name="NAICCode" type="datatypes:an..35M"/>
      <xsd:element name="PromotionNumber" type="datatypes:an..35M"/>
      <xsd:element name="SocialSecurity" type="datatypes:an..35M"/>
      <xsd:element name="NPI" type="datatypes:an..35M"/>
      <xsd:element name="PriorAuthorization" type="datatypes:an..35M"/>
      <xsd:element name="CertificatetoPrescribe" type="datatypes:an..35M"/>
      <xsd:element name="MutuallyDefined" type="datatypes:an..35M"/>
    </xsd:choice>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  PriorAuthorizationCode  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="PriorAuthorizationCode">
    <xsd:annotation>
      <xsd:documentation>Used in Medication to signify Prior Authorization Status</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Value" type="datatypes:an..35M"/>
      <xsd:element name="Qualifier" type="ecl:PriorAuthorizationTypeCode"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ProblemNameCode  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ProblemNameCode">
    <xsd:annotation>
      <xsd:documentation>Used as part of Diagnosis</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Text" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Qualifier" type="ecl:ProblemNameQualifierCode"/>
      <xsd:element minOccurs="0" name="Code" type="ecl:Code"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ProductCode  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ProductCode">
    <xsd:complexContent>
      <xsd:restriction base="datatypes:QualifiedCode">
        <xsd:sequence>
          <xsd:element name="Code" type="ecl:Code"/>
          <xsd:element name="Qualifier" type="ecl:ProductQualifiersCode"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ProviderID  <<choice, complexType>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ProviderID">
    <xsd:annotation>
      <xsd:documentation>Provieder ID is explicit ID structure to improve comprehension and validtion of ID by using explicit tags for each ID type</xsd:documentation>
    </xsd:annotation>
    <xsd:choice maxOccurs="10" minOccurs="1">
      <xsd:element name="NCPDPID" type="datatypes:an..35M"/>
      <xsd:element name="FileID" type="datatypes:an..35M"/>
      <xsd:element name="StateLicenseNumber" type="datatypes:an..35M"/>
      <xsd:element name="MedicareNumber" type="datatypes:an..35M"/>
      <xsd:element name="MedicaidNumber" type="datatypes:an..35M"/>
      <xsd:element name="DentistLicenseNumber" type="datatypes:an..35M"/>
      <xsd:element name="UPIN" type="datatypes:an..35M"/>
      <xsd:element name="FacilityID" type="datatypes:an..35M"/>
      <xsd:element name="PPONumber" type="datatypes:an..35M"/>
      <xsd:element name="PayerID" type="datatypes:an..35M"/>
      <xsd:element name="ProcessorIdentificationNumber" type="datatypes:an..35M"/>
      <xsd:element name="BINLocationNumber" type="datatypes:an..35M"/>
      <xsd:element name="Commercial" type="datatypes:an..35M"/>
      <xsd:element name="MedicalRecordIdentificationNumberEHR" type="datatypes:an..35M"/>
      <xsd:element name="PatientAccountNumber" type="datatypes:an..35M"/>
      <xsd:element name="DEANumber" type="datatypes:an..35M"/>
      <xsd:element name="HIN" type="datatypes:an..35M"/>
      <xsd:element name="IndividualPolicyNumber" type="datatypes:an..35M"/>
      <xsd:element name="SecondaryCoverage" type="datatypes:an..35M"/>
      <xsd:element name="NAICCode" type="datatypes:an..35M"/>
      <xsd:element name="PromotionNumber" type="datatypes:an..35M"/>
      <xsd:element name="SocialSecurity" type="datatypes:an..35M"/>
      <xsd:element name="NPI" type="datatypes:an..35M"/>
      <xsd:element name="PriorAuthorization" type="datatypes:an..35M"/>
      <xsd:element name="CertificatetoPrescribe" type="datatypes:an..35M"/>
      <xsd:element name="Data2000WaiverID" type="datatypes:an..35M"/>
      <xsd:element name="MutuallyDefined" type="datatypes:an..35M"/>
    </xsd:choice>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  QualifiedAddress  <<complexType>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="QualifiedAddress">
    <xsd:annotation>
      <xsd:documentation>Qualifier for the type of identifier for receiver.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="datatypes:MailAddressType">
        <xsd:attribute name="Qualifier" type="ecl:AddressTypeQualifier">
          <xsd:annotation>
            <xsd:documentation>Qualifier for the type of identifier for receiver.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  QualifiedCode  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="QualifiedCode">
    <xsd:annotation>
      <xsd:documentation>General Purpose NCPDP Vocabulary Constraint supporting Code and Qualifier </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Code" type="ecl:Code"/>
      <xsd:element name="Qualifier" type="ecl:Code"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  QualifiedCodeWithText  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="QualifiedCodeWithText">
    <xsd:annotation>
      <xsd:documentation>General Purpose NCPDP Vocabulary Constraint supporting Code and Qualifier with optional Text</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Text" type="xsd:string"/>
      <xsd:element name="Qualifier" type="ecl:Code"/>
      <xsd:element name="Code" type="ecl:Code"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Quantity  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Quantity">
    <xsd:sequence>
      <xsd:element name="Value" type="datatypes:n..11M"/>
      <xsd:element name="CodeListQualifier" type="ecl:QuantityCodeListQualifierCode"/>
      <xsd:element name="QuanityUnitOfMeasure" type="datatypes:NCICode">
        <xsd:annotation>
          <xsd:documentation>NCPDP Drug QuantityUnitOfMeasure Terminology - available at 
http://www.cancer.gov/cancertopics/terminologyresources/page7
See External Code List Introduction for information on NCI Thesaurus Code Lists.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RouteOfAdministrationCode  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RouteOfAdministrationCode">
    <xsd:annotation>
      <xsd:documentation>Used exclusively for SIG</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="RouteOfAdministrationText" type="datatypes:an..50"/>
      <xsd:element minOccurs="0" name="RouteOfAdministrationCode" type="datatypes:an..15"/>
      <xsd:element name="RouteOfAdministrationCodeQualifier" type="datatypes:TerminologyType"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SNOMEDAdverseEventCode  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="SNOMEDAdverseEventCode">
    <xsd:annotation>
      <xsd:documentation>SNOMED Adverse Event Code Constraint for Allergies</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="datatypes:SNOMEDCode">
        <xsd:sequence>
          <xsd:element name="Text" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Code" type="ecl:SNOMEDCTAdverseEventCode"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SNOMEDCode  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="SNOMEDCode">
    <xsd:annotation>
      <xsd:documentation>NCPDP Code Type constrained to SNOMED Code System, Only Valid SNOMED Codes</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Text" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Code" type="ecl:Code"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SourceQualifier  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="SourceQualifier">
    <xsd:annotation>
      <xsd:documentation>Qualifies the Source Description.  Similar in structure to a qualified code but instead of a code we have reference which is a id</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Reference" type="datatypes:IDType">
        <xsd:annotation>
          <xsd:documentation>The identification for the prescriber, pharmacy, payer, et cetera, which is the medication source. If Qualifier is sent, Value must be sent and vice versa.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="SourceDescription" type="datatypes:an..35"/>
      <xsd:element name="SourceQualifier" type="ecl:SourceQualifierCode"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Strength  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Strength">
    <xsd:annotation>
      <xsd:documentation>Drug Strength for Medication</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="StrengthValue" type="datatypes:an..70">
        <xsd:annotation>
          <xsd:documentation>Use http://evs.nci.nih.gov/ftp1/NCPDP/DrugStrength.csv

</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="StrengthForm" type="datatypes:NCICode">
        <xsd:annotation>
          <xsd:documentation>NCPDP Drug StrengthForm Terminology - available at 
http://www.cancer.gov/cancertopics/terminologyresources/page7
See External Code List Introduction for information on NCI Thesaurus Code Lists.
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="StrengthUnitOfMeasure" type="datatypes:NCICode">
        <xsd:annotation>
          <xsd:documentation>NCPDP Drug StrengthUnitOfMeasure Terminology - available at 
http://www.cancer.gov/cancertopics/terminologyresources/page7
See External Code List Introduction for information on NCI Thesaurus Code Lists.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  TimeZone  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="TimeZone">
    <xsd:sequence>
      <xsd:element name="TimeZoneIdentifier" type="ecl:TimeZoneIdentifierCode"/>
      <xsd:element minOccurs="0" name="TimeZoneDifferenceQuantity">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="[\+\-]?[0-9][0-9]?[0-9]?[0-9]?"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:annotation>
    <xsd:documentation>The NCPDP datatypes.xsd defines small, static, reusable structures (structural components) whose usage and validation is not typically impacted by the context of it use. 

For instance, ZipCode structure and validation is not impacted if it used as part of a pharmacy address or a patient's address</xsd:documentation>
  </xsd:annotation>
</xsd:schema>