trunk/ncpdp/models/org.ncpdp.uml.functions/schemas/datatypes.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ncpdp.org/schema/datatypes" version="201008" xmlns:datatypes="http://www.ncpdp.org/schema/datatypes" xmlns:ecl="http://www.ncpdp.org/schema/ecl" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.ncpdp.org/schema/ecl" schemaLocation="ecl.xsd"/>
  <xsd:simpleType name="ANDOR">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="AND|OR"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ANDORNOT">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="AND|OR|NOT"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ANDORTHEN">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="AND|OR|THEN"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ANDORTO">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="AND|OR|TO"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MailAddressType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(mailto:)?[^\.]{1,35}(\.[^@]{1,3})?(@[A-Za-z0-9]+\.[A-Za-z]{2,4})?"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SimpleDateType">
    <xsd:restriction base="xsd:date"/>
  </xsd:simpleType>
  <xsd:simpleType name="TOOR">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="TO|OR"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TerminologyType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="1|2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="UtcDateType">
    <xsd:restriction base="xsd:dateTime"/>
  </xsd:simpleType>
  <xsd:simpleType name="ZipCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(\d{5})|(\d{9})"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="an">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[ !-~]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="an..10">
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="an..100">
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="100"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="an..105M">
    <xsd:restriction base="datatypes:anM">
      <xsd:maxLength value="105"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="an..11">
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="11"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="an..11M">
    <xsd:restriction base="datatypes:anM">
      <xsd:maxLength value="11"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="an..14">
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="14"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="an..140">
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="140"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="an..140M">
    <xsd:restriction base="datatypes:anM">
      <xsd:maxLength value="140"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="an..15">
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="15"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="an..15M">
    <xsd:restriction base="datatypes:anM">
      <xsd:maxLength value="15"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="an..17">
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="17"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="an..17M">
    <xsd:restriction base="datatypes:anM">
      <xsd:maxLength value="17"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="an..19">
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="19"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="an..19M">
    <xsd:restriction base="datatypes:anM">
      <xsd:maxLength value="19"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="an..2">
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="an..210">
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="210"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="an..255M">
    <xsd:restriction base="datatypes:anM">
      <xsd:maxLength value="255"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="an..25M">
    <xsd:restriction base="datatypes:anM">
      <xsd:maxLength value="25"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="an..260">
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="260"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="an..3">
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="an..35">
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="35"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="an..35M">
    <xsd:restriction base="datatypes:anM">
      <xsd:maxLength value="35"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="an..3M">
    <xsd:restriction base="datatypes:anM">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="an..4">
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="an..50">
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="50"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="an..50M">
    <xsd:restriction base="datatypes:anM">
      <xsd:maxLength value="50"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="an..6">
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="an..70">
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="70"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="an..70M">
    <xsd:restriction base="datatypes:anM">
      <xsd:maxLength value="70"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="an..8">
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="an..80">
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="80"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="an..80M">
    <xsd:restriction base="datatypes:anM">
      <xsd:maxLength value="80"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="an..9">
    <xsd:restriction base="datatypes:an">
      <xsd:maxLength value="9"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="an..9M">
    <xsd:restriction base="datatypes:anM">
      <xsd:maxLength value="9"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="anM">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="([!-~]|[ ])*[!-~]([!-~]|[ ])*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="n">
    <xsd:restriction base="datatypes:an">
      <xsd:pattern value="[0-9]*(\.[0-9]+)?"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="n..11M">
    <xsd:restriction base="datatypes:nM">
      <xsd:maxLength value="11"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="n..15M">
    <xsd:restriction base="datatypes:nM">
      <xsd:maxLength value="15"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="n..18">
    <xsd:restriction base="datatypes:n">
      <xsd:maxLength value="18"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="n..18M">
    <xsd:restriction base="datatypes:nM">
      <xsd:maxLength value="18"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="n..2">
    <xsd:restriction base="datatypes:n">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="n..2M">
    <xsd:restriction base="datatypes:nM">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="n..3">
    <xsd:restriction base="datatypes:n">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="n..3M">
    <xsd:restriction base="datatypes:nM">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="n..4">
    <xsd:restriction base="datatypes:n">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="n1">
    <xsd:restriction base="datatypes:n">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="nM">
    <xsd:restriction base="datatypes:anM">
      <xsd:pattern value="[0-9]+(\.[0-9]+)?"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="AddressType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="AddressLine1" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="AddressLine2" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="City" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="State" type="ecl:StateCode"/>
      <xsd:element minOccurs="0" name="ZipCode" type="datatypes:ZipCodeType"/>
      <xsd:element minOccurs="0" name="PlaceLocationQualifier" type="datatypes:an..3"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CDCCode">
    <xsd:sequence>
      <xsd:element name="Code" type="ecl:Code"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CoAgentCode">
    <xsd:complexContent>
      <xsd:restriction base="datatypes:QualifiedCode">
        <xsd:sequence>
          <xsd:element name="Code" type="ecl:Code"/>
          <xsd:element name="Qualifier" type="ecl:DUECoAgentIDQualifierCode"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CommunicationNumbersType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="Communication" type="datatypes:CommunicationType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CommunicationType">
    <xsd:sequence>
      <xsd:element name="Number" type="datatypes:an..80M"/>
      <xsd:element name="Qualifier" type="ecl:CommunicationTypeQualifierCode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CompoundIngredient">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CompoundIngredient">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CompoundIngredientItemDescription" type="datatypes:an..105M"/>
            <xsd:element minOccurs="0" name="ItemNumber" type="datatypes:ProductCode"/>
            <xsd:element minOccurs="0" name="Strength" type="datatypes:Strength"/>
            <xsd:element minOccurs="0" name="DEASchedule" type="datatypes:NCICode"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Quantity" type="datatypes:Quantity"/>
      <xsd:element maxOccurs="5" minOccurs="0" name="DrugUseEvaluation" type="datatypes:DrugUseEvaluation"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DateRange">
    <xsd:sequence>
      <xsd:element name="StartDate" type="datatypes:DateType"/>
      <xsd:element name="EndDate" type="datatypes:DateType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DateType">
    <xsd:choice>
      <xsd:element name="Date" type="datatypes:SimpleDateType"/>
      <xsd:element name="DateTime" type="datatypes:UtcDateType"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="DrugCoded">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ProductCode" type="datatypes:ProductCode"/>
      <xsd:element minOccurs="0" name="Strength" type="datatypes:Strength"/>
      <xsd:element minOccurs="0" name="DrugDBCode" type="datatypes:DrugDBCode"/>
      <xsd:element minOccurs="0" name="DEASchedule" type="datatypes:NCICode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DrugDBCode">
    <xsd:complexContent>
      <xsd:restriction base="datatypes:QualifiedCode">
        <xsd:sequence>
          <xsd:element name="Code" type="ecl:Code"/>
          <xsd:element name="Qualifier" type="ecl:DrugDBQualifiersCode"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DrugProductCodeWithText">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Code" type="ecl:Code"/>
      <xsd:element minOccurs="0" name="Qualifier" type="ecl:ProductQualifiersCodeExtended"/>
      <xsd:element name="Text" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DrugUseEvaluation">
    <xsd:sequence>
      <xsd:element name="ServiceReasonCode" type="ecl:DUEReasonForServiceCode"/>
      <xsd:element minOccurs="0" name="ProfessionalServiceCode" type="ecl:DUEProfessionalServiceCode"/>
      <xsd:element minOccurs="0" name="ServiceResultCode" type="ecl:DUEResultOfServiceCode"/>
      <xsd:element minOccurs="0" name="CoAgent" type="datatypes:CoAgentCode"/>
      <xsd:element minOccurs="0" name="ClinicalSignificanceCode" type="ecl:DUEClinicalSignificanceCode"/>
      <xsd:element minOccurs="0" name="AcknowledgementReason" type="datatypes:an..100"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Facilty">
    <xsd:sequence>
      <xsd:element name="Identification" type="datatypes:ProviderID"/>
      <xsd:element minOccurs="0" name="FacilityName" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="Address" type="datatypes:AddressType"/>
      <xsd:element minOccurs="0" name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FinalRouteOfAdministrationCode">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Text" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Code" type="datatypes:SNOMEDCode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HistorySource">
    <xsd:sequence>
      <xsd:element name="Source" type="datatypes:SourceQualifier"/>
      <xsd:element minOccurs="0" name="SourceReference" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="FillNumber" type="datatypes:n..2"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IDType">
    <xsd:sequence>
      <xsd:element name="IDValue" type="datatypes:an..35M"/>
      <xsd:element name="IDQualifier" type="ecl:IDQualifierCode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MeasurementType">
    <xsd:sequence>
      <xsd:element name="Dimension" type="ecl:MeasurementDimensionCode"/>
      <xsd:element name="Value" type="datatypes:n..18M"/>
      <xsd:element minOccurs="0" name="ObservationDate" type="datatypes:DateType"/>
      <xsd:element minOccurs="0" name="MeasurementDataQualifier" type="ecl:MeasurementDataQualifierCode"/>
      <xsd:element minOccurs="0" name="MeasurementSourceCode" type="datatypes:NCICode"/>
      <xsd:element name="MeasurementUnitCode" type="datatypes:NCICode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NCICode">
    <xsd:sequence>
      <xsd:element name="Code" type="ecl:Code"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NameType">
    <xsd:sequence>
      <xsd:element name="LastName" type="datatypes:an..35M"/>
      <xsd:element name="FirstName" type="datatypes:an..35M"/>
      <xsd:element minOccurs="0" name="MiddleName" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="Suffix" type="datatypes:an..10"/>
      <xsd:element minOccurs="0" name="Prefix" type="datatypes:an..10"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NoteType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ReferenceNumber" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="Note" type="datatypes:an..70"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PasswordType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute fixed="PasswordDigest" name="Type" type="xsd:anySimpleType" use="required"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="PatientID">
    <xsd:choice maxOccurs="2" minOccurs="0">
      <xsd:element name="NCPDPID" type="datatypes:an..35M"/>
      <xsd:element name="FileID" type="datatypes:an..35M"/>
      <xsd:element name="StateLicenseNumber" type="datatypes:an..35M"/>
      <xsd:element name="MedicareNumber" type="datatypes:an..35M"/>
      <xsd:element name="MedicaidNumber" type="datatypes:an..35M"/>
      <xsd:element name="DentistLicenseNumber" type="datatypes:an..35M"/>
      <xsd:element name="UPIN" type="datatypes:an..35M"/>
      <xsd:element name="FacilityID" type="datatypes:an..35M"/>
      <xsd:element name="PPONumber" type="datatypes:an..35M"/>
      <xsd:element name="PayerID" type="datatypes:an..35M"/>
      <xsd:element name="ProcessorIdentificationNumber" type="datatypes:an..35M"/>
      <xsd:element name="BINLocationNumber" type="datatypes:an..35M"/>
      <xsd:element name="Commercial" type="datatypes:an..35M"/>
      <xsd:element name="MedicalRecordIdentificationNumberEHR" type="datatypes:an..35M"/>
      <xsd:element name="PatientAccountNumber" type="datatypes:an..35M"/>
      <xsd:element name="DEANumber" type="datatypes:an..35M"/>
      <xsd:element name="HIN" type="datatypes:an..35M"/>
      <xsd:element name="IndividualPolicyNumber" type="datatypes:an..35M"/>
      <xsd:element name="SecondaryCoverage" type="datatypes:an..35M"/>
      <xsd:element name="NAICCode" type="datatypes:an..35M"/>
      <xsd:element name="PromotionNumber" type="datatypes:an..35M"/>
      <xsd:element name="SocialSecurity" type="datatypes:an..35M"/>
      <xsd:element name="NPI" type="datatypes:an..35M"/>
      <xsd:element name="PriorAuthorization" type="datatypes:an..35M"/>
      <xsd:element name="CertificatetoPrescribe" type="datatypes:an..35M"/>
      <xsd:element name="MutuallyDefined" type="datatypes:an..35M"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="PayerID">
    <xsd:choice maxOccurs="1" minOccurs="0">
      <xsd:element name="NCPDPID" type="datatypes:an..35M"/>
      <xsd:element name="FileID" type="datatypes:an..35M"/>
      <xsd:element name="StateLicenseNumber" type="datatypes:an..35M"/>
      <xsd:element name="MedicareNumber" type="datatypes:an..35M"/>
      <xsd:element name="MedicaidNumber" type="datatypes:an..35M"/>
      <xsd:element name="DentistLicenseNumber" type="datatypes:an..35M"/>
      <xsd:element name="UPIN" type="datatypes:an..35M"/>
      <xsd:element name="FacilityID" type="datatypes:an..35M"/>
      <xsd:element name="PPONumber" type="datatypes:an..35M"/>
      <xsd:element name="PayerID" type="datatypes:an..35M"/>
      <xsd:element name="ProcessorIdentificationNumber" type="datatypes:an..35M"/>
      <xsd:element name="BINLocationNumber" type="datatypes:an..35M"/>
      <xsd:element name="Commercial" type="datatypes:an..35M"/>
      <xsd:element name="MedicalRecordIdentificationNumberEHR" type="datatypes:an..35M"/>
      <xsd:element name="PatientAccountNumber" type="datatypes:an..35M"/>
      <xsd:element name="DEANumber" type="datatypes:an..35M"/>
      <xsd:element name="HIN" type="datatypes:an..35M"/>
      <xsd:element name="IndividualPolicyNumber" type="datatypes:an..35M"/>
      <xsd:element name="SecondaryCoverage" type="datatypes:an..35M"/>
      <xsd:element name="NAICCode" type="datatypes:an..35M"/>
      <xsd:element name="PromotionNumber" type="datatypes:an..35M"/>
      <xsd:element name="SocialSecurity" type="datatypes:an..35M"/>
      <xsd:element name="NPI" type="datatypes:an..35M"/>
      <xsd:element name="PriorAuthorization" type="datatypes:an..35M"/>
      <xsd:element name="CertificatetoPrescribe" type="datatypes:an..35M"/>
      <xsd:element name="MutuallyDefined" type="datatypes:an..35M"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="PriorAuthorizationCode">
    <xsd:sequence>
      <xsd:element name="Value" type="datatypes:an..35M"/>
      <xsd:element name="Qualifier" type="ecl:PriorAuthorizationTypeCode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProblemNameCode">
    <xsd:sequence>
      <xsd:element name="Text" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Qualifier" type="ecl:ProblemNameQualifierCode"/>
      <xsd:element minOccurs="0" name="Code" type="ecl:Code"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProductCode">
    <xsd:complexContent>
      <xsd:restriction base="datatypes:QualifiedCode">
        <xsd:sequence>
          <xsd:element name="Code" type="ecl:Code"/>
          <xsd:element name="Qualifier" type="ecl:ProductQualifiersCode"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ProviderID">
    <xsd:choice maxOccurs="10" minOccurs="1">
      <xsd:element name="NCPDPID" type="datatypes:an..35M"/>
      <xsd:element name="FileID" type="datatypes:an..35M"/>
      <xsd:element name="StateLicenseNumber" type="datatypes:an..35M"/>
      <xsd:element name="MedicareNumber" type="datatypes:an..35M"/>
      <xsd:element name="MedicaidNumber" type="datatypes:an..35M"/>
      <xsd:element name="DentistLicenseNumber" type="datatypes:an..35M"/>
      <xsd:element name="UPIN" type="datatypes:an..35M"/>
      <xsd:element name="FacilityID" type="datatypes:an..35M"/>
      <xsd:element name="PPONumber" type="datatypes:an..35M"/>
      <xsd:element name="PayerID" type="datatypes:an..35M"/>
      <xsd:element name="ProcessorIdentificationNumber" type="datatypes:an..35M"/>
      <xsd:element name="BINLocationNumber" type="datatypes:an..35M"/>
      <xsd:element name="Commercial" type="datatypes:an..35M"/>
      <xsd:element name="MedicalRecordIdentificationNumberEHR" type="datatypes:an..35M"/>
      <xsd:element name="PatientAccountNumber" type="datatypes:an..35M"/>
      <xsd:element name="DEANumber" type="datatypes:an..35M"/>
      <xsd:element name="HIN" type="datatypes:an..35M"/>
      <xsd:element name="IndividualPolicyNumber" type="datatypes:an..35M"/>
      <xsd:element name="SecondaryCoverage" type="datatypes:an..35M"/>
      <xsd:element name="NAICCode" type="datatypes:an..35M"/>
      <xsd:element name="PromotionNumber" type="datatypes:an..35M"/>
      <xsd:element name="SocialSecurity" type="datatypes:an..35M"/>
      <xsd:element name="NPI" type="datatypes:an..35M"/>
      <xsd:element name="PriorAuthorization" type="datatypes:an..35M"/>
      <xsd:element name="CertificatetoPrescribe" type="datatypes:an..35M"/>
      <xsd:element name="Data2000WaiverID" type="datatypes:an..35M"/>
      <xsd:element name="MutuallyDefined" type="datatypes:an..35M"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="QualifiedAddress">
    <xsd:simpleContent>
      <xsd:extension base="datatypes:MailAddressType">
        <xsd:attribute name="Qualifier" type="ecl:AddressTypeQualifier"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="QualifiedCode">
    <xsd:sequence>
      <xsd:element name="Code" type="ecl:Code"/>
      <xsd:element name="Qualifier" type="ecl:Code"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="QualifiedCodeWithText">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Text" type="xsd:string"/>
      <xsd:element name="Qualifier" type="ecl:Code"/>
      <xsd:element name="Code" type="ecl:Code"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Quantity">
    <xsd:sequence>
      <xsd:element name="Value" type="datatypes:n..11M"/>
      <xsd:element name="CodeListQualifier" type="ecl:QuantityCodeListQualifierCode"/>
      <xsd:element name="QuanityUnitOfMeasure" type="datatypes:NCICode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RouteOfAdministrationCode">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="RouteofAdministrationText" type="datatypes:an..50"/>
      <xsd:element minOccurs="0" name="RouteofAdministrationCode" type="datatypes:an..15"/>
      <xsd:element name="RouteofAdministrationCodeQualifier" type="datatypes:TerminologyType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SNOMEDAdverseEventCode">
    <xsd:complexContent>
      <xsd:restriction base="datatypes:SNOMEDCode">
        <xsd:sequence>
          <xsd:element name="Text" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Code" type="ecl:SNOMEDCTAdverseEventCode"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SNOMEDCode">
    <xsd:sequence>
      <xsd:element name="Text" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Code" type="ecl:Code"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SourceQualifier">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Reference" type="datatypes:IDType"/>
      <xsd:element minOccurs="0" name="SourceDescription" type="datatypes:an..35"/>
      <xsd:element name="SourceQualifier" type="ecl:SourceQualifierCode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Strength">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="StrengthValue" type="datatypes:an..70"/>
      <xsd:element minOccurs="0" name="StrengthForm" type="datatypes:NCICode"/>
      <xsd:element minOccurs="0" name="StrengthUnitOfMeasure" type="datatypes:NCICode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TimeZone">
    <xsd:sequence>
      <xsd:element name="TimeZoneIdentifier" type="ecl:TimeZoneIdentifierCode"/>
      <xsd:element minOccurs="0" name="TimeZoneDifferenceQuantity">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="[\+\-]?[0-9][0-9]?[0-9]?[0-9]?"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>