trunk/ncpdp/models/org.ncpdp.uml.functions/schemas/dictionary.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ncpdp.org/schema/dictionary" xmlns:datatypes="http://www.ncpdp.org/schema/datatypes" xmlns:dictionary="http://www.ncpdp.org/schema/dictionary" xmlns:ecl="http://www.ncpdp.org/schema/ECL" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.ncpdp.org/schema/datatypes" schemaLocation="datatypes.xsd"/>
  <xsd:import namespace="http://www.ncpdp.org/schema/ECL" schemaLocation="ecl.xsd"/>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Allergy  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Allergy">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="NoKnownAllergies" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="SourceOfInformation" type="ecl:SourceofInformation"/>
      <xsd:element minOccurs="0" name="EffectiveDate" type="datatypes:DateType"/>
      <xsd:element minOccurs="0" name="ExpirationDate" type="datatypes:DateType"/>
      <xsd:element minOccurs="0" name="AdverseEvent" type="ecl:SNOMEDCTPreferredTermsforAdverseEvents"/>
      <xsd:element minOccurs="0" name="DrugProductCoded" type="datatypes:TerminologyQualifiedCode"/>
      <xsd:element minOccurs="0" name="ReactionCoded" type="datatypes:SNOMEDCode"/>
      <xsd:element minOccurs="0" name="SeverityCoded" type="datatypes:SNOMEDCode"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Attachment  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Attachment">
    <xsd:sequence>
      <xsd:element name="AttachmentType" type="datatypes:an..80M"/>
      <xsd:element name="AttachmentData" type="xsd:base64Binary"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Attachments  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Attachments">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="Attachment" type="dictionary:Attachment"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  BenefitsCoordination  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="BenefitsCoordination">
    <xsd:complexContent>
      <xsd:restriction base="dictionary:OptionalBenefitsCoordination">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="PayerIdentification" type="dictionary:PayerID"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ExpirationDate" type="datatypes:DateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="EffectiveDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="PayerName" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="CardholderID" type="datatypes:an..35"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="CardHolderName" type="datatypes:NameType"/>
          <xsd:element minOccurs="0" name="GroupID" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="PayerResponsibilityCode" type="ecl:InsuranceTypecodedX12DE1138"/>
          <xsd:element minOccurs="0" name="PatientRelationship" type="ecl:PatientRelationshipCode"/>
          <xsd:element minOccurs="0" name="PersonCode" type="datatypes:n..3"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="GroupName" type="datatypes:an..35"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Address" type="datatypes:AddressType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Consent" type="ecl:ConsentType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="PBMMemberID" type="datatypes:an..80"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ResponsibleParty" type="datatypes:NameType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ServiceTypeCoded" type="ecl:ServiceTypeCoded"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  BenefitsCoordinationRequest  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="BenefitsCoordinationRequest">
    <xsd:complexContent>
      <xsd:restriction base="dictionary:OptionalBenefitsCoordination">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="PayerIdentification" type="dictionary:PayerID"/>
          <xsd:element name="EffectiveDate" type="datatypes:DateType"/>
          <xsd:element name="ExpirationDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="PayerName" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="CardholderID" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="CardHolderName" type="datatypes:NameType"/>
          <xsd:element minOccurs="0" name="GroupID" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="PayerResponsibilityCode" type="ecl:InsuranceTypecodedX12DE1138"/>
          <xsd:element minOccurs="0" name="PatientRelationship" type="ecl:PatientRelationshipCode"/>
          <xsd:element minOccurs="0" name="PersonCode" type="datatypes:n..3"/>
          <xsd:element minOccurs="0" name="GroupName" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="Address" type="datatypes:AddressType"/>
          <xsd:element minOccurs="0" name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
          <xsd:element name="Consent" type="ecl:ConsentType"/>
          <xsd:element minOccurs="0" name="PBMMemberID" type="datatypes:an..80"/>
          <xsd:element minOccurs="0" name="ResponsibleParty" type="datatypes:NameType"/>
          <xsd:element minOccurs="0" name="ServiceTypeCoded" type="ecl:ServiceTypeCoded"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  BenefitsCoordinationResponse  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="BenefitsCoordinationResponse">
    <xsd:complexContent>
      <xsd:restriction base="dictionary:OptionalBenefitsCoordination">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="PayerIdentification" type="dictionary:PayerID"/>
          <xsd:element name="EffectiveDate" type="datatypes:DateType"/>
          <xsd:element name="ExpirationDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="PayerName" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="CardholderID" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="CardHolderName" type="datatypes:NameType"/>
          <xsd:element minOccurs="0" name="GroupID" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="PayerResponsibilityCode" type="ecl:InsuranceTypecodedX12DE1138"/>
          <xsd:element minOccurs="0" name="PatientRelationship" type="ecl:PatientRelationshipCode"/>
          <xsd:element minOccurs="0" name="PersonCode" type="datatypes:n..3"/>
          <xsd:element minOccurs="0" name="GroupName" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="Address" type="datatypes:AddressType"/>
          <xsd:element minOccurs="0" name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
          <xsd:element minOccurs="0" name="Consent" type="ecl:ConsentType"/>
          <xsd:element minOccurs="0" name="PBMMemberID" type="datatypes:an..80"/>
          <xsd:element minOccurs="0" name="ResponsibleParty" type="datatypes:NameType"/>
          <xsd:element minOccurs="0" name="ServiceTypeCoded" type="ecl:ServiceTypeCoded"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CensusBenefitsCoordination  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CensusBenefitsCoordination">
    <xsd:complexContent>
      <xsd:restriction base="dictionary:OptionalBenefitsCoordination">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="PayerIdentification" type="dictionary:PayerID"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ExpirationDate" type="datatypes:DateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="EffectiveDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="PayerName" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="CardholderID" type="datatypes:an..35"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="CardHolderName" type="datatypes:NameType"/>
          <xsd:element minOccurs="0" name="GroupID" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="PayerResponsibilityCode" type="ecl:InsuranceTypecodedX12DE1138"/>
          <xsd:element minOccurs="0" name="PatientRelationship" type="ecl:PatientRelationshipCode"/>
          <xsd:element minOccurs="0" name="PersonCode" type="datatypes:n..3"/>
          <xsd:element minOccurs="0" name="GroupName" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="Address" type="datatypes:AddressType"/>
          <xsd:element minOccurs="0" name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Consent" type="ecl:ConsentType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="PBMMemberID" type="datatypes:an..80"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ResponsibleParty" type="datatypes:NameType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ServiceTypeCoded" type="ecl:ServiceTypeCoded"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CoAgent  <<complexType>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CoAgent">
    <xsd:sequence maxOccurs="1" minOccurs="0">
      <xsd:element minOccurs="0" name="CoAgentID" type="datatypes:an..19"/>
      <xsd:element minOccurs="0" name="CoAgentQualifier" type="ecl:DUECoAgentIDQualifier"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CompoundIngredient  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CompoundIngredient">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CompoundIngredient">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CompoundIngredientItemDescription" type="datatypes:an..105M"/>
            <xsd:element minOccurs="0" name="ItemNumber" type="datatypes:an..35"/>
            <xsd:element minOccurs="0" name="CompoundProductCodeQualifier" type="ecl:ProductCodeQualifier"/>
            <xsd:element minOccurs="0" name="Strength" type="datatypes:an..70"/>
            <xsd:element minOccurs="0" name="FormSourceCode" type="ecl:SourceCodeList"/>
            <xsd:element minOccurs="0" name="FormCode" type="datatypes:an..15"/>
            <xsd:element minOccurs="0" name="StrengthSourceCode" type="ecl:SourceCodeList"/>
            <xsd:element minOccurs="0" name="StrengthCode" type="datatypes:an..15"/>
            <xsd:element minOccurs="0" name="DEASchedule" type="datatypes:an..15"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Quantity" type="dictionary:Quantity"/>
      <xsd:element maxOccurs="5" minOccurs="0" name="DrugUseEvaluation" type="dictionary:DrugUseEvaluation"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Diagnosis  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Diagnosis">
    <xsd:sequence>
      <xsd:element name="ClinicalInformationQualifier" type="ecl:MyClinicalInformationQualifier"/>
      <xsd:element name="Primary" type="dictionary:PrimaryDiagnosis"/>
      <xsd:element minOccurs="0" name="Secondary" type="dictionary:SecondaryDiagnosis"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  DiagnosisGeneral  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DiagnosisGeneral">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="SourceOfInformation" type="ecl:SourceofInformation"/>
      <xsd:element minOccurs="0" name="EffectiveDate" type="datatypes:DateType"/>
      <xsd:element minOccurs="0" name="ExpirationDate" type="datatypes:DateType"/>
      <xsd:element minOccurs="0" name="ProblemType" type="datatypes:SNOMEDCode"/>
      <xsd:element name="ProblemNameCoded" type="datatypes:TerminologyQualifiedCode"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  DrugAdministrationMedication  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DrugAdministrationMedication">
    <xsd:complexContent>
      <xsd:restriction base="dictionary:Medication">
        <xsd:sequence>
          <xsd:element name="DrugDescription" type="datatypes:an..105M"/>
          <xsd:element minOccurs="0" name="DrugCoded" type="dictionary:DrugCoded"/>
          <xsd:element name="Quantity" type="dictionary:Quantity"/>
          <xsd:element name="Directions"/>
          <xsd:element minOccurs="0" name="DaysSupply" type="datatypes:an..35"/>
          <xsd:element name="WrittenDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="LastFillDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="ExpirationDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="EffectiveDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="PeriodEnd" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DeliveredOnDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DateValidated" type="datatypes:DateType"/>
          <xsd:element name="Substitutions" type="ecl:DispenseAsWrittenDAWProductSelectionCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NumberOfRefills"/>
          <xsd:element maxOccurs="2" minOccurs="0" name="Diagnosis" type="dictionary:Diagnosis"/>
          <xsd:element minOccurs="0" name="PriorAuthorization"/>
          <xsd:element minOccurs="0" name="Note"/>
          <xsd:element maxOccurs="5" minOccurs="0" name="DrugUseEvaluation" type="dictionary:DrugUseEvaluation"/>
          <xsd:element maxOccurs="5" minOccurs="0" name="DrugCoverageStatusCode" type="ecl:DrugCoverageStatusCode"/>
          <xsd:element minOccurs="0" name="PriorAuthorizationStatus" type="ecl:PriorAuthorizationStatus"/>
          <xsd:element minOccurs="0" name="OtherCompoundInformation" type="dictionary:OtherCompoundInformationType"/>
          <xsd:element minOccurs="0" name="RouteofAdministration"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="StructuredSIG" type="dictionary:SIGType"/>
          <xsd:element maxOccurs="25" minOccurs="0" name="Compound" type="dictionary:CompoundIngredient"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="SoldDate" type="datatypes:DateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="AdditionalRefillsAuthorized"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="PharmacyRequestedRefills"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DoNotFill" type="xsd:boolean"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NeededNoLaterThan" type="datatypes:UtcDateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NeededNoLaterThanReason" type="datatypes:an..70"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="RefillsRemaining"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="HistoryPresciberOrderNumber"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="OrderCaptureMethod" type="ecl:OrderCaptureMethod"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Pharmacy" type="dictionary:Pharmacy"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Prescriber" type="dictionary:PrescriberGeneral"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="HistorySource" type="dictionary:HistorySource"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  DrugCoded  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DrugCoded">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ProductCode" type="datatypes:TerminologyQualifiedCode"/>
      <xsd:element minOccurs="0" name="Strength" type="datatypes:an..70"/>
      <xsd:element minOccurs="0" name="DrugDBCode" type="datatypes:ReferenceQualifier1153CodedType"/>
      <xsd:element minOccurs="0" name="FormCode" type="datatypes:SourceQualifiedCode"/>
      <xsd:element minOccurs="0" name="StrengthCode" type="datatypes:SourceQualifiedCode"/>
      <xsd:element minOccurs="0" name="DEASchedule" type="ecl:DEASchedule"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  DrugUseEvaluation  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DrugUseEvaluation">
    <xsd:sequence>
      <xsd:element name="ServiceReasonCode" type="ecl:DUEReasonForServiceCode"/>
      <xsd:element minOccurs="0" name="ProfessionalServiceCode" type="ecl:DUEProfessionalServiceCode"/>
      <xsd:element minOccurs="0" name="ServiceResultCode" type="ecl:DUEResultOfServiceCode"/>
      <xsd:element minOccurs="0" name="CoAgent" type="dictionary:CoAgent"/>
      <xsd:element minOccurs="0" name="ClinicalSignificanceCode" type="ecl:DUEClinicalSignificanceCode"/>
      <xsd:element minOccurs="0" name="AcknowledgementReason" type="datatypes:an..100"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Facilty  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Facilty">
    <xsd:sequence>
      <xsd:element name="Identification" type="dictionary:ProviderID"/>
      <xsd:element minOccurs="0" name="FacilityName" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="Address" type="datatypes:AddressType"/>
      <xsd:element minOccurs="0" name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  FillStatus  <<choice>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="FillStatus">
    <xsd:choice>
      <xsd:element name="Filled" type="datatypes:NoteType"/>
      <xsd:element name="PartialFill" type="datatypes:NoteType"/>
      <xsd:element name="NotFilled" type="datatypes:NoteType"/>
    </xsd:choice>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  HistoryDispensedMedication  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="HistoryDispensedMedication">
    <xsd:complexContent>
      <xsd:restriction base="dictionary:Medication">
        <xsd:sequence>
          <xsd:element name="DrugDescription" type="datatypes:an..105M"/>
          <xsd:element minOccurs="0" name="DrugCoded" type="dictionary:DrugCoded"/>
          <xsd:element name="Quantity" type="dictionary:Quantity"/>
          <xsd:element minOccurs="0" name="Directions"/>
          <xsd:element minOccurs="0" name="DaysSupply" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="WrittenDate" type="datatypes:DateType"/>
          <xsd:element name="LastFillDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="ExpirationDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="EffectiveDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="PeriodEnd" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DeliveredOnDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DateValidated" type="datatypes:DateType"/>
          <xsd:element name="Substitutions" type="ecl:DispenseAsWrittenDAWProductSelectionCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NumberOfRefills"/>
          <xsd:element maxOccurs="2" minOccurs="0" name="Diagnosis" type="dictionary:Diagnosis"/>
          <xsd:element minOccurs="0" name="PriorAuthorization"/>
          <xsd:element minOccurs="0" name="Note"/>
          <xsd:element maxOccurs="5" minOccurs="0" name="DrugUseEvaluation" type="dictionary:DrugUseEvaluation"/>
          <xsd:element maxOccurs="5" minOccurs="0" name="DrugCoverageStatusCode" type="ecl:DrugCoverageStatusCode"/>
          <xsd:element minOccurs="0" name="PriorAuthorizationStatus" type="ecl:PriorAuthorizationStatus"/>
          <xsd:element minOccurs="0" name="OtherCompoundInformation" type="dictionary:OtherCompoundInformationType"/>
          <xsd:element minOccurs="0" name="RouteofAdministration"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="StructuredSIG" type="dictionary:SIGType"/>
          <xsd:element maxOccurs="25" minOccurs="0" name="Compound" type="dictionary:CompoundIngredient"/>
          <xsd:element minOccurs="0" name="SoldDate" type="datatypes:DateType"/>
          <xsd:element name="AdditionalRefillsAuthorized"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="PharmacyRequestedRefills"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DoNotFill" type="xsd:boolean"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NeededNoLaterThan" type="datatypes:UtcDateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NeededNoLaterThanReason" type="datatypes:an..70"/>
          <xsd:element name="RefillsRemaining"/>
          <xsd:element minOccurs="0" name="HistoryPresciberOrderNumber"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="OrderCaptureMethod" type="ecl:OrderCaptureMethod"/>
          <xsd:element minOccurs="0" name="Pharmacy" type="dictionary:Pharmacy"/>
          <xsd:element minOccurs="0" name="Prescriber" type="dictionary:PrescriberGeneral"/>
          <xsd:element minOccurs="0" name="HistorySource" type="dictionary:HistorySource"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  HistoryPrescibedMedication  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="HistoryPrescibedMedication">
    <xsd:complexContent>
      <xsd:restriction base="dictionary:Medication">
        <xsd:sequence>
          <xsd:element name="DrugDescription" type="datatypes:an..105M"/>
          <xsd:element minOccurs="0" name="DrugCoded" type="dictionary:DrugCoded"/>
          <xsd:element name="Quantity" type="dictionary:Quantity"/>
          <xsd:element minOccurs="0" name="Directions"/>
          <xsd:element minOccurs="0" name="DaysSupply" type="datatypes:an..35"/>
          <xsd:element name="WrittenDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="LastFillDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="ExpirationDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="EffectiveDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="PeriodEnd" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DeliveredOnDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DateValidated" type="datatypes:DateType"/>
          <xsd:element name="Substitutions" type="ecl:DispenseAsWrittenDAWProductSelectionCode"/>
          <xsd:element name="NumberOfRefills"/>
          <xsd:element maxOccurs="2" minOccurs="0" name="Diagnosis" type="dictionary:Diagnosis"/>
          <xsd:element minOccurs="0" name="PriorAuthorization"/>
          <xsd:element minOccurs="0" name="Note"/>
          <xsd:element maxOccurs="5" minOccurs="0" name="DrugUseEvaluation" type="dictionary:DrugUseEvaluation"/>
          <xsd:element maxOccurs="5" minOccurs="0" name="DrugCoverageStatusCode" type="ecl:DrugCoverageStatusCode"/>
          <xsd:element minOccurs="0" name="PriorAuthorizationStatus" type="ecl:PriorAuthorizationStatus"/>
          <xsd:element minOccurs="0" name="OtherCompoundInformation" type="dictionary:OtherCompoundInformationType"/>
          <xsd:element minOccurs="0" name="RouteofAdministration"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="StructuredSIG" type="dictionary:SIGType"/>
          <xsd:element maxOccurs="25" minOccurs="0" name="Compound" type="dictionary:CompoundIngredient"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="SoldDate" type="datatypes:DateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="AdditionalRefillsAuthorized"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="PharmacyRequestedRefills"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DoNotFill" type="xsd:boolean"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NeededNoLaterThan" type="datatypes:UtcDateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NeededNoLaterThanReason" type="datatypes:an..70"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="RefillsRemaining"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="HistoryPresciberOrderNumber"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="OrderCaptureMethod" type="ecl:OrderCaptureMethod"/>
          <xsd:element minOccurs="0" name="Pharmacy" type="dictionary:Pharmacy"/>
          <xsd:element minOccurs="0" name="Prescriber" type="dictionary:PrescriberGeneral"/>
          <xsd:element minOccurs="0" name="HistorySource" type="dictionary:HistorySource"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  HistoryPrescriber  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="HistoryPrescriber">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Identification" type="dictionary:ProviderID"/>
      <xsd:element minOccurs="0" name="Specialty" type="datatypes:an..10"/>
      <xsd:element minOccurs="0" name="ClinicName" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="Name" type="datatypes:NameType"/>
      <xsd:element minOccurs="0" name="Address" type="datatypes:AddressType"/>
      <xsd:element minOccurs="0" name="PrescriberAgent" type="datatypes:NameType"/>
      <xsd:element minOccurs="0" name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  HistorySource  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="HistorySource">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Source">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Reference" type="ecl:Code"/>
            <xsd:element minOccurs="0" name="SourceDescription" type="datatypes:an..35"/>
            <xsd:element fixed="RX" minOccurs="0" name="SourceQualifier" type="datatypes:an"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="SourceReference" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="FillNumber"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  MandatoryAddressPharmacy  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MandatoryAddressPharmacy">
    <xsd:complexContent>
      <xsd:restriction base="dictionary:MandatoryPharmacy">
        <xsd:sequence>
          <xsd:element name="Identification" type="dictionary:ProviderID"/>
          <xsd:element minOccurs="0" name="Specialty" type="datatypes:an..10"/>
          <xsd:element minOccurs="0" name="Pharmacist" type="datatypes:NameType"/>
          <xsd:element name="BusinessName" type="datatypes:an..35M"/>
          <xsd:element name="Address" type="datatypes:AddressType"/>
          <xsd:element name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  MandatoryPharmacy  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MandatoryPharmacy">
    <xsd:complexContent>
      <xsd:restriction base="dictionary:Pharmacy">
        <xsd:sequence>
          <xsd:element name="Identification" type="dictionary:ProviderID"/>
          <xsd:element minOccurs="0" name="Specialty" type="datatypes:an..10"/>
          <xsd:element minOccurs="0" name="Pharmacist" type="datatypes:NameType"/>
          <xsd:element name="BusinessName" type="datatypes:an..35M"/>
          <xsd:element minOccurs="0" name="Address" type="datatypes:AddressType"/>
          <xsd:element name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  MandatoryPresciber  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MandatoryPresciber">
    <xsd:complexContent>
      <xsd:restriction base="dictionary:Prescriber">
        <xsd:sequence>
          <xsd:element name="Identification" type="dictionary:ProviderID"/>
          <xsd:element minOccurs="0" name="Specialty" type="datatypes:an..10"/>
          <xsd:element minOccurs="0" name="ClinicName" type="datatypes:an..35"/>
          <xsd:element name="Name" type="datatypes:NameType"/>
          <xsd:element name="Address" type="datatypes:AddressType"/>
          <xsd:element minOccurs="0" name="PrescriberAgent" type="datatypes:NameType"/>
          <xsd:element name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  MandatorySupervisor  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MandatorySupervisor">
    <xsd:complexContent>
      <xsd:restriction base="dictionary:Supervisor">
        <xsd:sequence>
          <xsd:element name="Identification" type="dictionary:ProviderID"/>
          <xsd:element minOccurs="0" name="Specialty" type="datatypes:an..10"/>
          <xsd:element name="Name" type="datatypes:NameType"/>
          <xsd:element minOccurs="0" name="ClinicName" type="datatypes:an..35"/>
          <xsd:element name="Address" type="datatypes:AddressType"/>
          <xsd:element name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Medication  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Medication">
    <xsd:sequence>
      <xsd:element name="DrugDescription" type="datatypes:an..105M"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DrugCoded" type="dictionary:DrugCoded"/>
      <xsd:element name="Quantity" type="dictionary:Quantity"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Directions"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DaysSupply" type="datatypes:an..35"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="WrittenDate" type="datatypes:DateType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="LastFillDate" type="datatypes:DateType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ExpirationDate" type="datatypes:DateType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="EffectiveDate" type="datatypes:DateType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="PeriodEnd" type="datatypes:DateType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DeliveredOnDate" type="datatypes:DateType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DateValidated" type="datatypes:DateType"/>
      <xsd:element name="Substitutions" type="ecl:DispenseAsWrittenDAWProductSelectionCode"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="NumberOfRefills"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Diagnosis" type="dictionary:Diagnosis"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="PriorAuthorization"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Note"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DrugUseEvaluation" type="dictionary:DrugUseEvaluation"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DrugCoverageStatusCode" type="ecl:DrugCoverageStatusCode"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="PriorAuthorizationStatus" type="ecl:PriorAuthorizationStatus"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="OtherCompoundInformation" type="dictionary:OtherCompoundInformationType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="RouteofAdministration"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="StructuredSIG" type="dictionary:SIGType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Compound" type="dictionary:CompoundIngredient"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="SoldDate" type="datatypes:DateType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="AdditionalRefillsAuthorized"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="PharmacyRequestedRefills"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DoNotFill" type="xsd:boolean"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="NeededNoLaterThan" type="datatypes:UtcDateType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="NeededNoLaterThanReason" type="datatypes:an..70"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="RefillsRemaining"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="HistoryPresciberOrderNumber"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="OrderCaptureMethod" type="ecl:OrderCaptureMethod"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Pharmacy" type="dictionary:Pharmacy"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Prescriber" type="dictionary:PrescriberGeneral"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="HistorySource" type="dictionary:HistorySource"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  NewRxPrescibedMedication  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="NewRxPrescibedMedication">
    <xsd:complexContent>
      <xsd:restriction base="dictionary:Medication">
        <xsd:sequence>
          <xsd:element name="DrugDescription" type="datatypes:an..105M"/>
          <xsd:element minOccurs="0" name="DrugCoded" type="dictionary:DrugCoded"/>
          <xsd:element name="Quantity" type="dictionary:Quantity"/>
          <xsd:element name="Directions"/>
          <xsd:element minOccurs="0" name="DaysSupply" type="datatypes:an..35"/>
          <xsd:element name="WrittenDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="LastFillDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="ExpirationDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="EffectiveDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="PeriodEnd" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DeliveredOnDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DateValidated" type="datatypes:DateType"/>
          <xsd:element name="Substitutions" type="ecl:DispenseAsWrittenDAWProductSelectionCode"/>
          <xsd:element name="NumberOfRefills"/>
          <xsd:element maxOccurs="2" minOccurs="0" name="Diagnosis" type="dictionary:Diagnosis"/>
          <xsd:element minOccurs="0" name="PriorAuthorization"/>
          <xsd:element minOccurs="0" name="Note"/>
          <xsd:element maxOccurs="5" minOccurs="0" name="DrugUseEvaluation" type="dictionary:DrugUseEvaluation"/>
          <xsd:element maxOccurs="5" minOccurs="0" name="DrugCoverageStatusCode" type="ecl:DrugCoverageStatusCode"/>
          <xsd:element minOccurs="0" name="PriorAuthorizationStatus" type="ecl:PriorAuthorizationStatus"/>
          <xsd:element minOccurs="0" name="OtherCompoundInformation" type="dictionary:OtherCompoundInformationType"/>
          <xsd:element minOccurs="0" name="RouteofAdministration"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="StructuredSIG" type="dictionary:SIGType"/>
          <xsd:element maxOccurs="25" minOccurs="0" name="Compound" type="dictionary:CompoundIngredient"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="SoldDate" type="datatypes:DateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="AdditionalRefillsAuthorized"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="PharmacyRequestedRefills"/>
          <xsd:element minOccurs="0" name="DoNotFill" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="NeededNoLaterThan" type="datatypes:UtcDateType"/>
          <xsd:element minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
          <xsd:element minOccurs="0" name="NeededNoLaterThanReason" type="datatypes:an..70"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="RefillsRemaining"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="HistoryPresciberOrderNumber"/>
          <xsd:element minOccurs="0" name="OrderCaptureMethod" type="ecl:OrderCaptureMethod"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Pharmacy" type="dictionary:Pharmacy"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Prescriber" type="dictionary:PrescriberGeneral"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="HistorySource" type="dictionary:HistorySource"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Observation  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Observation">
    <xsd:sequence>
      <xsd:element maxOccurs="10" minOccurs="0" name="Measurement" type="datatypes:MeasurementType"/>
      <xsd:element minOccurs="0" name="ObservationNotes" type="datatypes:an..140"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  OptionalBenefitsCoordination  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="OptionalBenefitsCoordination">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="PayerIdentification" type="dictionary:PayerID"/>
      <xsd:element minOccurs="0" name="EffectiveDate" type="datatypes:DateType"/>
      <xsd:element minOccurs="0" name="ExpirationDate" type="datatypes:DateType"/>
      <xsd:element minOccurs="0" name="PayerName" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="CardholderID" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="CardHolderName" type="datatypes:NameType"/>
      <xsd:element minOccurs="0" name="GroupID" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="PayerResponsibilityCode" type="ecl:InsuranceTypecodedX12DE1138"/>
      <xsd:element minOccurs="0" name="PatientRelationship" type="ecl:PatientRelationshipCode"/>
      <xsd:element minOccurs="0" name="PersonCode" type="datatypes:n..3"/>
      <xsd:element minOccurs="0" name="GroupName" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="Address" type="datatypes:AddressType"/>
      <xsd:element minOccurs="0" name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
      <xsd:element minOccurs="0" name="Consent" type="ecl:ConsentType"/>
      <xsd:element minOccurs="0" name="PBMMemberID" type="datatypes:an..80"/>
      <xsd:element minOccurs="0" name="ResponsibleParty" type="datatypes:NameType"/>
      <xsd:element minOccurs="0" name="ServiceTypeCoded" type="ecl:ServiceTypeCoded"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  OptionalPharmacy  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="OptionalPharmacy">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Identification" type="dictionary:ProviderID"/>
      <xsd:element minOccurs="0" name="Specialty" type="datatypes:an..10"/>
      <xsd:element minOccurs="0" name="Pharmacist" type="datatypes:NameType"/>
      <xsd:element minOccurs="0" name="BusinessName" type="datatypes:an..35M"/>
      <xsd:element minOccurs="0" name="Address" type="datatypes:AddressType"/>
      <xsd:element minOccurs="0" name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  OptionalPresciber  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="OptionalPresciber">
    <xsd:complexContent>
      <xsd:restriction base="dictionary:HistoryPrescriber">
        <xsd:sequence>
          <xsd:element name="Identification" type="dictionary:ProviderID"/>
          <xsd:element minOccurs="0" name="Specialty" type="datatypes:an..10"/>
          <xsd:element minOccurs="0" name="ClinicName" type="datatypes:an..35"/>
          <xsd:element name="Name" type="datatypes:NameType"/>
          <xsd:element minOccurs="0" name="Address" type="datatypes:AddressType"/>
          <xsd:element minOccurs="0" name="PrescriberAgent" type="datatypes:NameType"/>
          <xsd:element minOccurs="0" name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  OtherCompoundInformationType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="OtherCompoundInformationType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CompoundCoded" type="ecl:CompoundCode"/>
      <xsd:element minOccurs="0" name="FormSourceCode" type="ecl:SourceCodeList"/>
      <xsd:element minOccurs="0" name="FinalCompoundPharmaceuticalDosageForm" type="datatypes:an..70"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Patient  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Patient">
    <xsd:complexContent>
      <xsd:restriction base="dictionary:PatientFulll">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Identification" type="dictionary:PatientID"/>
          <xsd:element name="Name" type="datatypes:NameType"/>
          <xsd:element name="Gender" type="ecl:GenderCode"/>
          <xsd:element name="DateOfBirth" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="Address" type="datatypes:AddressType"/>
          <xsd:element minOccurs="0" name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
          <xsd:element minOccurs="0" name="PatientLocation" type="dictionary:PatientLocation"/>
          <xsd:element minOccurs="0" name="LanguageNameCode" type="datatypes:an..3"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ResidenceCode" type="ecl:ResidenceCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="PregnancyIndicator" type="xsd:boolean"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Smoker" type="xsd:boolean"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Race" type="xsd:string"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Ethnicity" type="xsd:string"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  PatientFulll  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="PatientFulll">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Identification" type="dictionary:PatientID"/>
      <xsd:element name="Name" type="datatypes:NameType"/>
      <xsd:element name="Gender" type="ecl:GenderCode"/>
      <xsd:element name="DateOfBirth" type="datatypes:DateType"/>
      <xsd:element minOccurs="0" name="Address" type="datatypes:AddressType"/>
      <xsd:element minOccurs="0" name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
      <xsd:element minOccurs="0" name="PatientLocation" type="dictionary:PatientLocation"/>
      <xsd:element minOccurs="0" name="LanguageNameCode" type="datatypes:an..3"/>
      <xsd:element minOccurs="0" name="ResidenceCode" type="ecl:ResidenceCode"/>
      <xsd:element minOccurs="0" name="PregnancyIndicator" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="Smoker" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="Race" type="datatypes:CDCCode"/>
      <xsd:element minOccurs="0" name="Ethnicity" type="datatypes:CDCCode"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  PatientID  <<complexType, choice>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="PatientID">
    <xsd:choice maxOccurs="2" minOccurs="0">
      <xsd:element name="NCPDPID" type="datatypes:an..35M"/>
      <xsd:element name="FileID" type="datatypes:an..35M"/>
      <xsd:element name="StateLicenseNumber" type="datatypes:an..35M"/>
      <xsd:element name="MedicareNumber" type="datatypes:an..35M"/>
      <xsd:element name="MedicaidNumber" type="datatypes:an..35M"/>
      <xsd:element name="DentistLicenseNumber" type="datatypes:an..35M"/>
      <xsd:element name="UPIN" type="datatypes:an..35M"/>
      <xsd:element name="FacilityID" type="datatypes:an..35M"/>
      <xsd:element name="PPONumber" type="datatypes:an..35M"/>
      <xsd:element name="PayerID" type="datatypes:an..35M"/>
      <xsd:element name="ProcessorIdentificationNumber" type="datatypes:an..35M"/>
      <xsd:element name="BINLocationNumber" type="datatypes:an..35M"/>
      <xsd:element name="Commercial" type="datatypes:an..35M"/>
      <xsd:element name="MedicalRecordIdentificationNumberEHR" type="datatypes:an..35M"/>
      <xsd:element name="PatientAccountNumber" type="datatypes:an..35M"/>
      <xsd:element name="DEANumber" type="datatypes:an..35M"/>
      <xsd:element name="HIN" type="datatypes:an..35M"/>
      <xsd:element name="IndividualPolicyNumber" type="datatypes:an..35M"/>
      <xsd:element name="SecondaryCoverage" type="datatypes:an..35M"/>
      <xsd:element name="NAICCode" type="datatypes:an..35M"/>
      <xsd:element name="PromotionNumber" type="datatypes:an..35M"/>
      <xsd:element name="SocialSecurity" type="datatypes:an..35M"/>
      <xsd:element name="NPI" type="datatypes:an..35M"/>
      <xsd:element name="PriorAuthorization" type="datatypes:an..35M"/>
      <xsd:element name="CertificatetoPrescribe" type="datatypes:an..35M"/>
      <xsd:element name="MutuallyDefined" type="datatypes:an..35M"/>
    </xsd:choice>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  PatientLocation  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="PatientLocation">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="FacilityUnit" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="Bed" type="datatypes:an..10"/>
      <xsd:element minOccurs="0" name="Room" type="datatypes:an..10"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  PatientMandatoryAddress  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="PatientMandatoryAddress">
    <xsd:complexContent>
      <xsd:restriction base="dictionary:Patient">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Identification" type="dictionary:PatientID"/>
          <xsd:element name="Name" type="datatypes:NameType"/>
          <xsd:element name="Gender" type="ecl:GenderCode"/>
          <xsd:element name="DateOfBirth" type="datatypes:DateType"/>
          <xsd:element name="Address" type="datatypes:AddressType"/>
          <xsd:element minOccurs="0" name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
          <xsd:element minOccurs="0" name="PatientLocation" type="dictionary:PatientLocation"/>
          <xsd:element minOccurs="0" name="LanguageNameCode" type="datatypes:an..3"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ResidenceCode" type="ecl:ResidenceCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="PregnancyIndicator" type="xsd:boolean"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Smoker" type="xsd:boolean"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Race" type="xsd:string"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Ethnicity" type="xsd:string"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  PayerID  <<complexType, choice>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="PayerID">
    <xsd:choice maxOccurs="1" minOccurs="0">
      <xsd:element name="NCPDPID" type="datatypes:an..35M"/>
      <xsd:element name="FileID" type="datatypes:an..35M"/>
      <xsd:element name="StateLicenseNumber" type="datatypes:an..35M"/>
      <xsd:element name="MedicareNumber" type="datatypes:an..35M"/>
      <xsd:element name="MedicaidNumber" type="datatypes:an..35M"/>
      <xsd:element name="DentistLicenseNumber" type="datatypes:an..35M"/>
      <xsd:element name="UPIN" type="datatypes:an..35M"/>
      <xsd:element name="FacilityID" type="datatypes:an..35M"/>
      <xsd:element name="PPONumber" type="datatypes:an..35M"/>
      <xsd:element name="PayerID" type="datatypes:an..35M"/>
      <xsd:element name="ProcessorIdentificationNumber" type="datatypes:an..35M"/>
      <xsd:element name="BINLocationNumber" type="datatypes:an..35M"/>
      <xsd:element name="Commercial" type="datatypes:an..35M"/>
      <xsd:element name="MedicalRecordIdentificationNumberEHR" type="datatypes:an..35M"/>
      <xsd:element name="PatientAccountNumber" type="datatypes:an..35M"/>
      <xsd:element name="DEANumber" type="datatypes:an..35M"/>
      <xsd:element name="HIN" type="datatypes:an..35M"/>
      <xsd:element name="IndividualPolicyNumber" type="datatypes:an..35M"/>
      <xsd:element name="SecondaryCoverage" type="datatypes:an..35M"/>
      <xsd:element name="NAICCode" type="datatypes:an..35M"/>
      <xsd:element name="PromotionNumber" type="datatypes:an..35M"/>
      <xsd:element name="SocialSecurity" type="datatypes:an..35M"/>
      <xsd:element name="NPI" type="datatypes:an..35M"/>
      <xsd:element name="PriorAuthorization" type="datatypes:an..35M"/>
      <xsd:element name="CertificatetoPrescribe" type="datatypes:an..35M"/>
      <xsd:element name="MutuallyDefined" type="datatypes:an..35M"/>
    </xsd:choice>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Pharmacist  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Pharmacist">
    <xsd:sequence>
      <xsd:element name="Identification" type="dictionary:ProviderID"/>
      <xsd:element minOccurs="0" name="Name" type="datatypes:NameType"/>
      <xsd:element minOccurs="0" name="BusinessName" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="Address" type="datatypes:AddressType"/>
      <xsd:element minOccurs="0" name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Pharmacy  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Pharmacy">
    <xsd:complexContent>
      <xsd:restriction base="dictionary:OptionalPharmacy">
        <xsd:sequence>
          <xsd:element name="Identification" type="dictionary:ProviderID"/>
          <xsd:element minOccurs="0" name="Specialty" type="datatypes:an..10"/>
          <xsd:element minOccurs="0" name="Pharmacist" type="datatypes:NameType"/>
          <xsd:element name="BusinessName" type="datatypes:an..35M"/>
          <xsd:element minOccurs="0" name="Address" type="datatypes:AddressType"/>
          <xsd:element minOccurs="0" name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  PrescibedMedication  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="PrescibedMedication">
    <xsd:complexContent>
      <xsd:restriction base="dictionary:RequestedMedication">
        <xsd:sequence>
          <xsd:element name="DrugDescription" type="datatypes:an..105M"/>
          <xsd:element minOccurs="0" name="DrugCoded" type="dictionary:DrugCoded"/>
          <xsd:element name="Quantity" type="dictionary:Quantity"/>
          <xsd:element name="Directions"/>
          <xsd:element minOccurs="0" name="DaysSupply" type="datatypes:an..35"/>
          <xsd:element name="WrittenDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="LastFillDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="ExpirationDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="EffectiveDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="PeriodEnd" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DeliveredOnDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DateValidated" type="datatypes:DateType"/>
          <xsd:element name="Substitutions" type="ecl:DispenseAsWrittenDAWProductSelectionCode"/>
          <xsd:element name="NumberOfRefills"/>
          <xsd:element maxOccurs="2" minOccurs="0" name="Diagnosis" type="dictionary:Diagnosis"/>
          <xsd:element minOccurs="0" name="PriorAuthorization"/>
          <xsd:element minOccurs="0" name="Note"/>
          <xsd:element maxOccurs="5" minOccurs="0" name="DrugUseEvaluation" type="dictionary:DrugUseEvaluation"/>
          <xsd:element maxOccurs="5" minOccurs="0" name="DrugCoverageStatusCode" type="ecl:DrugCoverageStatusCode"/>
          <xsd:element minOccurs="0" name="PriorAuthorizationStatus" type="ecl:PriorAuthorizationStatus"/>
          <xsd:element minOccurs="0" name="OtherCompoundInformation" type="dictionary:OtherCompoundInformationType"/>
          <xsd:element minOccurs="0" name="RouteofAdministration"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="StructuredSIG" type="dictionary:SIGType"/>
          <xsd:element maxOccurs="25" minOccurs="0" name="Compound" type="dictionary:CompoundIngredient"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="SoldDate" type="datatypes:DateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="AdditionalRefillsAuthorized"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="PharmacyRequestedRefills"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DoNotFill" type="xsd:boolean"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NeededNoLaterThan" type="datatypes:UtcDateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NeededNoLaterThanReason" type="datatypes:an..70"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="RefillsRemaining"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="HistoryPresciberOrderNumber"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="OrderCaptureMethod" type="ecl:OrderCaptureMethod"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Pharmacy" type="dictionary:Pharmacy"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Prescriber" type="dictionary:PrescriberGeneral"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="HistorySource" type="dictionary:HistorySource"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Prescriber  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Prescriber">
    <xsd:complexContent>
      <xsd:restriction base="dictionary:OptionalPresciber">
        <xsd:sequence>
          <xsd:element name="Identification" type="dictionary:ProviderID"/>
          <xsd:element minOccurs="0" name="Specialty" type="datatypes:an..10"/>
          <xsd:element minOccurs="0" name="ClinicName" type="datatypes:an..35"/>
          <xsd:element name="Name" type="datatypes:NameType"/>
          <xsd:element minOccurs="0" name="Address" type="datatypes:AddressType"/>
          <xsd:element minOccurs="0" name="PrescriberAgent" type="datatypes:NameType"/>
          <xsd:element name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  PrescriberGeneral  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="PrescriberGeneral">
    <xsd:complexContent>
      <xsd:restriction base="dictionary:HistoryPrescriber">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Identification" type="dictionary:ProviderID"/>
          <xsd:element minOccurs="0" name="Specialty" type="datatypes:an..10"/>
          <xsd:element minOccurs="0" name="ClinicName" type="datatypes:an..35"/>
          <xsd:element name="Name" type="datatypes:NameType"/>
          <xsd:element minOccurs="0" name="Address" type="datatypes:AddressType"/>
          <xsd:element minOccurs="0" name="PrescriberAgent" type="datatypes:NameType"/>
          <xsd:element name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  PrimaryDiagnosis  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="PrimaryDiagnosis">
    <xsd:sequence>
      <xsd:element name="Qualifier" type="ecl:DiagnosisCodeQualifier"/>
      <xsd:element name="Value" type="ecl:Code"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Provider  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Provider">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Identification" type="dictionary:ProviderID"/>
      <xsd:element minOccurs="0" name="Specialty" type="datatypes:an..10"/>
      <xsd:element minOccurs="0" name="ClinicName" type="datatypes:an..35"/>
      <xsd:element name="Name" type="datatypes:NameType"/>
      <xsd:element minOccurs="0" name="Address" type="datatypes:AddressType"/>
      <xsd:element name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ProviderID  <<choice, complexType>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ProviderID">
    <xsd:choice maxOccurs="10" minOccurs="1">
      <xsd:element name="NCPDPID" type="datatypes:an..35M"/>
      <xsd:element name="FileID" type="datatypes:an..35M"/>
      <xsd:element name="StateLicenseNumber" type="datatypes:an..35M"/>
      <xsd:element name="MedicareNumber" type="datatypes:an..35M"/>
      <xsd:element name="MedicaidNumber" type="datatypes:an..35M"/>
      <xsd:element name="DentistLicenseNumber" type="datatypes:an..35M"/>
      <xsd:element name="UPIN" type="datatypes:an..35M"/>
      <xsd:element name="FacilityID" type="datatypes:an..35M"/>
      <xsd:element name="PPONumber" type="datatypes:an..35M"/>
      <xsd:element name="PayerID" type="datatypes:an..35M"/>
      <xsd:element name="ProcessorIdentificationNumber" type="datatypes:an..35M"/>
      <xsd:element name="BINLocationNumber" type="datatypes:an..35M"/>
      <xsd:element name="Commercial" type="datatypes:an..35M"/>
      <xsd:element name="MedicalRecordIdentificationNumberEHR" type="datatypes:an..35M"/>
      <xsd:element name="PatientAccountNumber" type="datatypes:an..35M"/>
      <xsd:element name="DEANumber" type="datatypes:an..35M"/>
      <xsd:element name="HIN" type="datatypes:an..35M"/>
      <xsd:element name="IndividualPolicyNumber" type="datatypes:an..35M"/>
      <xsd:element name="SecondaryCoverage" type="datatypes:an..35M"/>
      <xsd:element name="NAICCode" type="datatypes:an..35M"/>
      <xsd:element name="PromotionNumber" type="datatypes:an..35M"/>
      <xsd:element name="SocialSecurity" type="datatypes:an..35M"/>
      <xsd:element name="NPI" type="datatypes:an..35M"/>
      <xsd:element name="PriorAuthorization" type="datatypes:an..35M"/>
      <xsd:element name="CertificatetoPrescribe" type="datatypes:an..35M"/>
      <xsd:element name="Data2000WaiverID" type="datatypes:an..35M"/>
      <xsd:element name="MutuallyDefined" type="datatypes:an..35M"/>
    </xsd:choice>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Quantity  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Quantity">
    <xsd:sequence>
      <xsd:element name="Value" type="datatypes:n..11M"/>
      <xsd:element name="CodeListQualifier" type="ecl:CodeListQualifierQuantityQualifierDRUSegmentX12DE673"/>
      <xsd:element name="UnitSourceCode" type="ecl:SourceCodeList"/>
      <xsd:element name="PotencyUnitCode" type="ecl:PotencyUnitCode"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RefillRequestDispensedMedication  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RefillRequestDispensedMedication">
    <xsd:complexContent>
      <xsd:restriction base="dictionary:Medication">
        <xsd:sequence>
          <xsd:element name="DrugDescription" type="datatypes:an..105M"/>
          <xsd:element minOccurs="0" name="DrugCoded" type="dictionary:DrugCoded"/>
          <xsd:element name="Quantity" type="dictionary:Quantity"/>
          <xsd:element name="Directions">
            <xsd:simpleType>
              <xsd:restriction base="datatypes:anM">
                <xsd:maxLength value="140"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="DaysSupply" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="WrittenDate" type="datatypes:DateType"/>
          <xsd:element name="LastFillDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="ExpirationDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="EffectiveDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="PeriodEnd" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DeliveredOnDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DateValidated" type="datatypes:DateType"/>
          <xsd:element name="Substitutions" type="ecl:DispenseAsWrittenDAWProductSelectionCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NumberOfRefills"/>
          <xsd:element maxOccurs="2" minOccurs="0" name="Diagnosis" type="dictionary:Diagnosis"/>
          <xsd:element minOccurs="0" name="PriorAuthorization"/>
          <xsd:element minOccurs="0" name="Note">
            <xsd:simpleType>
              <xsd:restriction base="datatypes:an">
                <xsd:maxLength value="210"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="5" minOccurs="0" name="DrugUseEvaluation" type="dictionary:DrugUseEvaluation"/>
          <xsd:element maxOccurs="5" minOccurs="0" name="DrugCoverageStatusCode" type="ecl:DrugCoverageStatusCode"/>
          <xsd:element minOccurs="0" name="PriorAuthorizationStatus" type="ecl:PriorAuthorizationStatus"/>
          <xsd:element minOccurs="0" name="OtherCompoundInformation" type="dictionary:OtherCompoundInformationType"/>
          <xsd:element minOccurs="0" name="RouteofAdministration">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="RouteofAdministrationCode">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="ItemDescriptionLong" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="ItemNumber" type="ecl:Code"/>
                      <xsd:element minOccurs="0" name="CodeListQualifier" type="ecl:RouteOfAdministration"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0" name="MultipleRouteofAdministrationModifier" type="datatypes:ANDOR"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="StructuredSIG" type="dictionary:SIGType"/>
          <xsd:element maxOccurs="25" minOccurs="0" name="Compound" type="dictionary:CompoundIngredient"/>
          <xsd:element minOccurs="0" name="SoldDate" type="datatypes:DateType"/>
          <xsd:element name="AdditionalRefillsAuthorized"/>
          <xsd:element minOccurs="0" name="PharmacyRequestedRefills"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DoNotFill" type="xsd:boolean"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NeededNoLaterThan" type="datatypes:UtcDateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NeededNoLaterThanReason" type="datatypes:an..70"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="RefillsRemaining">
            <xsd:simpleType>
              <xsd:restriction base="datatypes:n">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="HistoryPresciberOrderNumber">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="Qualifier" type="datatypes:ReferenceQualifier1153CodedType"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="OrderCaptureMethod" type="ecl:OrderCaptureMethod"/>
          <xsd:element minOccurs="0" name="Pharmacy" type="dictionary:Pharmacy"/>
          <xsd:element minOccurs="0" name="Prescriber" type="dictionary:PrescriberGeneral"/>
          <xsd:element minOccurs="0" name="HistorySource" type="dictionary:HistorySource"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RefillResponseDispensedMedication  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RefillResponseDispensedMedication">
    <xsd:complexContent>
      <xsd:restriction base="dictionary:Medication">
        <xsd:sequence>
          <xsd:element name="DrugDescription" type="datatypes:an..105M"/>
          <xsd:element minOccurs="0" name="DrugCoded" type="dictionary:DrugCoded"/>
          <xsd:element name="Quantity" type="dictionary:Quantity"/>
          <xsd:element name="Directions"/>
          <xsd:element minOccurs="0" name="DaysSupply" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="WrittenDate" type="datatypes:DateType"/>
          <xsd:element name="LastFillDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="ExpirationDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="EffectiveDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="PeriodEnd" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DeliveredOnDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DateValidated" type="datatypes:DateType"/>
          <xsd:element name="Substitutions" type="ecl:DispenseAsWrittenDAWProductSelectionCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NumberOfRefills"/>
          <xsd:element maxOccurs="2" minOccurs="0" name="Diagnosis" type="dictionary:Diagnosis"/>
          <xsd:element minOccurs="0" name="PriorAuthorization"/>
          <xsd:element minOccurs="0" name="Note"/>
          <xsd:element maxOccurs="5" minOccurs="0" name="DrugUseEvaluation" type="dictionary:DrugUseEvaluation"/>
          <xsd:element maxOccurs="5" minOccurs="0" name="DrugCoverageStatusCode" type="ecl:DrugCoverageStatusCode"/>
          <xsd:element minOccurs="0" name="PriorAuthorizationStatus" type="ecl:PriorAuthorizationStatus"/>
          <xsd:element minOccurs="0" name="OtherCompoundInformation" type="dictionary:OtherCompoundInformationType"/>
          <xsd:element minOccurs="0" name="RouteofAdministration"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="StructuredSIG" type="dictionary:SIGType"/>
          <xsd:element maxOccurs="25" minOccurs="0" name="Compound" type="dictionary:CompoundIngredient"/>
          <xsd:element minOccurs="0" name="SoldDate" type="datatypes:DateType"/>
          <xsd:element name="AdditionalRefillsAuthorized"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="PharmacyRequestedRefills"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DoNotFill" type="xsd:boolean"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NeededNoLaterThan" type="datatypes:UtcDateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NeededNoLaterThanReason" type="datatypes:an..70"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="RefillsRemaining"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="HistoryPresciberOrderNumber"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="OrderCaptureMethod" type="ecl:OrderCaptureMethod"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Pharmacy" type="dictionary:Pharmacy"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Prescriber" type="dictionary:PrescriberGeneral"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="HistorySource" type="dictionary:HistorySource"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RequestedMedication  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RequestedMedication">
    <xsd:complexContent>
      <xsd:restriction base="dictionary:Medication">
        <xsd:sequence>
          <xsd:element name="DrugDescription" type="datatypes:an..105M"/>
          <xsd:element minOccurs="0" name="DrugCoded" type="dictionary:DrugCoded"/>
          <xsd:element name="Quantity" type="dictionary:Quantity"/>
          <xsd:element name="Directions"/>
          <xsd:element minOccurs="0" name="DaysSupply" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="WrittenDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="LastFillDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="ExpirationDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="EffectiveDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="PeriodEnd" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DeliveredOnDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DateValidated" type="datatypes:DateType"/>
          <xsd:element name="Substitutions" type="ecl:DispenseAsWrittenDAWProductSelectionCode"/>
          <xsd:element minOccurs="0" name="NumberOfRefills"/>
          <xsd:element maxOccurs="2" minOccurs="0" name="Diagnosis" type="dictionary:Diagnosis"/>
          <xsd:element minOccurs="0" name="PriorAuthorization"/>
          <xsd:element minOccurs="0" name="Note"/>
          <xsd:element maxOccurs="5" minOccurs="0" name="DrugUseEvaluation" type="dictionary:DrugUseEvaluation"/>
          <xsd:element maxOccurs="5" minOccurs="0" name="DrugCoverageStatusCode" type="ecl:DrugCoverageStatusCode"/>
          <xsd:element minOccurs="0" name="PriorAuthorizationStatus" type="ecl:PriorAuthorizationStatus"/>
          <xsd:element minOccurs="0" name="OtherCompoundInformation" type="dictionary:OtherCompoundInformationType"/>
          <xsd:element minOccurs="0" name="RouteofAdministration"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="StructuredSIG" type="dictionary:SIGType"/>
          <xsd:element maxOccurs="25" minOccurs="0" name="Compound" type="dictionary:CompoundIngredient"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="SoldDate" type="datatypes:DateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="AdditionalRefillsAuthorized"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="PharmacyRequestedRefills"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DoNotFill" type="xsd:boolean"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NeededNoLaterThan" type="datatypes:UtcDateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NeededNoLaterThanReason" type="datatypes:an..70"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="RefillsRemaining"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="HistoryPresciberOrderNumber"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="OrderCaptureMethod" type="ecl:OrderCaptureMethod"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Pharmacy" type="dictionary:Pharmacy"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Prescriber" type="dictionary:PrescriberGeneral"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="HistorySource" type="dictionary:HistorySource"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ResupplyMedication  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ResupplyMedication">
    <xsd:complexContent>
      <xsd:restriction base="dictionary:Medication">
        <xsd:sequence>
          <xsd:element name="DrugDescription" type="datatypes:an..105M"/>
          <xsd:element minOccurs="0" name="DrugCoded" type="dictionary:DrugCoded"/>
          <xsd:element name="Quantity" type="dictionary:Quantity"/>
          <xsd:element name="Directions"/>
          <xsd:element minOccurs="0" name="DaysSupply" type="datatypes:an..35"/>
          <xsd:element name="WrittenDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="LastFillDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="ExpirationDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="EffectiveDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="PeriodEnd" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DeliveredOnDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DateValidated" type="datatypes:DateType"/>
          <xsd:element name="Substitutions" type="ecl:DispenseAsWrittenDAWProductSelectionCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NumberOfRefills"/>
          <xsd:element maxOccurs="2" minOccurs="0" name="Diagnosis" type="dictionary:Diagnosis"/>
          <xsd:element minOccurs="0" name="PriorAuthorization"/>
          <xsd:element minOccurs="0" name="Note"/>
          <xsd:element maxOccurs="5" minOccurs="0" name="DrugUseEvaluation" type="dictionary:DrugUseEvaluation"/>
          <xsd:element maxOccurs="5" minOccurs="0" name="DrugCoverageStatusCode" type="ecl:DrugCoverageStatusCode"/>
          <xsd:element minOccurs="0" name="PriorAuthorizationStatus" type="ecl:PriorAuthorizationStatus"/>
          <xsd:element minOccurs="0" name="OtherCompoundInformation" type="dictionary:OtherCompoundInformationType"/>
          <xsd:element minOccurs="0" name="RouteofAdministration"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="StructuredSIG" type="dictionary:SIGType"/>
          <xsd:element maxOccurs="25" minOccurs="0" name="Compound" type="dictionary:CompoundIngredient"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="SoldDate" type="datatypes:DateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="AdditionalRefillsAuthorized"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="PharmacyRequestedRefills"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DoNotFill" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="NeededNoLaterThan" type="datatypes:UtcDateType"/>
          <xsd:element minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
          <xsd:element minOccurs="0" name="NeededNoLaterThanReason" type="datatypes:an..70"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="RefillsRemaining"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="HistoryPresciberOrderNumber"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="OrderCaptureMethod" type="ecl:OrderCaptureMethod"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Pharmacy" type="dictionary:Pharmacy"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Prescriber" type="dictionary:PrescriberGeneral"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="HistorySource" type="dictionary:HistorySource"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RxFillDispensedMedication  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RxFillDispensedMedication">
    <xsd:complexContent>
      <xsd:restriction base="dictionary:Medication">
        <xsd:sequence>
          <xsd:element name="DrugDescription" type="datatypes:an..105M"/>
          <xsd:element minOccurs="0" name="DrugCoded" type="dictionary:DrugCoded"/>
          <xsd:element name="Quantity" type="dictionary:Quantity"/>
          <xsd:element name="Directions"/>
          <xsd:element minOccurs="0" name="DaysSupply" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="WrittenDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="LastFillDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="ExpirationDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="EffectiveDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="PeriodEnd" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DeliveredOnDate" type="datatypes:DateType"/>
          <xsd:element minOccurs="0" name="DateValidated" type="datatypes:DateType"/>
          <xsd:element name="Substitutions" type="ecl:DispenseAsWrittenDAWProductSelectionCode"/>
          <xsd:element name="NumberOfRefills"/>
          <xsd:element maxOccurs="2" minOccurs="0" name="Diagnosis" type="dictionary:Diagnosis"/>
          <xsd:element minOccurs="0" name="PriorAuthorization"/>
          <xsd:element minOccurs="0" name="Note"/>
          <xsd:element maxOccurs="5" minOccurs="0" name="DrugUseEvaluation" type="dictionary:DrugUseEvaluation"/>
          <xsd:element maxOccurs="5" minOccurs="0" name="DrugCoverageStatusCode" type="ecl:DrugCoverageStatusCode"/>
          <xsd:element minOccurs="0" name="PriorAuthorizationStatus" type="ecl:PriorAuthorizationStatus"/>
          <xsd:element minOccurs="0" name="OtherCompoundInformation" type="dictionary:OtherCompoundInformationType"/>
          <xsd:element minOccurs="0" name="RouteofAdministration"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="StructuredSIG" type="dictionary:SIGType"/>
          <xsd:element maxOccurs="25" minOccurs="0" name="Compound" type="dictionary:CompoundIngredient"/>
          <xsd:element minOccurs="0" name="SoldDate" type="datatypes:DateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="AdditionalRefillsAuthorized"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="PharmacyRequestedRefills"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DoNotFill" type="xsd:boolean"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NeededNoLaterThan" type="datatypes:UtcDateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="NeededNoLaterThanReason" type="datatypes:an..70"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="RefillsRemaining"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="HistoryPresciberOrderNumber"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="OrderCaptureMethod" type="ecl:OrderCaptureMethod"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Pharmacy" type="dictionary:Pharmacy"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Prescriber" type="dictionary:PrescriberGeneral"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="HistorySource" type="dictionary:HistorySource"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SIGType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="SIGType">
    <xsd:sequence>
      <xsd:element name="RepeatingSIG">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SigSequencePositionNumber"/>
            <xsd:element minOccurs="0" name="MultipleSigModifier" type="datatypes:ANDORTHEN"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CodeSystem">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="SNOMEDVersion"/>
            <xsd:element minOccurs="0" name="FMTVersion">
              <xsd:simpleType>
                <xsd:restriction base="datatypes:an">
                  <xsd:maxLength value="14"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="FreeText">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SigFreeTextStringIndicator">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:pattern value="1|2|3"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="SigFreeText"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Dose">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="DoseCompositeIndicator">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:pattern value="1|2|3|4"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="DoseDeliveryMethodText"/>
            <xsd:element minOccurs="0" name="DoseDeliveryMethodCodeQualifier" type="datatypes:TerminologyType"/>
            <xsd:element minOccurs="0" name="DoseDeliveryMethodCode" type="datatypes:an..15"/>
            <xsd:element minOccurs="0" name="DoseDeliveryMethodModifierText"/>
            <xsd:element minOccurs="0" name="DoseDeliveryMethodModifierCodeQualifier" type="datatypes:TerminologyType"/>
            <xsd:element minOccurs="0" name="DoseDeliveryMethodModifierCode" type="datatypes:an..15"/>
            <xsd:element minOccurs="0" name="DoseQuantity"/>
            <xsd:element minOccurs="0" name="DoseFormText"/>
            <xsd:element minOccurs="0" name="DoseFormCodeQualifier" type="datatypes:TerminologyType"/>
            <xsd:element minOccurs="0" name="DoseFormCode" type="datatypes:an..15"/>
            <xsd:element minOccurs="0" name="DoseRangeModifier" type="datatypes:TOOR"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="DoseCalculation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="DosingBasisNumericValue"/>
            <xsd:element minOccurs="0" name="DosingBasisUnitofMeasureText"/>
            <xsd:element minOccurs="0" name="DosingBasisUnitofMeasureCodeQualifier" type="datatypes:TerminologyType"/>
            <xsd:element minOccurs="0" name="DosingBasisUnitofMeasureCode" type="datatypes:an..15"/>
            <xsd:element minOccurs="0" name="BodyMetricQualifier">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:pattern value="1|2"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="BodyMetricValue"/>
            <xsd:element minOccurs="0" name="CalculatedDoseNumeric"/>
            <xsd:element minOccurs="0" name="CalculatedDoseUnitofMeasureText"/>
            <xsd:element minOccurs="0" name="CalculatedDoseUnitofMeasureCodeQualifier" type="datatypes:TerminologyType"/>
            <xsd:element minOccurs="0" name="CalculatedDoseUnitofMeasureCode" type="datatypes:an..15"/>
            <xsd:element minOccurs="0" name="DosingBasisRangeModifier" type="datatypes:TOOR"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="Vehicle">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="VehicleName"/>
            <xsd:element minOccurs="0" name="VehicleNameCodeQualifier" type="datatypes:TerminologyType"/>
            <xsd:element minOccurs="0" name="VehicleNameCode" type="datatypes:an..15"/>
            <xsd:element minOccurs="0" name="VehicleQuantity"/>
            <xsd:element minOccurs="0" name="VehicleUnitOfMeasureText"/>
            <xsd:element minOccurs="0" name="VehicleUnitOfMeasureCodeQualifier" type="datatypes:TerminologyType"/>
            <xsd:element minOccurs="0" name="VehicleUnitOfMeasureCode" type="datatypes:an..15"/>
            <xsd:element minOccurs="0" name="MultipleVehicleModifier" type="datatypes:ANDOR"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="RouteofAdministration"/>
      <xsd:element minOccurs="0" name="SiteofAdministration">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="SiteofAdministrationText"/>
            <xsd:element minOccurs="0" name="SiteofAdministrationCodeQualifier" type="datatypes:TerminologyType"/>
            <xsd:element minOccurs="0" name="SiteofAdministrationCode" type="datatypes:an..15"/>
            <xsd:element minOccurs="0" name="MultipleAdministrationTimingModifier" type="datatypes:ANDORNOT"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="Timing">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="AdministrationTimingText"/>
            <xsd:element minOccurs="0" name="AdministrationTimingCodeQualifier" type="datatypes:TerminologyType"/>
            <xsd:element minOccurs="0" name="AdministrationTimingCode" type="datatypes:an..15"/>
            <xsd:element minOccurs="0" name="MultipleAdministrationTimingModifier" type="datatypes:ANDOR"/>
            <xsd:element minOccurs="0" name="RateofAdministration"/>
            <xsd:element minOccurs="0" name="RateUnitofMeasureText"/>
            <xsd:element minOccurs="0" name="RateUnitofMeasureCodeQualifier" type="datatypes:TerminologyType"/>
            <xsd:element minOccurs="0" name="RateUnitofMeasureCode" type="datatypes:an..15"/>
            <xsd:element minOccurs="0" name="TimePeriodBasisText"/>
            <xsd:element minOccurs="0" name="TimePeriodBasisCodeQualifier" type="datatypes:TerminologyType"/>
            <xsd:element minOccurs="0" name="TimePeriodBasisCode" type="datatypes:an..15"/>
            <xsd:element minOccurs="0" name="FrequencyNumericValue">
              <xsd:simpleType>
                <xsd:restriction base="datatypes:an">
                  <xsd:maxLength value="11"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="FrequencyUnitsText"/>
            <xsd:element minOccurs="0" name="FrequencyUnitsCodeQualifier" type="datatypes:TerminologyType"/>
            <xsd:element minOccurs="0" name="FrequencyUnitsCode" type="datatypes:an..15"/>
            <xsd:element minOccurs="0" name="VariableFrequencyModifier" type="datatypes:ANDORTO"/>
            <xsd:element minOccurs="0" name="IntervalNumericValue"/>
            <xsd:element minOccurs="0" name="IntervalUnitsText"/>
            <xsd:element minOccurs="0" name="IntervalUnitsCodeQualifier" type="datatypes:TerminologyType"/>
            <xsd:element minOccurs="0" name="IntervalUnitsCode" type="datatypes:an..15"/>
            <xsd:element minOccurs="0" name="VariableIntervalModifier" type="datatypes:ANDORTO"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="Duration">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="DurationNumericValue">
              <xsd:simpleType>
                <xsd:restriction base="datatypes:anM">
                  <xsd:maxLength value="11"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="DurationText"/>
            <xsd:element name="DurationTextCodeQualifier" type="datatypes:TerminologyType"/>
            <xsd:element name="DurationTextCode"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MaximumDoseRestriction">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="MaximumDoseRestrictionNumericValue">
              <xsd:simpleType>
                <xsd:restriction base="datatypes:nM">
                  <xsd:maxLength value="18"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MaximumDoseRestrictionUnitsText">
              <xsd:simpleType>
                <xsd:restriction base="datatypes:anM">
                  <xsd:maxLength value="50"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MaximumDoseRestrictionCodeQualifier" type="datatypes:TerminologyType"/>
            <xsd:element name="MaximumDoseRestrictionUnitsCode"/>
            <xsd:element minOccurs="0" name="MaximumDoseRestrictionVariableNumericValue"/>
            <xsd:element minOccurs="0" name="MaximumDoseRestrictionVariableUnitsText"/>
            <xsd:element minOccurs="0" name="MaximumDoseRestrictionVariableUnitsCodeQualifier" type="datatypes:TerminologyType"/>
            <xsd:element minOccurs="0" name="MaximumDoseRestrictionVariableUnitsCode" type="datatypes:an..15"/>
            <xsd:element minOccurs="0" name="MaximumDoseRestrictionVariableDurationModifier" type="datatypes:ANDOR"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="Indication">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="IndicationPrecursorText"/>
            <xsd:element minOccurs="0" name="IndicationPrecursorCodeQualifier" type="datatypes:TerminologyType"/>
            <xsd:element name="IndicationPrecursorCode"/>
            <xsd:element minOccurs="0" name="IndicationText"/>
            <xsd:element minOccurs="0" name="IndicationTextCodeQualifier" type="datatypes:TerminologyType"/>
            <xsd:element minOccurs="0" name="IndicationTextCode" type="datatypes:an..15"/>
            <xsd:element minOccurs="0" name="IndicationValueText"/>
            <xsd:element minOccurs="0" name="IndicationValueUnit">
              <xsd:simpleType>
                <xsd:restriction base="datatypes:n">
                  <xsd:maxLength value="18"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="IndicationValueUnitofMeasureText"/>
            <xsd:element minOccurs="0" name="IndicationValueUnitofMeasureCodeQualifier" type="datatypes:TerminologyType"/>
            <xsd:element name="IndicationValueUnitofMeasureCode">
              <xsd:simpleType>
                <xsd:restriction base="datatypes:anM">
                  <xsd:maxLength value="15"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="IndicationVariableModifier" type="datatypes:ANDORTO"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="Stop">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="StopIndicator">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:pattern value="Y|N"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SecondaryDiagnosis  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="SecondaryDiagnosis">
    <xsd:sequence>
      <xsd:element name="Qualifier" type="ecl:DiagnosisCodeQualifier2"/>
      <xsd:element name="Value" type="ecl:Code"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Supervisor  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Supervisor">
    <xsd:complexContent>
      <xsd:restriction base="dictionary:SupervisorOptional">
        <xsd:sequence>
          <xsd:element name="Identification" type="dictionary:ProviderID"/>
          <xsd:element minOccurs="0" name="Specialty" type="datatypes:an..10"/>
          <xsd:element name="Name" type="datatypes:NameType"/>
          <xsd:element minOccurs="0" name="ClinicName" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="Address" type="datatypes:AddressType"/>
          <xsd:element name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SupervisorOptional  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="SupervisorOptional">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Identification" type="dictionary:ProviderID"/>
      <xsd:element minOccurs="0" name="Specialty" type="datatypes:an..10"/>
      <xsd:element name="Name" type="datatypes:NameType"/>
      <xsd:element minOccurs="0" name="ClinicName" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="Address" type="datatypes:AddressType"/>
      <xsd:element name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>