trunk/ncpdp/models/org.ncpdp.uml.functions/schemas/functions.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ncpdp.org/schema/functions" xmlns:datatypes="http://www.ncpdp.org/schema/datatypes" xmlns:dictionary="http://www.ncpdp.org/schema/dictionary" xmlns:ecl="http://www.ncpdp.org/schema/ecl" xmlns:functions="http://www.ncpdp.org/schema/functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.ncpdp.org/schema/datatypes" schemaLocation="datatypes.xsd"/>
  <xsd:import namespace="http://www.ncpdp.org/schema/ecl" schemaLocation="ecl.xsd"/>
  <xsd:import namespace="http://www.ncpdp.org/schema/dictionary" schemaLocation="dictionary.xsd"/>
  <xsd:element name="CensusMessage" type="functions:Census"/>
  <xsd:element name="MTMServiceRequest" type="functions:MTMServiceRequest"/>
  <xsd:element name="MTMServiceResponse" type="functions:MTMServiceResponse"/>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ApprovedType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ApprovedType">
    <xsd:sequence>
      <xsd:element maxOccurs="10" name="ReasonCode" type="datatypes:ReasonCode"/>
      <xsd:element minOccurs="0" name="ReferenceNumber" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="Note" type="datatypes:an..70"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ApprovedWithChangesType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ApprovedWithChangesType">
    <xsd:sequence>
      <xsd:element maxOccurs="10" name="ReasonCode" type="datatypes:ReasonCode"/>
      <xsd:element minOccurs="0" name="ReferenceNumber" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="Note" type="datatypes:an..70"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Census  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Census">
    <xsd:complexContent>
      <xsd:restriction base="functions:FunctionRequest">
        <xsd:sequence>
          <xsd:element name="MessageRequestCode" type="ecl:MessageFunctioncodeda"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ClinicalInfoAttachment" type="dictionary:Attachment"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Allergy" type="dictionary:Allergy"/>
          <xsd:element maxOccurs="3" minOccurs="0" name="BenefitsCoordination" type="dictionary:CensusBenefitsCoordination"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="DiagnosisGeneral" type="dictionary:DiagnosisGeneral"/>
          <xsd:element name="Facility" type="dictionary:Facilty"/>
          <xsd:element name="Patient" type="dictionary:Patient"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Pharmacist" type="dictionary:Pharmacist"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Pharmacy" type="dictionary:Pharmacy"/>
          <xsd:element minOccurs="0" name="Prescriber" type="dictionary:PrescriberGeneral"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Provider" type="dictionary:Provider"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Service" type="functions:ServiceType"/>
          <xsd:element minOccurs="0" name="AnticipatedReturnDate" type="datatypes:SimpleDateType"/>
          <xsd:element minOccurs="0" name="CensusEffectiveDate" type="datatypes:SimpleDateType"/>
          <xsd:element minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
          <xsd:element minOccurs="0" name="DispensingRequestCode" type="ecl:DispensingRequestCode"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  DeniedType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DeniedType">
    <xsd:sequence>
      <xsd:element maxOccurs="10" name="ReasonCode" type="datatypes:ReasonCode"/>
      <xsd:element minOccurs="0" name="ReferenceNumber" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="DenialReason" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  FunctionRequest  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType abstract="true" name="FunctionRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctioncodeda"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ClinicalInfoAttachment" type="dictionary:Attachment"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Allergy" type="dictionary:Allergy"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="BenefitsCoordination" type="dictionary:OptionalBenefitsCoordination"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DiagnosisGeneral" type="dictionary:DiagnosisGeneral"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Facility" type="dictionary:Facilty"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Patient" type="dictionary:PatientFulll"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Pharmacist" type="dictionary:Pharmacist"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Pharmacy" type="dictionary:Pharmacy"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Prescriber" type="dictionary:PrescriberGeneral"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Provider" type="dictionary:Provider"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Service" type="functions:ServiceType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="AnticipatedReturnDate" type="datatypes:SimpleDateType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="CensusEffectiveDate" type="datatypes:SimpleDateType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DispensingRequestCode" type="ecl:DispensingRequestCode"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  FunctionResponse  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType abstract="true" name="FunctionResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="MessageRequestCode" type="ecl:Code"/>
      <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
      <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Facility" type="dictionary:Facilty"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Patient" type="dictionary:PatientFulll"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Pharmacist" type="dictionary:Pharmacist"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Pharmacy" type="dictionary:Pharmacy"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Prescriber" type="dictionary:PrescriberGeneral"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Provider" type="dictionary:Provider"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Service" type="functions:ServiceType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Response" type="functions:ResponseType"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  MTMResponseType  <<choice>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MTMResponseType">
    <xsd:complexContent>
      <xsd:restriction base="functions:ResponseType">
        <xsd:choice>
          <xsd:element minOccurs="0" name="Denied" type="functions:DeniedType"/>
          <xsd:element minOccurs="0" name="Approved" type="functions:ApprovedType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ApprovedWithChanges" type="functions:ApprovedWithChangesType"/>
        </xsd:choice>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  MTMServiceRequest  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MTMServiceRequest">
    <xsd:complexContent>
      <xsd:restriction base="functions:FunctionRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="0" minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctioncodeda"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ClinicalInfoAttachment" type="dictionary:Attachment"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Allergy" type="dictionary:Allergy"/>
          <xsd:element maxOccurs="3" name="BenefitsCoordination" type="dictionary:CensusBenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="dictionary:DiagnosisGeneral"/>
          <xsd:element minOccurs="0" name="Facility" type="dictionary:Facilty"/>
          <xsd:element name="Patient" type="dictionary:PatientFulll"/>
          <xsd:element minOccurs="0" name="Pharmacist" type="dictionary:Pharmacist"/>
          <xsd:element minOccurs="0" name="Pharmacy" type="dictionary:Pharmacy"/>
          <xsd:element minOccurs="0" name="Prescriber" type="dictionary:PrescriberGeneral"/>
          <xsd:element minOccurs="0" name="Provider" type="dictionary:Provider"/>
          <xsd:element name="Service" type="functions:ServiceType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="AnticipatedReturnDate" type="datatypes:SimpleDateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="CensusEffectiveDate" type="datatypes:SimpleDateType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DispensingRequestCode" type="ecl:DispensingRequestCode"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  MTMServiceResponse  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MTMServiceResponse">
    <xsd:complexContent>
      <xsd:restriction base="functions:FunctionResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="0" minOccurs="0" name="MessageRequestCode" type="ecl:Code"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
          <xsd:element minOccurs="0" name="Facility" type="dictionary:Facilty"/>
          <xsd:element name="Patient" type="dictionary:PatientFulll"/>
          <xsd:element minOccurs="0" name="Pharmacist" type="dictionary:Pharmacist"/>
          <xsd:element minOccurs="0" name="Pharmacy" type="dictionary:Pharmacy"/>
          <xsd:element minOccurs="0" name="Prescriber" type="dictionary:PrescriberGeneral"/>
          <xsd:element minOccurs="0" name="Provider" type="dictionary:Provider"/>
          <xsd:element name="Service" type="functions:ServiceType"/>
          <xsd:element name="Response" type="functions:MTMResponseType"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ResponseType  <<choice>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ResponseType">
    <xsd:choice>
      <xsd:element minOccurs="0" name="Denied" type="functions:DeniedType"/>
      <xsd:element minOccurs="0" name="Approved" type="functions:ApprovedType"/>
      <xsd:element minOccurs="0" name="ApprovedWithChanges" type="functions:ApprovedWithChangesType"/>
    </xsd:choice>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ServiceType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ServiceType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="MTMPayerCaseIdentifier" type="xsd:string"/>
      <xsd:choice>
        <xsd:element name="TypeofServiceFreeText" type="xsd:string"/>
        <xsd:element minOccurs="0" name="TypeofService" type="datatypes:QualifiedCode"/>
      </xsd:choice>
      <xsd:choice>
        <xsd:element name="TargetedTypeofServiceFreeText" type="xsd:string"/>
        <xsd:element minOccurs="0" name="TargetedTypeofService" type="datatypes:QualifiedCode"/>
      </xsd:choice>
      <xsd:element minOccurs="0" name="EffectiveDate" type="datatypes:DateType"/>
      <xsd:element minOccurs="0" name="ExpirationDate" type="datatypes:DateType"/>
      <xsd:element minOccurs="0" name="TotalNumberofEncountersApproved">
        <xsd:simpleType>
          <xsd:restriction base="datatypes:n">
            <xsd:maxLength value="4"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="FrequencyofEncountersApproved" type="datatypes:QualifiedCode"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>