trunk/ncpdp/models/org.ncpdp.uml.functions/schemas/script.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

Copyright (c) 2007, 2008, 2009, 2010 NCPDP. All rights reserved. This work is owned by National Council for Prescription Drug Programs, Inc., 924Ø E. Raintree Drive, Scottsdale, AZ 8526Ø, (48Ø) 477-1ØØØ, ncpdp@ncpdp.org, and protected by the copyright laws of the United States. 17 U.S.C. §1Ø1, et. seq. Permission is given to Council members to copy and use the work or any part thereof in connection with the business purposes of the Council members.   

The work may not be changed or altered. The work may not be sold, used or exploited for commercial purposes. This permission may be revoked by National Council for Prescription Drug Programs, Inc., at any time. The National Council for Prescription Drugs Programs, Inc. is not responsible for any errors or damage as a result of the use of the work.
NCPDP recognizes the confidentiality of certain information exchanged electronically through the use of its standards. Users should be familiar with the federal, state, and local laws, regulations and codes requiring confidentiality of this information and should utilize the standards accordingly.

NOTICE: In addition, this NCPDP Standard contains certain data fields and elements that may be completed by users with the proprietary information of third parties. The use and distribution of third parties' proprietary information without such third parties' consent, or the execution of a license or other agreement with such third party, could subject the user to numerous legal claims. All users are encouraged to contact such third parties to determine whether such information is proprietary and if necessary, to consult with legal counsel to make arrangements for the use and distribution of such proprietary information.


--><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ncpdp.org/schema/SCRIPT" xmlns:SCRIPT="http://www.ncpdp.org/schema/SCRIPT" xmlns:datatypes="http://www.ncpdp.org/schema/datatypes" xmlns:ecl="http://www.ncpdp.org/schema/ecl" xmlns:structures="http://www.ncpdp.org/schema/structures" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.ncpdp.org/schema/ecl" schemaLocation="ecl.xsd"/>
  <xsd:import namespace="http://www.ncpdp.org/schema/datatypes" schemaLocation="datatypes.xsd"/>
  <xsd:import namespace="http://www.ncpdp.org/schema/structures" schemaLocation="structures.xsd"/>
  <!-- ================================================== -->
  <!-- =====  Element Declarations  -->
  <!-- ================================================== -->
  <xsd:element name="CancelRx" type="SCRIPT:CancelRx"/>
  <xsd:element name="CancelRxResponse" type="SCRIPT:CancelRxResponse"/>
  <xsd:element name="DrugAdminstration" type="SCRIPT:DrugAdminstration"/>
  <xsd:element name="NewRx" type="SCRIPT:NewRx"/>
  <xsd:element name="RefillRequest" type="SCRIPT:RefillRequest"/>
  <xsd:element name="RefillResponse" type="SCRIPT:RefillResponse"/>
  <xsd:element name="Resupply" type="SCRIPT:Resupply"/>
  <xsd:element name="RxChangeRequest" type="SCRIPT:RxChangeRequest"/>
  <xsd:element name="RxChangeResponse" type="SCRIPT:RxChangeResponse"/>
  <xsd:element name="RxFill" type="SCRIPT:RxFill"/>
  <xsd:element name="RxHistoryRequest" type="SCRIPT:RxHistoryRequest"/>
  <xsd:element name="RxHistoryResponse" type="SCRIPT:RxHistoryResponse"/>
  <!-- ================================================== -->
  <!-- =====  Complex Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ApprovedType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ApprovedType">
    <xsd:sequence>
      <xsd:element maxOccurs="10" name="ReasonCode" type="ecl:ApprovedCode">
        <xsd:annotation>
          <xsd:documentation>RES-020</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ReferenceNumber" type="datatypes:an..35">
        <xsd:annotation>
          <xsd:documentation>RES-030</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Note" type="datatypes:an..70">
        <xsd:annotation>
          <xsd:documentation>RES-040</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ApprovedWithChangesType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ApprovedWithChangesType">
    <xsd:sequence>
      <xsd:element maxOccurs="10" name="DenialReasonCode" type="ecl:ReasonCode">
        <xsd:annotation>
          <xsd:documentation>RES-020</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ReferenceNumber" type="datatypes:an..35">
        <xsd:annotation>
          <xsd:documentation>RES-030</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Note" type="datatypes:an..70">
        <xsd:annotation>
          <xsd:documentation>RES-040</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  BasicResponseType  <<choice>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="BasicResponseType">
    <xsd:annotation>
      <xsd:documentation>Used in REFRES</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:ResponseType">
        <xsd:choice>
          <xsd:element name="Approved" type="SCRIPT:ApprovedType"/>
          <xsd:element name="Denied" type="SCRIPT:DeniedType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DeniedNewPrescriptionToFollow" type="SCRIPT:DeniedNewRxToFollowType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ApprovedWithChanges" type="SCRIPT:ApprovedWithChangesType"/>
        </xsd:choice>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CancelRx  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CancelRx">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:SCRIPTRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="MessageRequestCode" type="ecl:LTCLevelOfChangeCode"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
          <xsd:element minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeofPrescriptionStatusCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="BenefitsCoordination" type="structures:BaseBenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="structures:DiagnosisGeneral"/>
          <xsd:element minOccurs="0" name="Facility" type="datatypes:Facilty"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FillStatus" type="structures:FillStatus"/>
          <xsd:element name="Patient" type="structures:Patient"/>
          <xsd:element minOccurs="0" name="Pharmacy" type="structures:MandatoryPharmacy"/>
          <xsd:element name="Prescriber" type="structures:Prescriber"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DrugAdministrationRequest" type="SCRIPT:DrugAdministrationRequest"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Observation" type="structures:Observation"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationDispensed" type="structures:PrescribedMedication"/>
          <xsd:element name="MedicationPrescribed" type="structures:PrescribedMedication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationRequested" type="structures:PrescribedMedication"/>
          <xsd:element minOccurs="0" name="Supervisor" type="structures:Supervisor"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="RequestedDates" type="datatypes:DateRange"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CancelRxResponse  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CancelRxResponse">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:SCRIPTResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="MessageRequestCode" type="ecl:LTCLevelOfChangeCode"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeofPrescriptionStatusCode"/>
          <xsd:element name="Response" type="SCRIPT:CancellRxResponseType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="BenefitsCoordination" type="structures:BaseBenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Facility" type="datatypes:Facilty"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Patient" type="structures:PatientFull"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Pharmacy" type="structures:Pharmacy"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Prescriber" type="structures:PrescriberGeneral"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Observation" type="structures:Observation"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Supervisor" type="structures:Supervisor"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationDispensed" type="structures:Medication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationDispensedAdministered" type="structures:Medication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationPrescribed" type="structures:Medication"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CancellRxResponseType  <<choice>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CancellRxResponseType">
    <xsd:annotation>
      <xsd:documentation>Used in REFRES</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:ResponseType">
        <xsd:choice>
          <xsd:element name="Approved" type="SCRIPT:ApprovedType"/>
          <xsd:element name="Denied" type="SCRIPT:DeniedTransferredType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DeniedNewPrescriptionToFollow" type="SCRIPT:DeniedNewRxToFollowType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ApprovedWithChanges" type="SCRIPT:ApprovedWithChangesType"/>
        </xsd:choice>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  DeniedNewRxToFollowType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DeniedNewRxToFollowType">
    <xsd:sequence>
      <xsd:element maxOccurs="10" name="DenialReasonCode" type="ecl:ReasonCode">
        <xsd:annotation>
          <xsd:documentation>RES-020</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ReferenceNumber" type="datatypes:an..35">
        <xsd:annotation>
          <xsd:documentation>RES-030</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="DenialReason" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>RES-040</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  DeniedTransferredType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DeniedTransferredType">
    <xsd:sequence>
      <xsd:element maxOccurs="10" name="ReasonCode" type="ecl:ApprovedCode">
        <xsd:annotation>
          <xsd:documentation>RES-020</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ReferenceNumber" type="datatypes:an..35">
        <xsd:annotation>
          <xsd:documentation>RES-030</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="DenialReason" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>RES-040</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Pharmacy" type="structures:MandatoryPharmacy"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  DeniedType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DeniedType">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:DeniedTransferredType">
        <xsd:sequence>
          <xsd:element maxOccurs="10" name="ReasonCode" type="ecl:ApprovedCode">
            <xsd:annotation>
              <xsd:documentation>RES-020</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ReferenceNumber" type="datatypes:an..35">
            <xsd:annotation>
              <xsd:documentation>RES-030</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="DenialReason" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>RES-040</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="0" minOccurs="0" name="Pharmacy" type="structures:MandatoryPharmacy"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  DrugAdministrationRequest  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DrugAdministrationRequest">
    <xsd:sequence>
      <xsd:choice>
        <xsd:annotation>
          <xsd:documentation>REQ-010</xsd:documentation>
        </xsd:annotation>
        <xsd:element name="IndefiniteSuspension" type="SCRIPT:IndefiniteSuspension">
          <xsd:annotation>
            <xsd:documentation>REQ-010 value IS</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="FixedLengthSuspension" type="SCRIPT:FixedLengthSuspension">
          <xsd:annotation>
            <xsd:documentation>REQ-010 value FS</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="ResumeAdministration" type="SCRIPT:ResumeAdministration">
          <xsd:annotation>
            <xsd:documentation>REQ-010 value RA</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="CancelSuspension" type="xsd:anySimpleType">
          <xsd:annotation>
            <xsd:documentation>REQ-010 value CS</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
      <xsd:element minOccurs="0" name="DrugAdminReasonCode" type="ecl:DrugAdminReasonCode">
        <xsd:annotation>
          <xsd:documentation>REQ-090</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="DrugAdminReasonText" type="datatypes:an..100">
        <xsd:annotation>
          <xsd:documentation>REQ-100</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  DrugAdminstration  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DrugAdminstration">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:SCRIPTRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="0" minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctionCode"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeofPrescriptionStatusCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="BenefitsCoordination" type="structures:BaseBenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="structures:DiagnosisGeneral"/>
          <xsd:element minOccurs="0" name="Facility" type="datatypes:Facilty"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FillStatus" type="structures:FillStatus"/>
          <xsd:element name="Patient" type="structures:Patient"/>
          <xsd:element minOccurs="0" name="Pharmacy" type="structures:MandatoryPharmacy"/>
          <xsd:element name="Prescriber" type="structures:Prescriber"/>
          <xsd:element name="DrugAdministrationRequest" type="SCRIPT:DrugAdministrationRequest"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Observation" type="structures:Observation"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationDispensed" type="structures:PrescribedMedication"/>
          <xsd:element name="MedicationPrescribed" type="structures:DrugAdministrationMedication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationRequested" type="structures:PrescribedMedication"/>
          <xsd:element minOccurs="0" name="Supervisor" type="structures:Supervisor"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="RequestedDates" type="datatypes:DateRange"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  FixedLengthSuspension  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="FixedLengthSuspension">
    <xsd:sequence>
      <xsd:element name="SuspendDateTime" type="datatypes:UtcDateType"/>
      <xsd:element name="ResumeDateTime" type="datatypes:UtcDateType"/>
      <xsd:element minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  IndefiniteSuspension  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="IndefiniteSuspension">
    <xsd:sequence>
      <xsd:element name="SuspendDateTime" type="datatypes:UtcDateType"/>
      <xsd:element minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  NewRx  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="NewRx">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:SCRIPTRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="MessageRequestCode" type="ecl:LTCLevelOfChangeCode"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeofPrescriptionStatusCode"/>
          <xsd:element maxOccurs="3" minOccurs="0" name="BenefitsCoordination" type="structures:BenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="structures:DiagnosisGeneral"/>
          <xsd:element minOccurs="0" name="Facility" type="datatypes:Facilty"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FillStatus" type="structures:FillStatus"/>
          <xsd:element name="Patient" type="structures:PatientMandatoryAddress"/>
          <xsd:element minOccurs="0" name="Pharmacy" type="structures:MandatoryPharmacy"/>
          <xsd:element name="Prescriber" type="structures:MandatoryPresciber"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DispensingRequestCode" type="ecl:DispensingRequestCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DrugAdministrationRequest" type="SCRIPT:DrugAdministrationRequest"/>
          <xsd:element minOccurs="0" name="Observation" type="structures:Observation"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationDispensed" type="structures:PrescribedMedication"/>
          <xsd:element name="MedicationPrescribed" type="structures:NewRxPrescibedMedication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationRequested" type="structures:PrescribedMedication"/>
          <xsd:element minOccurs="0" name="Supervisor" type="structures:Supervisor"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="RequestedDates" type="datatypes:DateRange"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RefillRequest  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RefillRequest">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:SCRIPTRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="0" minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctionCode"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeofPrescriptionStatusCode"/>
          <xsd:element maxOccurs="3" minOccurs="0" name="BenefitsCoordination" type="structures:BenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="structures:DiagnosisGeneral"/>
          <xsd:element minOccurs="0" name="Facility" type="datatypes:Facilty"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FillStatus" type="structures:FillStatus"/>
          <xsd:element name="Patient" type="structures:Patient"/>
          <xsd:element name="Pharmacy" type="structures:MandatoryAddressPharmacy"/>
          <xsd:element name="Prescriber" type="structures:Prescriber"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DispensingRequestCode" type="ecl:DispensingRequestCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DrugAdministrationRequest" type="SCRIPT:DrugAdministrationRequest"/>
          <xsd:element minOccurs="0" name="Observation" type="structures:Observation"/>
          <xsd:element name="MedicationDispensed" type="structures:RefillRequestDispensedMedication"/>
          <xsd:element minOccurs="0" name="MedicationPrescribed" type="structures:PrescribedMedication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationRequested" type="structures:PrescribedMedication"/>
          <xsd:element minOccurs="0" name="Supervisor" type="structures:Supervisor"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="RequestedDates" type="datatypes:DateRange"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RefillResponse  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RefillResponse">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:SCRIPTResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="0" minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctionCode"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeofPrescriptionStatusCode"/>
          <xsd:element name="Response" type="SCRIPT:RefillResponseType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="BenefitsCoordination" type="structures:BaseBenefitsCoordination"/>
          <xsd:element minOccurs="0" name="Facility" type="datatypes:Facilty"/>
          <xsd:element name="Patient" type="structures:Patient"/>
          <xsd:element name="Pharmacy" type="structures:Pharmacy"/>
          <xsd:element name="Prescriber" type="structures:Prescriber"/>
          <xsd:element minOccurs="0" name="Observation" type="structures:Observation"/>
          <xsd:element minOccurs="0" name="Supervisor" type="structures:Supervisor"/>
          <xsd:element name="MedicationDispensed" type="structures:RefillResponseDispensedMedication"/>
          <xsd:element minOccurs="0" name="MedicationPrescribed" type="structures:PrescribedMedication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationDispensedAdministered" type="structures:Medication"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RefillResponseType  <<choice>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RefillResponseType">
    <xsd:annotation>
      <xsd:documentation>Used in REFRES</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:ResponseType">
        <xsd:choice>
          <xsd:element name="Approved" type="SCRIPT:ApprovedType"/>
          <xsd:element name="Denied" type="SCRIPT:DeniedType"/>
          <xsd:element name="DeniedNewPrescriptionToFollow" type="SCRIPT:DeniedNewRxToFollowType"/>
          <xsd:element name="ApprovedWithChanges" type="SCRIPT:ApprovedWithChangesType"/>
        </xsd:choice>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ResponseType  <<choice>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ResponseType">
    <xsd:annotation>
      <xsd:documentation>Used in REFRES</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element minOccurs="0" name="Approved" type="SCRIPT:ApprovedType">
        <xsd:annotation>
          <xsd:documentation>RES-010</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Denied" type="SCRIPT:DeniedTransferredType">
        <xsd:annotation>
          <xsd:documentation>RES-010</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="DeniedNewPrescriptionToFollow" type="SCRIPT:DeniedNewRxToFollowType">
        <xsd:annotation>
          <xsd:documentation>RES-010</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ApprovedWithChanges" type="SCRIPT:ApprovedWithChangesType">
        <xsd:annotation>
          <xsd:documentation>RES-010</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ResumeAdministration  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ResumeAdministration">
    <xsd:sequence>
      <xsd:element name="ResumeDateTime" type="datatypes:UtcDateType"/>
      <xsd:element minOccurs="0" name="TimeZone" type="datatypes:TimeZone"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Resupply  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Resupply">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:SCRIPTRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="0" minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctionCode"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeofPrescriptionStatusCode"/>
          <xsd:element maxOccurs="3" minOccurs="0" name="BenefitsCoordination" type="structures:BenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="structures:DiagnosisGeneral"/>
          <xsd:element minOccurs="0" name="Facility" type="datatypes:Facilty"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FillStatus" type="structures:FillStatus"/>
          <xsd:element name="Patient" type="structures:Patient"/>
          <xsd:element name="Pharmacy" type="structures:MandatoryAddressPharmacy"/>
          <xsd:element name="Prescriber" type="structures:Prescriber"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DrugAdministrationRequest" type="SCRIPT:DrugAdministrationRequest"/>
          <xsd:element minOccurs="0" name="Observation" type="structures:Observation"/>
          <xsd:element minOccurs="0" name="MedicationDispensed" type="structures:ResupplyMedication"/>
          <xsd:element name="MedicationPrescribed" type="structures:ResupplyMedication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationRequested" type="structures:ResupplyMedication"/>
          <xsd:element minOccurs="0" name="Supervisor" type="structures:Supervisor"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="RequestedDates" type="datatypes:DateRange"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RxChangeRequest  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RxChangeRequest">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:SCRIPTRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="MessageRequestCode" type="ecl:RxChangeCode"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeofPrescriptionStatusCode"/>
          <xsd:element maxOccurs="3" minOccurs="0" name="BenefitsCoordination" type="structures:BenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="structures:DiagnosisGeneral"/>
          <xsd:element minOccurs="0" name="Facility" type="datatypes:Facilty"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FillStatus" type="structures:FillStatus"/>
          <xsd:element name="Patient" type="structures:Patient"/>
          <xsd:element name="Pharmacy" type="structures:MandatoryPharmacy"/>
          <xsd:element name="Prescriber" type="structures:Prescriber"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DispensingRequestCode" type="ecl:DispensingRequestCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DrugAdministrationRequest" type="SCRIPT:DrugAdministrationRequest"/>
          <xsd:element minOccurs="0" name="Observation" type="structures:Observation"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationDispensed" type="structures:PrescribedMedication"/>
          <xsd:element name="MedicationPrescribed" type="structures:PrescribedMedication"/>
          <xsd:element maxOccurs="9" minOccurs="0" name="MedicationRequested" type="structures:RequestedMedication"/>
          <xsd:element minOccurs="0" name="Supervisor" type="structures:Supervisor"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="RequestedDates" type="datatypes:DateRange"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RxChangeResponse  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RxChangeResponse">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:SCRIPTResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="MessageRequestCode" type="ecl:RxChangeCode"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeofPrescriptionStatusCode"/>
          <xsd:element name="Response" type="SCRIPT:RxChangeResponseType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="BenefitsCoordination" type="structures:BaseBenefitsCoordination"/>
          <xsd:element minOccurs="0" name="Facility" type="datatypes:Facilty"/>
          <xsd:element name="Patient" type="structures:Patient"/>
          <xsd:element name="Pharmacy" type="structures:MandatoryPharmacy"/>
          <xsd:element name="Prescriber" type="structures:Prescriber"/>
          <xsd:element minOccurs="0" name="Observation" type="structures:Observation"/>
          <xsd:element minOccurs="0" name="Supervisor" type="structures:Supervisor"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationDispensedAdministered" type="structures:Medication"/>
          <xsd:element minOccurs="0" name="MedicationPrescribed" type="structures:PrescribedMedication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationDispensed" type="structures:Medication"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RxChangeResponseType  <<choice>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RxChangeResponseType">
    <xsd:annotation>
      <xsd:documentation>Used in REFRES</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:ResponseType">
        <xsd:choice>
          <xsd:element name="Approved" type="SCRIPT:ApprovedType"/>
          <xsd:element name="Denied" type="SCRIPT:DeniedType"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DeniedNewPrescriptionToFollow" type="SCRIPT:DeniedNewRxToFollowType"/>
          <xsd:element name="ApprovedWithChanges" type="SCRIPT:ApprovedWithChangesType"/>
        </xsd:choice>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RxFill  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RxFill">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:SCRIPTRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="0" minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctionCode"/>
          <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeofPrescriptionStatusCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="BenefitsCoordination" type="structures:BaseBenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="structures:DiagnosisGeneral"/>
          <xsd:element minOccurs="0" name="Facility" type="datatypes:Facilty"/>
          <xsd:element name="FillStatus" type="structures:FillStatus"/>
          <xsd:element name="Patient" type="structures:Patient"/>
          <xsd:element name="Pharmacy" type="structures:MandatoryAddressPharmacy"/>
          <xsd:element name="Prescriber" type="structures:PrescriberGeneral"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DispensingRequestCode" type="ecl:DispensingRequestCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DrugAdministrationRequest" type="SCRIPT:DrugAdministrationRequest"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Observation" type="structures:Observation"/>
          <xsd:element minOccurs="0" name="MedicationDispensed" type="structures:RxFillDispensedMedication"/>
          <xsd:element minOccurs="0" name="MedicationPrescribed" type="structures:PrescribedMedication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationRequested" type="structures:PrescribedMedication"/>
          <xsd:element minOccurs="0" name="Supervisor" type="structures:SupervisorOptional"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="RequestedDates" type="datatypes:DateRange"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RxHistoryRequest  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RxHistoryRequest">
    <xsd:complexContent>
      <xsd:restriction base="SCRIPT:SCRIPTRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="0" minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctionCode"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeofPrescriptionStatusCode"/>
          <xsd:element maxOccurs="3" name="BenefitsCoordination" type="structures:RxHistoryBenefitsCoordination"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DiagnosisGeneral" type="structures:DiagnosisGeneral"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Facility" type="datatypes:Facilty"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="FillStatus" type="structures:FillStatus"/>
          <xsd:element name="Patient" type="structures:Patient"/>
          <xsd:element minOccurs="0" name="Pharmacy" type="structures:OptionalPharmacy"/>
          <xsd:element name="Prescriber" type="structures:OptionalPresciber"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="DrugAdministrationRequest" type="SCRIPT:DrugAdministrationRequest"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Observation" type="structures:Observation"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationDispensed" type="structures:PrescribedMedication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationPrescribed" type="structures:PrescribedMedication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="MedicationRequested" type="structures:PrescribedMedication"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="Supervisor" type="structures:Supervisor"/>
          <xsd:element name="RequestedDates" type="datatypes:DateRange"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RxHistoryResponse  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RxHistoryResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="0" minOccurs="0" name="MessageRequestCode" type="ecl:MessageFunctionCode"/>
      <xsd:element maxOccurs="0" minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
      <xsd:element maxOccurs="0" minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
      <xsd:element maxOccurs="0" minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeofPrescriptionStatusCode"/>
      <xsd:element minOccurs="0" name="Response" type="SCRIPT:BasicResponseType"/>
      <xsd:element maxOccurs="3" name="BenefitsCoordination" type="structures:RxHistoryBenefitsCoordination"/>
      <xsd:element maxOccurs="0" minOccurs="0" name="Facility" type="datatypes:Facilty"/>
      <xsd:element name="Patient" type="structures:Patient"/>
      <xsd:element minOccurs="0" name="Pharmacy" type="structures:OptionalPharmacy"/>
      <xsd:element name="Prescriber" type="structures:HistoryPrescriber"/>
      <xsd:element maxOccurs="0" minOccurs="0" name="Observation" type="structures:Observation"/>
      <xsd:element maxOccurs="0" minOccurs="0" name="Supervisor" type="structures:Supervisor"/>
      <xsd:choice>
        <xsd:element maxOccurs="300" name="MedicationDispensed" type="structures:HistoryDispensedMedication"/>
        <xsd:element maxOccurs="300" name="MedicationDispensedAdministered" type="structures:HistoryDispensedMedication"/>
        <xsd:element maxOccurs="300" name="MedicationPrescribed" type="structures:HistoryPrescibedMedication"/>
      </xsd:choice>
      <xsd:element name="ExpirationDate" type="datatypes:DateType"/>
      <xsd:element name="EffectiveDate" type="datatypes:DateType"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SCRIPTRequest  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType abstract="true" name="SCRIPTRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="MessageRequestCode" type="ecl:Code"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="FollowUpRequest" type="datatypes:n1"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeofPrescriptionStatusCode"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="BenefitsCoordination" type="structures:BaseBenefitsCoordination"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DiagnosisGeneral" type="structures:DiagnosisGeneral"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Facility" type="datatypes:Facilty"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="FillStatus" type="structures:FillStatus"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Patient" type="structures:PatientFull"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Pharmacy" type="structures:OptionalPharmacy"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Prescriber" type="structures:HistoryPrescriber"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DrugAdministrationRequest" type="SCRIPT:DrugAdministrationRequest"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Observation" type="structures:Observation"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="MedicationDispensed" type="structures:Medication"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="MedicationPrescribed" type="structures:Medication"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="MedicationRequested" type="structures:Medication"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Supervisor" type="structures:SupervisorOptional"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="RequestedDates" type="datatypes:DateRange"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SCRIPTResponse  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType abstract="true" name="SCRIPTResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="MessageRequestCode" type="ecl:Code"/>
      <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an..3"/>
      <xsd:element minOccurs="0" name="RequestReferenceNumber" type="datatypes:an..35"/>
      <xsd:element minOccurs="0" name="ChangeOfPrescriptionStatusFlag" type="ecl:ChangeofPrescriptionStatusCode"/>
      <xsd:element minOccurs="0" name="Response" type="SCRIPT:ResponseType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="BenefitsCoordination" type="structures:BaseBenefitsCoordination"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Facility" type="datatypes:Facilty"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Patient" type="structures:PatientFull"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Pharmacy" type="structures:Pharmacy"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Prescriber" type="structures:HistoryPrescriber"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Observation" type="structures:Observation"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Supervisor" type="structures:Supervisor"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="MedicationDispensed" type="structures:Medication"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="MedicationDispensedAdministered" type="structures:Medication"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="MedicationPrescribed" type="structures:Medication"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:annotation>
    <xsd:documentation>The NCPDP script.xsd defines SCRIPT domain transactions</xsd:documentation>
  </xsd:annotation>
</xsd:schema>