org.ncpdp.uml.opertatingrules/schemas/PayloadEnvelope.v2011xx.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
Copyright (c) 2007, 2008, 2009, 2010, 2011 NCPDP. All rights reserved. This work is owned by National Council for Prescription Drug Programs, Inc., 924Ø E. Raintree Drive, Scottsdale, AZ 8526Ø, (48Ø) 477-1ØØØ, ncpdp@ncpdp.org, and protected by the copyright laws of the United States. 17 U.S.C. §1Ø1, et. seq. Permission is given to Council members to copy and use the work or any part thereof in connection with the business purposes of the Council members.   

The work may not be changed or altered. The work may not be sold, used or exploited for commercial purposes. This permission may be revoked by National Council for Prescription Drug Programs, Inc., at any time. The National Council for Prescription Drugs Programs, Inc. is not responsible for any errors or damage as a result of the use of the work.
NCPDP recognizes the confidentiality of certain information exchanged electronically through the use of its standards. Users should be familiar with the federal, state, and local laws, regulations and codes requiring confidentiality of this information and should utilize the standards accordingly.

NOTICE: In addition, this NCPDP Standard contains certain data fields and elements that may be completed by users with the proprietary information of third parties. The use and distribution of third parties' proprietary information without such third parties' consent, or the execution of a license or other agreement with such third party, could subject the user to numerous legal claims. All users are encouraged to contact such third parties to determine whether such information is proprietary and if necessary, to consult with legal counsel to make arrangements for the use and distribution of such proprietary information.
--><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ncpdp.org/ConnectivityBase/2011xx#/XSD" xmlns:ncpdp="http://www.ncpdp.org/ConnectivityBase/2011xx#/XSD" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation=""/>
  <!-- ================================================== -->
  <!-- =====  Element Declarations  -->
  <!-- ================================================== -->
  <xsd:element name="PayloadRequestEnvelope" type="ncpdp:PayloadRequestEnvelope">
    <xsd:annotation>
      <xsd:documentation>The envelope around the transaction or file transmitted. Is at the application layer.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PayloadResponseEnvelope" type="ncpdp:PayloadResponseEnvelope">
    <xsd:annotation>
      <xsd:documentation>The envelope around the transaction or file transmitted. Is at the application layer.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================================================== -->
  <!-- =====  Complex Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  NCPDPType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="NCPDPType">
    <xsd:sequence>
      <xsd:element name="TransactionStandard" type="xsd:string"/>
      <xsd:element name="Format">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="EDI|XML"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Version" type="xsd:string"/>
      <xsd:element name="Release" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  PayloadRequestEnvelope  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="PayloadRequestEnvelope">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="X12" type="ncpdp:X12Type"/>
        <xsd:element name="NCPDP" type="ncpdp:NCPDPType"/>
      </xsd:choice>
      <xsd:element minOccurs="0" name="PayloadEnvelopeReferenceID">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
            <xsd:pattern value="[ !-~]*"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Payload">
        <xsd:annotation>
          <xsd:documentation>The transaction or file (e.g. an NCPDP Telecommunication Claim Billing transaction (request), an ASC X12 270 transaction, an NCPDP Batch 1.2 file of requests, an NCPDP Formulary and Benefit file request,  etc.)</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:string">
              <xsd:attribute name="base64encoded" type="xsd:boolean" use="required"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="PayloadEnvelopeVersion" type="xsd:anySimpleType" use="required"/>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  PayloadResponseEnvelope  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="PayloadResponseEnvelope">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="X12" type="ncpdp:X12Type"/>
        <xsd:element name="NCPDP" type="ncpdp:NCPDPType"/>
      </xsd:choice>
      <xsd:element minOccurs="0" name="PayloadEnvelopeReferenceID">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
            <xsd:pattern value="[ !-~]*"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Payload">
        <xsd:annotation>
          <xsd:documentation>The transaction or file (e.g. an NCPDP Telecommunication Claim Billing transaction (response), an ASC X12 270 transaction, an NCPDP Batch 1.2 file of responses, an NCPDP Formulary and Benefit file response,  etc.)</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:string">
              <xsd:attribute name="base64encoded" type="xsd:boolean" use="required"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="PayloadEnvelopeVersion" type="xsd:anySimpleType" use="required"/>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  X12Type  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="X12Type">
    <xsd:sequence>
      <xsd:element name="TransactionStandard" type="xsd:string"/>
      <xsd:element name="Format">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="EDI|XML"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Version" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>