org.ncpdp.uml.functions/schemas/ClassDiagram1.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
== Generated by hyperModel (www.XMLmodeling.com) Tue Mar 08 11:37:25 EST 2011
== Model: ecl
== Package: ecl
--><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ncpdp.org/schema/ecl" version="2010121" xmlns:ecl="http://www.ncpdp.org/schema/ecl" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!-- ================================================== -->
  <!-- =====  Simple Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Code  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="Code">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  LTCLevelOfChangeCode  <<ncpdpecl>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="LTCLevelOfChangeCode">
    <xsd:annotation>
      <xsd:documentation>Used in Prescription Change Request transactions, to request a change to the original new prescription.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ecl:MessageFunctionCode">
      <xsd:enumeration value="C1">
        <xsd:annotation>
          <xsd:documentation>Label change (Any changes to the Drug, form, strength, dosage, or route) – Change to an active order to the drug, form, strength, dosage, or route (long term care settings).</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="C2">
        <xsd:annotation>
          <xsd:documentation>Frequency Change (Any change to the frequency or hours of administration for the drug) - Change to the frequency or hours of administration for the medication (long term care settings).
</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="C3">
        <xsd:annotation>
          <xsd:documentation>Other Change (All other changes) – A change to the medication not covered by other values listed (long term care settings).
</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  MessageFunctionCode  <<ncpdpecl>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="MessageFunctionCode">
    <xsd:annotation>
      <xsd:documentation>Used in Prescription Change Request transactions, to request a change to the original new prescription.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ecl:Code">
      <xsd:enumeration value="A">
        <xsd:annotation>
          <xsd:documentation>Admit -The patient is a new admission; demographic information included to populate basic patient information (long term care settings).</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="AC">
        <xsd:annotation>
          <xsd:documentation>Admit Cancel - A previously communicated admission or outpatient registration is canceled, either because of an erroneous entry or because of a revised decision to not admit the patient.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="C">
        <xsd:annotation>
          <xsd:documentation>Change - The status of a patient has changed (long term care settings). Update Patient Information</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="CS">
        <xsd:annotation>
          <xsd:documentation>Cancel Suspension - Cancels the previously-communicated medication suspension—indicating that the suspend event did not actually occur as communicated.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="CT">
        <xsd:annotation>
          <xsd:documentation>Transfer a Patient - A patient moves from one location to another within the care setting. For example, a patient is transferred to another ward, room or bed.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="C1">
        <xsd:annotation>
          <xsd:documentation>Label change (Any changes to the Drug, form, strength, dosage, or route) - Change to an active order to the drug, form, strength, dosage, or route (long term care settings).</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="C2">
        <xsd:annotation>
          <xsd:documentation>Frequency Change (Any change to the frequency or hours of administration for the drug) - Change to the frequency or hours of administration for the medication (long term care settings).</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="C3">
        <xsd:annotation>
          <xsd:documentation>Other Change (All other changes) - A change to the medication not covered by other values listed (long term care settings).</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="DC">
        <xsd:annotation>
          <xsd:documentation>Discharge Cancel - A previously communicated discharge is cancelled, either because of erroneous entry or because of a revised decision to not discharge, or end the visit of, the patient.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="D1">
        <xsd:annotation>
          <xsd:documentation>Discharge - Expired - The patient has been discharged due to death (long term care settings).</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="D2">
        <xsd:annotation>
          <xsd:documentation>Discharge - Return Not Anticipated - The patient has been discharged and not expected to return to site (long term care settings).</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="D3">
        <xsd:annotation>
          <xsd:documentation>Discharge - Return Anticipated - The patient has been discharged and is expected to return to site (long term care settings).</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="D4">
        <xsd:annotation>
          <xsd:documentation>Discharge Other - The patient has been discharged for an unknown reason (long term care settings).</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="FS">
        <xsd:annotation>
          <xsd:documentation>Fixed-Length Suspension - Administration of the specified medication has been temporarily suspended, for a pre-determined period of time.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="G">
        <xsd:annotation>
          <xsd:documentation>Generic Substitution - A modification of the product prescribed to a generic equivalent.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="IO">
        <xsd:annotation>
          <xsd:documentation>Change inpatient to outpatient - An inpatient becomes an outpatient and is still receiving care/services.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="IS">
        <xsd:annotation>
          <xsd:documentation>Indefinite Suspension - Administration of the specified medication has been suspended for an undetermined time period.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="LC">
        <xsd:annotation>
          <xsd:documentation>Leave of Absence Cancel - A previously communicated hospital leave of absence or therapeutic leave of absence is canceled, either because of an erroneous entry or because of a revised decision.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="LG">
        <xsd:annotation>
          <xsd:documentation>Hospital Leave of Absence - An inpatient leaves the care setting for an overnight absence to a hospital.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="LR">
        <xsd:annotation>
          <xsd:documentation>Return from Leave of Absence - An inpatient returns to the care setting from a hospital leave of absence or therapeutic leave of absence.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="LT">
        <xsd:annotation>
          <xsd:documentation>Therapeutic Leave of Absence - An inpatient leaves the care setting for an overnight absence to visit friends or relatives or to participate in a therapeutic or rehabilitative plan of care.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="OI">
        <xsd:annotation>
          <xsd:documentation>Change outpatient to inpatient - An outpatient or ER patient is being admitted as an inpatient.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="P">
        <xsd:annotation>
          <xsd:documentation>Prior Authorization Required - A request to obtain prior authorization before dispensing.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="PA">
        <xsd:annotation>
          <xsd:documentation>Pre-Admit - A prospective patient has been recorded prior to arrival at the care setting for an inpatient stay.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="PC">
        <xsd:annotation>
          <xsd:documentation>PreAdmit Cancel - A previously communicated pre-admission is canceled, either because of an erroneous entry or because of a revised decision to not pre-admit the patient.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="RA">
        <xsd:annotation>
          <xsd:documentation>Resume Administration - Administration of the specified medication has been resumed or the resume date/time resumption has been set or changed.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="RC">
        <xsd:annotation>
          <xsd:documentation>Return from Leave Cancel - A previously communicated patient return from a leave of absence (hospital or therapeutic) is canceled, either because of an erroneous entry or because of a revised decision.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="RO">
        <xsd:annotation>
          <xsd:documentation>Register outpatient - A patient has arrived or checked in as an outpatient, recurring outpatient, or emergency room patient.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="T">
        <xsd:annotation>
          <xsd:documentation>Therapeutic Interchange/Substitution - A modification of the product prescribed to a preferred product choice</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="TC">
        <xsd:annotation>
          <xsd:documentation>Transfer Cancel - A previously communicated transfer is cancelled, either because of an erroneous entry or because of a revised decision to not transfer the patient.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="S">
        <xsd:annotation>
          <xsd:documentation>Script Clarification</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="D">
        <xsd:annotation>
          <xsd:documentation>Drug Use Evaluation</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RxChangeCode  <<ncpdpecl>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="RxChangeCode">
    <xsd:annotation>
      <xsd:documentation>Used in Prescription Change Request transactions, to request a change to the original new prescription.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ecl:MessageFunctionCode">
      <xsd:enumeration value="G">
        <xsd:annotation>
          <xsd:documentation>Generic Substitution - A modification of the product prescribed to a generic equivalent.			
</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="P">
        <xsd:annotation>
          <xsd:documentation>Prior Authorization Required - A request to obtain prior authorization before dispensing.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="T">
        <xsd:annotation>
          <xsd:documentation>Therapeutic Interchange/Substitution - A modification of the product prescribed to a preferred product choice.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="D">
        <xsd:annotation>
          <xsd:documentation>Drug Use Evaluation</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="S">
        <xsd:annotation>
          <xsd:documentation>Script Clarification</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>