org.ncpdp.uml.functions/schemas/samples.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
== Generated by hyperModel (www.XMLmodeling.com) Thu Mar 08 10:05:59 EST 2012
== Model: org.ncpdp.uml.functions
== Package: samples
--><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ncpdp.org/schema/samples" version="NCPDPv2011NovemberBallot" xmlns:SCRIPT="http://www.ncpdp.org/schema/SCRIPT" xmlns:ecl="http://www.ncpdp.org/schema/ecl" xmlns:samples="http://www.ncpdp.org/schema/samples" xmlns:specialized="http://www.ncpdp.org/schema/specialized" xmlns:structures="http://www.ncpdp.org/schema/structures" xmlns:transport="http://www.ncpdp.org/schema/Transport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.ncpdp.org/schema/Transport" schemaLocation="transport.xsd"/>
  <xsd:import namespace="http://www.ncpdp.org/schema/SCRIPT" schemaLocation="script.xsd"/>
  <xsd:import namespace="http://www.ncpdp.org/schema/specialized" schemaLocation="specialized.xsd"/>
  <xsd:import namespace="http://www.ncpdp.org/schema/structures" schemaLocation="structures.xsd"/>
  <xsd:import namespace="http://www.ncpdp.org/schema/ecl" schemaLocation="ecl.xsd"/>
  <!-- ================================================== -->
  <!-- =====  Element Declarations  -->
  <!-- ================================================== -->
  <xsd:element name="Attachment" type="structures:Attachment"/>
  <xsd:element name="CancelRx" type="SCRIPT:CancelRx"/>
  <xsd:element name="CancelRxResponse" type="SCRIPT:CancelRxResponse"/>
  <xsd:element name="CensusMessage" type="specialized:Census"/>
  <xsd:element name="ClinicalInforRequest" type="specialized:ClinicalInfoRequest"/>
  <xsd:element name="DrugAdminstration" type="SCRIPT:DrugAdministration"/>
  <xsd:element name="FormatSupportedAttachment" type="structures:ClinicalInformationFormatSupported"/>
  <xsd:element name="MTMServiceRequest" type="specialized:MTMServiceRequest"/>
  <xsd:element name="MTMServiceResponse" type="specialized:MTMServiceResponse"/>
  <xsd:element name="Message" type="transport:MessageType"/>
  <xsd:element name="Pharmacy" type="structures:Pharmacy"/>
  <xsd:element name="PrescribedMedication" type="structures:PrescribedMedication"/>
  <xsd:element name="ReasonForSubstitutionCodeUsed" type="ecl:ReasonForSubstitutionCodeUsed"/>
  <xsd:element name="RefillRequest" type="SCRIPT:RefillRequest"/>
  <xsd:element name="RefillResponse" type="SCRIPT:RefillResponse"/>
  <xsd:element name="Resupply" type="SCRIPT:Resupply"/>
  <xsd:element name="RxChangeRequest" type="SCRIPT:RxChangeRequest"/>
  <xsd:element name="RxChangeResponse" type="SCRIPT:RxChangeResponse"/>
  <xsd:element name="RxFill" type="SCRIPT:RxFill"/>
  <xsd:element name="RxHistoryRequest" type="SCRIPT:RxHistoryRequest"/>
  <xsd:element name="RxHistoryResponse" type="SCRIPT:RxHistoryResponse"/>
  <xsd:element name="SIG" type="samples:SIG"/>
  <xsd:element name="SIGROUTE" type="structures:RouteOfAdministration"/>
  <xsd:element name="SIGSample" type="samples:SIG"/>
  <xsd:element name="ServiceType" type="specialized:ServiceType"/>
  <!-- ================================================== -->
  <!-- =====  Complex Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SIG  <<complexType, xsdGen>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="SIG">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="StructuredSIG" type="structures:SIGType"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>