branches/branch-ecl-rec/CFBranch/org.ncpdp.uml.functions/schemas/CFspecialized.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
== Generated by hyperModel (www.XMLmodeling.com) Mon Jan 23 21:37:28 EST 2012
== Model: org.ncpdp.uml.functions
== Package: CFspecialized
--><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ncpdp.org/schema/CFspecialized" xmlns:CFspecialized="http://www.ncpdp.org/schema/CFspecialized" xmlns:datatypes="http://www.ncpdp.org/schema/datatypes" xmlns:ecl="http://www.ncpdp.org/schema/ecl" xmlns:specialized="http://www.ncpdp.org/schema/specialized" xmlns:structures="http://www.ncpdp.org/schema/structures" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.ncpdp.org/schema/datatypes" schemaLocation="datatypes.xsd"/>
  <xsd:import namespace="http://www.ncpdp.org/schema/structures" schemaLocation="structures.xsd"/>
  <xsd:import namespace="http://www.ncpdp.org/schema/ecl" schemaLocation="ecl.xsd"/>
  <xsd:import namespace="http://www.ncpdp.org/schema/specialized" schemaLocation="specialized.xsd"/>
  <!-- ================================================== -->
  <!-- =====  Complex Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CFCompoundIngredient  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CFCompoundIngredient">
    <xsd:annotation>
      <xsd:documentation>Drug Composition Structure</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CFCompoundIngredient">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>Drug Composition Structure</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element name="CFCompoundIngredientItemDescription" type="datatypes:an1..105">
              <xsd:annotation>
                <xsd:documentation>CompoundIngredientItemDescription is the self-contained full drug name, strength, and form of the ingredient.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="ItemNumber" type="datatypes:ProductCode"/>
            <xsd:element minOccurs="0" name="Strength" type="datatypes:Strength"/>
            <xsd:element minOccurs="0" name="DEASchedule" type="datatypes:NCICode">
              <xsd:annotation>
                <xsd:documentation>NCPDP DEASchedule Terminology – available at
http://www.cancer.gov/cancertopics/terminologyresources/page7</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="LotNumber" type="structures:LotNumber"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Quantity" type="datatypes:Quantity"/>
      <xsd:element maxOccurs="5" minOccurs="0" name="DrugUseEvaluation" type="datatypes:DrugUseEvaluation"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CFCompoundIngredientLotNotUsed  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CFCompoundIngredientLotNotUsed">
    <xsd:annotation>
      <xsd:documentation>Drug Composition Structure</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CFCompoundIngredient">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>Drug Composition Structure</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element name="CFCompoundIngredientItemDescription" type="datatypes:an1..105">
              <xsd:annotation>
                <xsd:documentation>CompoundIngredientItemDescription is the self-contained full drug name, strength, and form of the ingredient.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="ItemNumber" type="datatypes:ProductCode"/>
            <xsd:element minOccurs="0" name="Strength" type="datatypes:Strength"/>
            <xsd:element minOccurs="0" name="DEASchedule" type="datatypes:NCICode">
              <xsd:annotation>
                <xsd:documentation>NCPDP DEASchedule Terminology – available at
http://www.cancer.gov/cancertopics/terminologyresources/page7</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="0" minOccurs="0" name="LotNumber" type="structures:LotNumber"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Quantity" type="datatypes:Quantity"/>
      <xsd:element maxOccurs="5" minOccurs="0" name="DrugUseEvaluation" type="datatypes:DrugUseEvaluation"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CFCounsel  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CFCounsel">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Counsel" type="ecl:BooleanCode">
        <xsd:annotation>
          <xsd:documentation>True/False if counseling is required for the prescription</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CounselNotes" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Notes associated with the patient counseling</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CFDrugImprint  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CFDrugImprint">
    <xsd:sequence>
      <xsd:element name="Description" type="xsd:string"/>
      <xsd:element name="Markings" type="xsd:string"/>
      <xsd:element name="DrugShape" type="xsd:string"/>
      <xsd:element name="Flavor" type="xsd:string"/>
      <xsd:element name="Imprint1" type="xsd:string"/>
      <xsd:element name="Imprint2" type="xsd:string"/>
      <xsd:element name="Color" type="xsd:string"/>
      <xsd:element name="Coating" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CFGenericSubstitutedForBrand  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CFGenericSubstitutedForBrand">
    <xsd:sequence>
      <xsd:element name="SubstitutedBrandDrug" type="xsd:string"/>
      <xsd:element name="SubstitutionMsg" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CFInvList  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CFInvList">
    <xsd:sequence>
      <xsd:element name="DrugDescription" type="datatypes:an1..105">
        <xsd:annotation>
          <xsd:documentation>See Medication for Definition and Usage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DrugCoded" type="datatypes:CFDrugCoded"/>
      <xsd:element name="UnitOfUse" type="ecl:BooleanCode">
        <xsd:annotation>
          <xsd:documentation>Yes or No if Medication has a minimum quantity to be dispensed or must be dispensed in multiples of dispensing metric quantity</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="DispensingMetricQuantity" type="datatypes:Quantity"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CFInventoryList  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CFInventoryList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ReturnReceipt" type="datatypes:an1..3">
        <xsd:annotation>
          <xsd:documentation>If this field is submitted with 1 in the request, a Verify transaction is to be sent from the recipient at some time.
1 = Return Receipt Requested
all other values = no return receipt requested.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EffectiveDate" type="datatypes:DateType">
        <xsd:annotation>
          <xsd:documentation>Date that the associated Drug Inventory List will become effective.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="CFInvList" type="CFspecialized:CFInvList"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CFMandatoryPharmacy  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CFMandatoryPharmacy">
    <xsd:annotation>
      <xsd:documentation>Value P2</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="DBAName" type="datatypes:an1..35">
        <xsd:annotation>
          <xsd:documentation>Doing business as Name.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CFManifest  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CFManifest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an1..3">
        <xsd:annotation>
          <xsd:documentation>If this field is submitted with 1 in the request, a Verify transaction is to be sent from the recipient at some time.
1 = Return Receipt Requested
all other values = no return receipt requested.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CFTote" type="CFspecialized:CFTote"/>
      <xsd:element name="CFManifestDetail" type="CFspecialized:CFManifestDetail"/>
      <xsd:element name="MandatoryPharmacy" type="structures:MandatoryPharmacy"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CFManifestDetail  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CFManifestDetail">
    <xsd:sequence>
      <xsd:element name="CFOrderID" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Unique Identifier assigned by the pharmacy for the prescription fulfillment order</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CFRxCount" type="datatypes:n1..15">
        <xsd:annotation>
          <xsd:documentation>count of the number of prescriptions in the order</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TotalNumberVials" type="datatypes:n1..3">
        <xsd:annotation>
          <xsd:documentation>number of vials for the prescription</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TotalNumberPackages" type="datatypes:n1..3">
        <xsd:annotation>
          <xsd:documentation>number of packages for the prescription</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Patient" type="structures:CFPatient"/>
      <xsd:element name="SourceReference" type="datatypes:an1..35">
        <xsd:annotation>
          <xsd:documentation>Prescription Number associated to medication record.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FillNumber" type="datatypes:n1..2">
        <xsd:annotation>
          <xsd:documentation>Defines the dispensing episode as an initial fill or an authorized refill.
	Values:
	00 = initial fill
	01 = first refill
	02 = second refill, etc
	Allowed values 00 thru 99</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="RxBarCode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Barcode representation of prescription as designated by pharmacy.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DrugDescription" type="datatypes:an1..105">
        <xsd:annotation>
          <xsd:documentation>See Medication for Definition and Usage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DrugCoded" type="datatypes:CFDrugCoded"/>
      <xsd:element name="ManufacturerName" type="datatypes:an1..105">
        <xsd:annotation>
          <xsd:documentation>Manufacturer of the medication being fulfilled</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Quantity" type="datatypes:Quantity">
        <xsd:annotation>
          <xsd:documentation>See Medication for Definition and Usage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CFMedication  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CFMedication">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DrugDescription" type="datatypes:an1..105">
        <xsd:annotation>
          <xsd:documentation>See Medication for Definition and Usage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DrugCoded" type="datatypes:CFDrugCoded"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ManufacturerName" type="datatypes:an1..105">
        <xsd:annotation>
          <xsd:documentation>Manufacturer of the medication being fulfilled</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Quantity" type="datatypes:Quantity">
        <xsd:annotation>
          <xsd:documentation>See Medication for Definition and Usage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Directions" type="datatypes:an1..140">
        <xsd:annotation>
          <xsd:documentation>See Medication for Definition and Usage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DaysSupply" type="datatypes:n1..3">
        <xsd:annotation>
          <xsd:documentation>See Medication for Definition and Usage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="WrittenDate" type="datatypes:DateType">
        <xsd:annotation>
          <xsd:documentation>See Medication for Definition and Usage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DateOfService" type="datatypes:DateType">
        <xsd:annotation>
          <xsd:documentation>Telecommunications field 401-D1</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ExpirationDate" type="datatypes:DateType">
        <xsd:annotation>
          <xsd:documentation>See Medication for Definition and Usage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="0" minOccurs="0" name="EffectiveDate" type="datatypes:DateType">
        <xsd:annotation>
          <xsd:documentation>See Medication for Definition and Usage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="0" minOccurs="0" name="PeriodEnd" type="datatypes:DateType">
        <xsd:annotation>
          <xsd:documentation>See Medication for Definition and Usage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="0" minOccurs="0" name="DeliveredOnDate" type="datatypes:DateType">
        <xsd:annotation>
          <xsd:documentation>See Medication for Definition and Usage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="0" minOccurs="0" name="DateValidated" type="datatypes:DateType">
        <xsd:annotation>
          <xsd:documentation>See Medication for Definition and Usage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="LotNumber" type="structures:LotNumber"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Substitutions" type="ecl:SubstitutionCode">
        <xsd:annotation>
          <xsd:documentation>See Medication for Definition and Usage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="NumberOfRefills" type="datatypes:n1..2">
        <xsd:annotation>
          <xsd:documentation>See Medication for Definition and Usage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="0" minOccurs="0" name="Diagnosis" type="structures:Diagnosis">
        <xsd:annotation>
          <xsd:documentation>See Medication for Definition and Usage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="0" minOccurs="0" name="PriorAuthorization" type="datatypes:PriorAuthorizationID">
        <xsd:annotation>
          <xsd:documentation>See Medication for Definition and Usage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Note" type="datatypes:an1..210">
        <xsd:annotation>
          <xsd:documentation>See Medication for Definition and Usage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="0" minOccurs="0" name="DrugUseEvaluation" type="datatypes:DrugUseEvaluation">
        <xsd:annotation>
          <xsd:documentation>See Medication for Definition and Usage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="0" minOccurs="0" name="DrugCoverageStatusCode" type="ecl:DrugCoverageStatusCode">
        <xsd:annotation>
          <xsd:documentation>See Medication for Definition and Usage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="0" minOccurs="0" name="PriorAuthorizationStatus" type="ecl:PriorAuthorizationStatusCode">
        <xsd:annotation>
          <xsd:documentation>See Medication for Definition and Usage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="OtherCompoundInformation" type="structures:OtherCompoundInformationType">
        <xsd:annotation>
          <xsd:documentation>See Medication for Definition and Usage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="RouteOfAdministration" type="datatypes:RouteOfAdministrationCode">
        <xsd:annotation>
          <xsd:documentation>See Medication for Definition and Usage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="0" minOccurs="0" name="StructuredSIG" type="structures:SIGType">
        <xsd:annotation>
          <xsd:documentation>See Medication for Definition and Usage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Compound" type="CFspecialized:CFCompoundIngredient">
        <xsd:annotation>
          <xsd:documentation>See Medication for Definition and Usage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="0" minOccurs="0" name="SoldDate" type="datatypes:DateType">
        <xsd:annotation>
          <xsd:documentation>See Medication for Definition and Usage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="0" minOccurs="0" name="AdditionalRefillsAuthorized" type="datatypes:n1..2">
        <xsd:annotation>
          <xsd:documentation>See Medication for Definition and Usage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="0" minOccurs="0" name="PharmacyRequestedRefills" type="datatypes:n1..2">
        <xsd:annotation>
          <xsd:documentation>See Medication for Definition and Usage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="0" minOccurs="0" name="DoNotFill" type="ecl:DoNotFillCode">
        <xsd:annotation>
          <xsd:documentation>See Medication for Definition and Usage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="NeededNoLaterThanDate" type="datatypes:UtcDateType">
        <xsd:annotation>
          <xsd:documentation>See Medication for Definition and Usage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="0" minOccurs="0" name="TimeZone" type="datatypes:TimeZone">
        <xsd:annotation>
          <xsd:documentation>See Medication for Definition and Usage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="0" minOccurs="0" name="NeededNoLaterThanReason" type="datatypes:an1..70">
        <xsd:annotation>
          <xsd:documentation>See Medication for Definition and Usage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="RefillsRemaining" type="datatypes:n1..2">
        <xsd:annotation>
          <xsd:documentation>See Medication for Definition and Usage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="0" minOccurs="0" name="HistoryPresciberOrderNumber" type="datatypes:an1..35">
        <xsd:annotation>
          <xsd:documentation>See Medication for Definition and Usage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="0" minOccurs="0" name="OrderCaptureMethod" type="ecl:OrderCaptureMethodCode">
        <xsd:annotation>
          <xsd:documentation>See Medication for Definition and Usage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="0" minOccurs="0" name="Pharmacy" type="structures:OptionalPharmacy">
        <xsd:annotation>
          <xsd:documentation>See Medication for Definition and Usage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="0" minOccurs="0" name="HistorySource" type="datatypes:HistorySource">
        <xsd:annotation>
          <xsd:documentation>See Medication for Definition and Usage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ReasonForSubsitutionCodeUsed" type="ecl:ReasonForSubstitutionCodeUsed">
        <xsd:annotation>
          <xsd:documentation>Restricted text for submitter to define their clarification basis for Substitution code applied.   If Substitutions = 1, ReasonForSubstitutionCodeUsed must contain "Brand Medically Necessary" (for all Medicaid programs).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CFMonograph  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CFMonograph">
    <xsd:sequence>
      <xsd:element name="Binary">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:string">
              <xsd:attribute name="LengthBytes" type="xsd:int" use="required"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Text" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CFOrder  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CFOrder">
    <xsd:sequence>
      <xsd:element name="CFOrderID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Priority" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MailOrder" type="ecl:BooleanCode"/>
      <xsd:element minOccurs="0" name="CFRxCount" type="datatypes:n1..15"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CFPatientold  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CFPatientold">
    <xsd:sequence>
      <xsd:element name="FirstName" type="datatypes:an1..35"/>
      <xsd:element name="LastName" type="datatypes:an1..35">
        <xsd:annotation>
          <xsd:documentation>See PatientFull for Definition and Usage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CFProductInquiry  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CFProductInquiry">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an1..3">
        <xsd:annotation>
          <xsd:documentation>If this field is submitted with 1 in the request, a Verify transaction is to be sent from the recipient at some time.
1 = Return Receipt Requested
all other values = no return receipt requested.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="NeededNoLaterThanDate" type="datatypes:UtcDateType"/>
      <xsd:element name="MandatoryPharmacy" type="structures:MandatoryPharmacy"/>
      <xsd:element name="CFMedication" type="structures:CFMedicationLotOptional"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CFProductInquiryResponse  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CFProductInquiryResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an1..3">
        <xsd:annotation>
          <xsd:documentation>If this field is submitted with 1 in the request, a Verify transaction is to be sent from the recipient at some time.
1 = Return Receipt Requested
all other values = no return receipt requested.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CFResponse" type="CFspecialized:CFResponseType"/>
      <xsd:element name="MandatoryPharmacy" type="structures:MandatoryPharmacy"/>
      <xsd:element maxOccurs="5" minOccurs="0" name="CFMedication" type="structures:CFMedicationLotOptional"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CFResponseType  <<choice>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CFResponseType">
    <xsd:choice>
      <xsd:element minOccurs="0" name="Denied" type="specialized:DeniedType"/>
      <xsd:element minOccurs="0" name="Approved" type="specialized:ApprovedType"/>
    </xsd:choice>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CFRxEntryTechnician  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CFRxEntryTechnician">
    <xsd:annotation>
      <xsd:documentation>Used when information about a specific individual – the Rx entry Technician – is exchanged.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Identification" type="datatypes:ProviderID">
        <xsd:annotation>
          <xsd:documentation>Certification Number of the technician.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="datatypes:NameType">
        <xsd:annotation>
          <xsd:documentation>Name of technician</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="0" minOccurs="0" name="BusinessName" type="datatypes:an1..35">
        <xsd:annotation>
          <xsd:documentation>When pharmacist is not associated with a pharmacy (see Pharmacy element) and a separate business name is needed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="0" minOccurs="0" name="Address" type="datatypes:AddressType"/>
      <xsd:element maxOccurs="0" minOccurs="0" name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
      <xsd:element name="TechnicianInitials" type="datatypes:an1..3">
        <xsd:annotation>
          <xsd:documentation>Designated Technician for transaction Field 637-TF</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CFRxOrderCancel  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CFRxOrderCancel">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an1..3">
        <xsd:annotation>
          <xsd:documentation>If this field is submitted with 1 in the request, a Verify transaction is to be sent from the recipient at some time.
1 = Return Receipt Requested
all other values = no return receipt requested.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MandatoryPharmacy" type="structures:MandatoryPharmacy"/>
      <xsd:element minOccurs="0" name="Facilty" type="datatypes:Facility"/>
      <xsd:element name="Patient" type="structures:CFPatient"/>
      <xsd:element name="CFOrder" type="CFspecialized:CFOrder"/>
      <xsd:element minOccurs="0" name="ShipToEntity" type="CFspecialized:CFShipToEntity"/>
      <xsd:element maxOccurs="99" name="CFRxLabel" type="CFspecialized:CFRxOrderType"/>
      <xsd:element name="CFMedication" type="structures:CFMedicationLotOptional"/>
      <xsd:element name="SupervisingPrescriber" type="structures:SupervisorOptional"/>
      <xsd:element name="Prescriber" type="structures:PrescriberGeneral"/>
      <xsd:element minOccurs="0" name="ShippingInstructions" type="CFspecialized:CFShipping"/>
      <xsd:element minOccurs="0" name="BenefitsCoordination" type="structures:BaseBenefitsCoordination">
        <xsd:annotation>
          <xsd:documentation>Indicates coverage’s known to the sending system.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CFRxOrderCompletion  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CFRxOrderCompletion">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an1..3">
        <xsd:annotation>
          <xsd:documentation>If this field is submitted with 1 in the request, a Verify transaction is to be sent from the recipient at some time.
1 = Return Receipt Requested
all other values = no return receipt requested.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MandatoryPharmacy" type="structures:MandatoryPharmacy"/>
      <xsd:element minOccurs="0" name="Facilty" type="datatypes:Facility"/>
      <xsd:element name="RxOrder" type="CFspecialized:CFRxOrderTypeMandatoryLot"/>
      <xsd:element name="CFOrder" type="CFspecialized:CFOrder"/>
      <xsd:element name="Shipping" type="CFspecialized:CFShipping"/>
      <xsd:element minOccurs="0" name="CFShipToEntity" type="CFspecialized:CFShipToEntity"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CFRxOrderRequest  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CFRxOrderRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an1..3">
        <xsd:annotation>
          <xsd:documentation>If this field is submitted with 1 in the request, a Verify transaction is to be sent from the recipient at some time.
1 = Return Receipt Requested
all other values = no return receipt requested.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MandatoryPharmacy" type="structures:MandatoryPharmacy"/>
      <xsd:element minOccurs="0" name="Facilty" type="datatypes:Facility"/>
      <xsd:element name="Patient" type="structures:CFPatient"/>
      <xsd:element name="Prescriber" type="structures:PrescriberGeneral"/>
      <xsd:element minOccurs="0" name="SupervisingPrescriber" type="structures:SupervisorOptional"/>
      <xsd:element name="CFOrder" type="CFspecialized:CFOrder"/>
      <xsd:element minOccurs="0" name="ShippingInstructions" type="CFspecialized:CFShipping"/>
      <xsd:element minOccurs="0" name="ShipToEntity" type="CFspecialized:CFShipToEntity"/>
      <xsd:element name="CFMedication" type="structures:CFMedicationLotOptional"/>
      <xsd:element maxOccurs="99" name="CFRxLabel" type="CFspecialized:CFRxOrderType"/>
      <xsd:element minOccurs="0" name="BenefitsCoordination" type="structures:BaseBenefitsCoordination">
        <xsd:annotation>
          <xsd:documentation>Indicates coverage’s known to the sending system.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CFRxOrderResponse  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CFRxOrderResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ReturnReceipt" type="datatypes:an1..3">
        <xsd:annotation>
          <xsd:documentation>If this field is submitted with 1 in the request, a Verify transaction is to be sent from the recipient at some time.
1 = Return Receipt Requested
all other values = no return receipt requested.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MandatoryPharmacy" type="structures:MandatoryPharmacy"/>
      <xsd:element minOccurs="0" name="Facilty" type="datatypes:Facility"/>
      <xsd:element name="Patient" type="structures:CFPatient"/>
      <xsd:element name="Prescriber" type="structures:PrescriberGeneral"/>
      <xsd:element minOccurs="0" name="SupervisingPrescriber" type="structures:SupervisorOptional"/>
      <xsd:element name="CFOrder" type="CFspecialized:CFOrder"/>
      <xsd:element minOccurs="0" name="ShippingInstructions" type="CFspecialized:CFShipping"/>
      <xsd:element minOccurs="0" name="ShipToEntity" type="CFspecialized:CFShipToEntity"/>
      <xsd:element name="CFMedication" type="structures:CFMedicationLotOptional"/>
      <xsd:element maxOccurs="99" name="CFRxLabel" type="CFspecialized:CFRxOrderTypeResponse"/>
      <xsd:element minOccurs="0" name="BenefitsCoordination" type="structures:BaseBenefitsCoordination">
        <xsd:annotation>
          <xsd:documentation>Indicates coverage’s known to the sending system.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CFRxOrderType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CFRxOrderType">
    <xsd:sequence>
      <xsd:element name="FillNumber" type="datatypes:n1..2">
        <xsd:annotation>
          <xsd:documentation>Defines the dispensing episode as an initial fill or an authorized refill.
	Values:
	00 = initial fill
	01 = first refill
	02 = second refill, etc
	Allowed values 00 thru 99</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="RxBarCode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Barcode representation of prescription as designated by pharmacy.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ChildResistantPackage" type="ecl:BooleanCode">
        <xsd:annotation>
          <xsd:documentation>Type of prescription packaging patient requires.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="CFGenericSubstitutedForBrand" type="CFspecialized:CFGenericSubstitutedForBrand"/>
      <xsd:element minOccurs="0" name="CFRxEntryTechnician" type="CFspecialized:CFRxEntryTechnician">
        <xsd:annotation>
          <xsd:documentation>Designated prescription entry tech for transaction</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="CFVerificationPharmacist" type="CFspecialized:CFVerificationPharmacist">
        <xsd:annotation>
          <xsd:documentation>Designated verification Pharmacist for transaction</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RxRefillMessage" type="xsd:string"/>
      <xsd:element minOccurs="0" name="RxMessageToPatient" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Patient Specific message to print with label text.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RxInternalMessage" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CFWarningLabel" type="structures:CFWarningLabel">
        <xsd:annotation>
          <xsd:documentation>Warning Label information for prescription label.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="CFDrugImprint" type="CFspecialized:CFDrugImprint">
        <xsd:annotation>
          <xsd:documentation>Drug Imprint information for the medication requested..</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="CFMonograph" type="CFspecialized:CFMonograph">
        <xsd:annotation>
          <xsd:documentation>Drug Monograph information for the medication requested..</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="CFCounsel" type="CFspecialized:CFCounsel">
        <xsd:annotation>
          <xsd:documentation>Counseling Required indicator and text.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="IngredientCost" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Ingredient cost of the medication dispensed.  Include decimal and sign</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="PrescriptionSellPrice" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Total amount paid by all plans involved or cash prescription selling price. Include decimal and sign</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="TotalAmountBrandPenalty" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>total amount of penalty by all plans involved for the selection of a brand name drug.  Include decimal and sign</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="PatientPayAmount" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Field 505-F5 - Amount that is calculated by the processor and returned to the pharmacy as the TOTAL amount to be paid by the patient to the pharmacy; the patient’s total cost share, including copayments, amounts applied to deductible, over maximum amounts, penalties, etc. This is the patient pay amount from the final payer. include decimal and sign</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="CalculatedPrescriptionSellingPrice" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Calculated selling price for the prescription. could be U and C or Gross Amount Due. include decimal and sign</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="DiscountAmount" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Amount of discount that was applied to the prescription.  Include decimal and sign</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ShippingAmount" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Amount of shipping cost that was applied to the prescription.  Include decimal and sign</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="AuthorizationNumber" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Field 503-F3 - Number assigned by the processor to identify an authorized 		transaction.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CFRxOrderTypeMandatoryLot  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CFRxOrderTypeMandatoryLot">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="BenefitsCoordination" type="structures:BenefitsCoordination">
        <xsd:annotation>
          <xsd:documentation>Indicates coverage’s known to the sending system.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SourceReference" type="datatypes:an1..35">
        <xsd:annotation>
          <xsd:documentation>Prescription Number associated to medication record.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FillNumber" type="datatypes:n1..2">
        <xsd:annotation>
          <xsd:documentation>Defines the dispensing episode as an initial fill or an authorized refill.
	Values:
	00 = initial fill
	01 = first refill
	02 = second refill, etc
	Allowed values 00 thru 99</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="RxBarCode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Barcode representation of prescription as designated by pharmacy.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ChildResistantPackage" type="ecl:BooleanCode">
        <xsd:annotation>
          <xsd:documentation>Type of prescription packaging patient requires.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Prescriber" type="structures:PrescriberGeneral">
        <xsd:annotation>
          <xsd:documentation>Attending Physician</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="SupervisorOptional" type="structures:SupervisorOptional">
        <xsd:annotation>
          <xsd:documentation>Supervising Physician</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CFMedication" type="structures:CFMedicationLotMandatory"/>
      <xsd:element minOccurs="0" name="CFGenericSubstitutedForBrand" type="CFspecialized:CFGenericSubstitutedForBrand">
        <xsd:annotation>
          <xsd:documentation>Generic Substitution indicator and label text.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="CFRxEntryTechnician" type="CFspecialized:CFRxEntryTechnician">
        <xsd:annotation>
          <xsd:documentation>Designated prescription entry tech for transaction</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CFVerificationPharmacist" type="CFspecialized:CFVerificationPharmacist">
        <xsd:annotation>
          <xsd:documentation>Designated verification Pharmacist for transaction</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RxRefillMessage" type="xsd:string"/>
      <xsd:element minOccurs="0" name="RxMessageToPatient" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Patient Specific message to print with label text.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RxInternalMessage" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CFWarningLabel" type="structures:CFWarningLabel">
        <xsd:annotation>
          <xsd:documentation>Warning Label information for prescription label.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="CFDrugImprint" type="CFspecialized:CFDrugImprint">
        <xsd:annotation>
          <xsd:documentation>Drug Imprint information for the medication requested..</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="CFMonograph" type="CFspecialized:CFMonograph">
        <xsd:annotation>
          <xsd:documentation>Drug Monograph information for the medication requested..</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="CFCounsel" type="CFspecialized:CFCounsel">
        <xsd:annotation>
          <xsd:documentation>Counseling Required indicator and text.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="IngredientCost" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Ingredient cost of the medication dispensed.  Include decimal and sign</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="PrescriptionSellPrice" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Total amount paid by all plans involved or cash prescription selling price. Include decimal and sign</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="TotalAmountBrandPenalty" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>total amount of penalty by all plans involved for the selection of a brand name drug.  Include decimal and sign</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="PatientPayAmount" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Field 505-F5 - Amount that is calculated by the processor and returned to the pharmacy as the TOTAL amount to be paid by the patient to the pharmacy; the patient’s total cost share, including copayments, amounts applied to deductible, over maximum amounts, penalties, etc. This is the patient pay amount from the final payer. include decimal and sign</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="CalculatedPrescriptionSellingPrice" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Calculated selling price for the prescription. could be U and C or Gross Amount Due. include decimal and sign</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="DiscountAmount" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Amount of discount that was applied to the prescription.  Include decimal and sign</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ShippingAmount" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Amount of shipping cost that was applied to the prescription.  Include decimal and sign</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="AuthorizationNumber" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Field 503-F3 - Number assigned by the processor to identify an authorized 		transaction.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CFRxOrderTypeResponse  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CFRxOrderTypeResponse">
    <xsd:sequence>
      <xsd:element name="FillNumber" type="datatypes:n1..2">
        <xsd:annotation>
          <xsd:documentation>Defines the dispensing episode as an initial fill or an authorized refill.
	Values:
	00 = initial fill
	01 = first refill
	02 = second refill, etc
	Allowed values 00 thru 99</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="RxBarCode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Barcode representation of prescription as designated by pharmacy.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ChildResistantPackage" type="ecl:BooleanCode">
        <xsd:annotation>
          <xsd:documentation>Type of prescription packaging patient requires.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Response" type="specialized:ResponseType"/>
      <xsd:element minOccurs="0" name="CFGenericSubstitutedForBrand" type="CFspecialized:CFGenericSubstitutedForBrand"/>
      <xsd:element minOccurs="0" name="CFRxEntryTechnician" type="CFspecialized:CFRxEntryTechnician">
        <xsd:annotation>
          <xsd:documentation>Designated prescription entry tech for transaction</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="CFVerificationPharmacist" type="CFspecialized:CFVerificationPharmacist">
        <xsd:annotation>
          <xsd:documentation>Designated verification Pharmacist for transaction</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RxRefillMessage" type="xsd:string"/>
      <xsd:element minOccurs="0" name="RxMessageToPatient" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Patient Specific message to print with label text.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RxInternalMessage" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CFWarningLabel" type="structures:CFWarningLabel">
        <xsd:annotation>
          <xsd:documentation>Warning Label information for prescription label.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="CFDrugImprint" type="CFspecialized:CFDrugImprint">
        <xsd:annotation>
          <xsd:documentation>Drug Imprint information for the medication requested..</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="CFMonograph" type="CFspecialized:CFMonograph">
        <xsd:annotation>
          <xsd:documentation>Drug Monograph information for the medication requested..</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="CFCounsel" type="CFspecialized:CFCounsel">
        <xsd:annotation>
          <xsd:documentation>Counseling Required indicator and text.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="IngredientCost" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Ingredient cost of the medication dispensed.  Include decimal and sign</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="PrescriptionSellPrice" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Total amount paid by all plans involved or cash prescription selling price. Include decimal and sign</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="TotalAmountBrandPenalty" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>total amount of penalty by all plans involved for the selection of a brand name drug.  Include decimal and sign</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="PatientPayAmount" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Field 505-F5 - Amount that is calculated by the processor and returned to the pharmacy as the TOTAL amount to be paid by the patient to the pharmacy; the patient’s total cost share, including copayments, amounts applied to deductible, over maximum amounts, penalties, etc. This is the patient pay amount from the final payer. include decimal and sign</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="CalculatedPrescriptionSellingPrice" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Calculated selling price for the prescription. could be U and C or Gross Amount Due. include decimal and sign</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="DiscountAmount" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Amount of discount that was applied to the prescription.  Include decimal and sign</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ShippingAmount" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Amount of shipping cost that was applied to the prescription.  Include decimal and sign</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="AuthorizationNumber" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Field 503-F3 - Number assigned by the processor to identify an authorized 		transaction.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CFShipToEntity  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CFShipToEntity">
    <xsd:sequence>
      <xsd:element name="Name" type="datatypes:NameType"/>
      <xsd:element name="Address" type="datatypes:AddressType">
        <xsd:annotation>
          <xsd:documentation>Required when the order is to be shipped to customer and not the pharmacy.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CommunicationNumbers" type="datatypes:CommunicationNumbersType"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CFShipping  <<choice>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CFShipping">
    <xsd:choice>
      <xsd:element name="ShippingMethod" type="xsd:string"/>
      <xsd:element name="NeededNoLaterThanDate" type="datatypes:UtcDateType">
        <xsd:annotation>
          <xsd:documentation>used to notify the CF facility when the requested order is needed by. only value supported - 203 = CCYYMMDDHHMM; C=Century; Y=Year; M=Month; D=Day; H=Hour; M=Minutes.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="TimeZone" type="datatypes:TimeZone">
        <xsd:annotation>
          <xsd:documentation>Defines the time zone used by the sender.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CFTote  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CFTote">
    <xsd:sequence>
      <xsd:element name="ShipToteIdentification" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Number assigned by Central Fill Facility for the tote</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ToteBarcode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Barcode representation for the Shipping Tote Number</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CFVerificationPharmacist  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CFVerificationPharmacist">
    <xsd:annotation>
      <xsd:documentation>Used when information about a specific individual – the pharmacist – is exchanged.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Pharmacist" type="structures:Pharmacist"/>
      <xsd:element name="PharmacistInitials" type="datatypes:an1..3">
        <xsd:annotation>
          <xsd:documentation>Designated Pharmacist for transaction Field 636-TD</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>